<div class="component component--subheader" data-uri="{{ default _ref self }}" data-editable="info">
  {{#if text}}
    <h2 {{#if anchorId}}id="ip-{{ anchorId }}" {{/if}}class="headline">{{{ text }}}</h2>
  {{/if}}
</div>
