 <div id="google-tag-manager" data-container-id="{{@root.locals.site.googleContainerId}}">
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-{{@root.locals.site.googleContainerId}}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
</div>
