  <button class="component--load-more-content load-more-content__button"
          data-uri="{{ default _ref _self }}"
          data-load-more-uri="{{ loadMoreContentUri }}"
          data-load-more-param="{{ loadMoreContentParam }}"
          data-track-type="load-more-content">
    Load More
  </button>
