<div class="component component--contest-rules contest-rules{{ if @root.locals.edit ' editing' }}" data-uri="{{ default _ref self }}">
    <div class="content-rules__rules-body-text" data-editable="text">
        {{ rulesBodyText }}
        <a class="content-rules__rules-body-text-outro-link">Full Contest Rules.</a>
    </div>
</div>