<section
  role="main"
  class="component component--station-front{{ if @root.locals.edit ' editing' }}"
  data-track-type="section"
  data-uri="{{ default _ref _self }}">
  <div class="station-front__main-content" data-editable="mainContent">
    {{> component-list mainContent }}
  </div>
</section>
