image: node:10.16.3

definitions:
  steps:
    - step: &build
        name: Build Clay & Compile Assets
        script:
          - make install
        artifacts:
          - app/node_modules/**
          - spa/node_modules/**

pipelines:
  default:
    - step: *build
    - parallel:
        - step:
            name: Lint Clay App
            script:
              - cd app && npm run eslint
        - step:
            name: Lint SPA
            script:
              - cd spa && npm run lint -- --no-fix
        - step:
            name: Tests
            script:
              - cd app && npm run test
  custom:
    security-audit:
      - step:
          name: Run `npm audit`
          script:
            - cd app
            - npm audit --only=prod
            - cd ../spa
            - npm audit --only=prod
