<div data-uri="{{ default _ref self }}" class="general-content">
  <h3 class="title" data-editable="title">{{ title }}</h3>
  <div class="content" data-editable="content">{{> component-list content }}</div>
</div>
