<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--favorites{{ if @root.locals.edit ' editing' }}">

  <div id="discover__favorite-stations" class="station-discover__stations-list stations-list--favorite-stations">
    {{> stations-list favoriteStations }}
  </div>

</section>
