<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component--station-favorites{{ if @root.locals.edit ' editing' }}">

  <div id="favorites__favorite-stations">
    {{> stations-list favoriteStations }}
  </div>

</section>
