<aside data-uri="{{ default _ref _self }}" class="component component--share">
  {{#if enabled.facebook }}
    <a target="_blank" href="{{ facebookUrl }}" class="share-link share-link--facebook" title="Share on Facebook" aria-label="Share on Facebook"></a>
  {{/if}}

  {{#if enabled.twitter }}
    <a target="_blank" href="{{ twitterUrl }}" class="share-link share-link--twitter" title="Share on Twitter" aria-label="Share on Twitter"></a>
  {{/if}}

  {{#if enabled.email }}
    <a target="_blank" href="{{ emailUrl }}" class="share-link share-link--email" title="Email" aria-label="Email"></a>
  {{/if}}

  {{#if enabled.link }}
    <button class="share-link share-link--copy-link" title="Copy link" aria-label="Copy link"></button>
  {{/if}}
</aside>
