<div class="component component--podcast-recently-played podcast-recently-played" data-uri="{{ default _ref _self }}">
  <h2>Recent Podcasts</h2>
  <ul class="podcast-recently-played-list">
    <li class="podcast-recently-played-item">
      <div class="podcast-recently-played-show">
        <img src="https://images.radio.com/radio/1501084770.jpg?i1TGiKxPAlKYiuSMJ1_ejxIMImDL.Uva"
             alt="The Mac & Mons Podcast">
        <div class="show__name">The Mac & Monz Podcast</div>
        <div class="show__details">
          A weekly discussion of sports and lifestyle from WFAN’s Brian Monzo and Chris McMonigle.
        </div>
      </div>
    </li>
    <li class="podcast-recently-played-item">
      <div class="podcast-recently-played-show">
        <img src="https://images.radio.com/radio/1501084770.jpg?i1TGiKxPAlKYiuSMJ1_ejxIMImDL.Uva"
             alt="The Mac & Mons Podcast">
        <div class="show__name">The Mac & Monz Podcast</div>
        <div class="show__details">
          A weekly discussion of sports and lifestyle from WFAN’s Brian Monzo and
          Chris McMonigle.
        </div>
      </div>
    </li>
    <li class="podcast-recently-played-item">
      <div class="podcast-recently-played-show">
        <img src="https://images.radio.com/radio/1501084770.jpg?i1TGiKxPAlKYiuSMJ1_ejxIMImDL.Uva"
             alt="The Mac & Mons Podcast">
        <div class="show__name">The Mac & Monz Podcast</div>
        <div class="show__details">
          A weekly discussion of sports and lifestyle from WFAN’s Brian Monzo and
          Chris McMonigle.
        </div>
      </div>
    </li>
    <li class="podcast-recently-played-item">
      <div class="podcast-recently-played-show">
        <img src="https://images.radio.com/radio/1501084770.jpg?i1TGiKxPAlKYiuSMJ1_ejxIMImDL.Uva"
             alt="The Mac & Mons Podcast">
        <div class="show__name">The Mac & Monz Podcast</div>
        <div class="show__details">
          A weekly discussion of sports and lifestyle from WFAN’s Brian Monzo and
          Chris McMonigle.
        </div>
      </div>
    </li>
    <li class="podcast-recently-played-item">
      <div class="podcast-recently-played-show">
        <img src="https://images.radio.com/radio/1501084770.jpg?i1TGiKxPAlKYiuSMJ1_ejxIMImDL.Uva"
             alt="The Mac & Mons Podcast">
        <div class="show__name">The Mac & Monz Podcast</div>
        <div class="show__details">
          A weekly discussion of sports and lifestyle from WFAN’s Brian Monzo and
          Chris McMonigle.
        </div>
      </div>
    </li>
    <li class="podcast-recently-played-item">
      <div class="podcast-recently-played-show">
        <img src="https://images.radio.com/radio/1501084770.jpg?i1TGiKxPAlKYiuSMJ1_ejxIMImDL.Uva"
             alt="The Mac & Mons Podcast">
        <div class="show__name">The Mac & Monz Podcast</div>
        <div class="show__details">
          A weekly discussion of sports and lifestyle from WFAN’s Brian Monzo and
          Chris McMonigle.
        </div>
      </div>
    </li>
  </ul>
</div>





