@import "_global/fonts";

body:not(.kiln-edit-mode) .component--ad-tags {
  display: none;

  .editor-description {
    display: none;
  }
}

.component--ad-tags {
  clear: both;
  margin-bottom: em(15);

  .editor-description {
    margin-bottom: em(10);
  }
}

@media screen and (min-width:600px) {
  .component--ad-tags {
    margin-bottom: em(10);
    margin-top: em(16);
  }
}

@media print {
  .component--ad-tags {
    display: none;
  }
}

.component--ad-tags .ad-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .ad-tags__item {
    border: em(2, 14) solid black;
    display: inline-block;
    margin: 0 em(10, 14) em(10, 14) 0;
    padding: 0 em(6, 14);

    @mixin tags-font1;

    color: black;
  }
}
