.alerts-manager {

    > .alerts-manager__tabs {
        width: 900px;
    }

    &__add-alert {
        display: flex;
        margin: em(5) em(30);

        /*
          originally flex-grow was 1 and .station-select-input had a flex
            grow of 2, but something about the input options being different
            widths caused horizontal movement upon selection.
        */
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 30%;
    }

    &__station-select {
        display: flex;
        flex-grow: 1;

        /*
          the height of .ui-button
          https://github.com/JosephusPaye/Keen-UI/blob/v1.0.2/src/styles/variables.scss#L91
        */
        height: 2.25rem;

        margin: em(5) em(30);
    }

    &__toolbar {
        display: flex;
        justify-content: space-between;
        min-height: em(70);
    }

    &__save-alert {
        width: 100%;
    }

    &__error-message {
        margin: em(15) 0px 0px;
        color: red;
    }

    &__time-picker {
        display: flex;
        justify-content: space-between;

        .ui-datepicker {
            flex-grow: 1;
            margin: em(10) em(10) em(10) 0
        }

        .ui-textbox {
            flex-grow: 1;
            margin: em(10) 0 em(10) em(10)
        }
    }

    .alerts-manager__page-list-headers {
        &.page-list-headers {
            &__start, &__end {
                flex: 1 1 em(225);
                align-items: center;
            }

            &__message {
                flex: 1 1 em(400);
                align-items: center;
            }

            &__icons {
                flex: 1 1 em(50);
                align-items: center;
            }
        }
    }

    .alerts-manager__page-list-item {
        &__start, &__end {
            flex: 1 1 em(225);
            padding: em(5);
        }

        &__message {
            flex: 1 1 em(400);
            padding: em(5);
        }

        &__icons {
            flex: 1 1 em(50);
            padding: em(5)
        }
    }

    .alerts-manager-page-list-item__link {
        font-size: em(14);

        > a {
            font-style: italic;
            color: inherit;
            text-decoration: inherit;
        }
    }
}

.page-list-item__dropdown {
    display: flex;
    flex-direction: column;
}
