@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

$default-screen-nav-width: em(1100);
$large-screen-nav-width: em(940);
$medium-screen-nav-width: em(728);

.component--author-page {
  .author-page__author {
    height: 100%;
    position: relative;
    margin: auto;
    max-width: 100%;
    width: $default-screen-nav-width;
    @mixin large-screen {
      width: $large-screen-nav-width;
    }
    @mixin medium-screen {
      width: $medium-screen-nav-width;
    }
    @media only screen and (max-width: 788px) {
      width: 100%;
      padding: 0 em(20);
    }
    .author__line {
      border-bottom: em(1) solid $parisPurple;
    }
    h1 {
      @mixin page-header-font1;
      text-transform: capitalize;
      position: absolute;
      top: calc(50% - em(22,35));
      background: $white;
      padding: 0 em(15,35) 0 0;
    }
  }
}
