/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--breadcrumbs {
  margin-bottom: em(20);

  .hidden {
    display: none;
  }

  .breadcrumbs__link {
    display: inline-block;
    @mixin article-font12;
    text-transform: uppercase;
    text-decoration: none;

    &--home {
      height: em(10, 14);
      width: em(10, 14);
      margin-right: em(13, 14);
      line-height: em(14, 14);

      &:before {
        display: none;
      }
    }

    .link--home__label {
      display: none;
    }
  }

  .breadcrumbs__separator {
    @mixin article-font12;
    color: theme(primaryColor, $purple);
  }

  @mixin medium-small-screen {
    margin: em(20) 0 em(10);
  }
}
