.content-import {
    display: flex;
    flex-direction: column;
    min-width: em(600);

    &__input {
        display: flex;
        flex-direction: row;
        margin: em(16);
        align-items: center;

        &-textbox {
            flex-grow: 1;
        }
    }

    &__error {
        color: red;
        align-self: center
    }

    .ui-progress-circular {
        align-self: center;
    }
}
