@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

@define-mixin events-list-page-font1 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin events-list-page-font2 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin events-list-page-font3 {
  @mixin font ProximaNova-Regular, 16px, $black, -.26px, 20px;
}
@define-mixin events-list-page-font4 {
  @mixin font ProximaNova-Regular, 16px, $black, -.26px, 20px;
}

.content-card {
  display: flex;
  flex-direction: row;
  margin-bottom: em(32);
  text-decoration: none;

  @mixin medium-small-screen {
    flex-direction: column;
  }

  &__info-container {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @mixin default-screen {
      flex: 0 0 widthOnGrid(5, 4);
    }
    @mixin large-screen {
      flex: 0 0 widthOnGrid(4, 3);
    }
    @mixin medium-screen {
      flex: 0 0 widthOnGrid(3, 2, 'medium-screen');
    }
    @mixin medium-small-screen {
      flex: 0 0 auto;
    }
  }

  &__info-headline {
    @mixin events-list-page-font1;
    margin-bottom: em(16, 22);
    @mixin large-screen {
      @mixin events-list-page-font2;
    }
    @mixin medium-small-screen {
      @mixin events-list-page-font1;
    }
  }

  &__info-dateTime, &__info-venueName {
    @mixin events-list-page-font3;
    display: inline-flex;
    @mixin large-screen {
      @mixin events-list-page-font4;
    }
  }

  &__info-icon {
    flex: 0 0 em(15, 18);
    height: em(15, 18);
    margin-right: em(7, 18);
    .svg-icon {
      fill: theme(primaryColor, $purple);
    }
  }

}
