/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.error-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    width: em(440);
    height: em(300);
    margin-top: em(100);
    margin-bottom: em(30);
  }
  h2 {
    font-family:  CircularStd-Black;
    font-size: 45px;
    color: $black;
    letter-spacing: -0.74px;
    line-height:  em(52, 45);
    margin-bottom: em(5, 45);
  }
  p {
    font-family: ProximaNova-Light;
    font-size: 22px;
    color: $black;
    letter-spacing: -0.36px;
    line-height: em(30, 22);
    margin-bottom: em(40, 22);
  }
  div {
    width: em(300);
    height: em(50);
    background-color: $parisM;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: em(150);
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: normal;
      font-family: CircularStd-Black;
      font-size: 14px;
      color: $white;
      letter-spacing: -0.55px;
      line-height: em(18, 14);
    }
  }
}

@mixin medium-screen {
  .error-page__container {
    p {
      font-family: ProximaNova-Ligh;
      font-size: 24px;
      color: $black;
      letter-spacing: -0.29px;
      line-height: em(24, 24);
    }
    div {
      width: em(465);
    }
  }
}

@mixin medium-small-screen {
  .error-page__container {
    img {
      margin-top: em(50);
    }
    div {
      width: em(440);
    }
    p, h2 {
      max-width: 440px;
    }
  }
}
@mixin small-screen {
  .error-page__container {
    p, h2 {
      max-width: 320px;
    }
    img {
      width: em(320);
      height: em(218);
    }
    div {
      width: em(320);
    }
  }
}
