.component--facebook-post {
  display: block;
  margin: em(16) 0;
  min-height: em(1);
  width: 100%;
  .fb-post.fb_iframe_widget {
    display: flex;
    justify-content: center;
    > span,
    > span iframe {
      width: 100% !important;
    }
  }
}

@media print {
  .component--facebook-post {
    display: none;
  }
}
