.component--gallery {
  .content__slide-settings {
    background: #f4f4f4;
    clear: both;
    margin: 1.25em 0;
    width: 100%;
    .slide-settings__title {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.1666666666666667em;
      margin: 0;
      padding: .625em .8333333333333334em;
    }
    .slide-settings__items {
      border-top: .0625em solid #e8e8e8;
      padding: .9375em 1.25em;
      .item-title {
        color: #4d4d4d;
        font-family: Helvetica,Arial,sans-serif;
        font-size: .75em;
        font-weight: 400;
        line-height: 1.1666666666666667em;
        margin: 0;
        padding: 0 0 .4166666666666667em;
        text-transform: uppercase;
      }
      .item-data {
        font-family: Helvetica,Arial,sans-serif;
        font-size: .875em;
        font-weight: 400;
        line-height: 1.1428571428571428em;
        margin: 0;
        padding: 0;
      }
    }
  }
  .content__ad-container {
    margin-top: em(50);
    width: calc(100% + em(320));
    @mixin default-screen {
      width: em(1100);
      margin-left: em(-160);
    }
    @mixin large-screen {
      width: em(940);
    }
    @mixin medium-screen {
      width: 100%;
      max-width: em(728);
    }
    @mixin medium-small-screen {
      width: 100%;
      max-width: em(440);
    }
    @mixin small-screen {
      width: 100%;
      max-width: em(320);
    }
  }
}
