@import "_global/fonts";
@import "_global/colors";

.component--gallery-slide {
  margin: 0 0 em(40) 0;
  &.editing {
    transition: all 200ms linear 250ms;
    &:hover {
      padding: 0 0 0 em(60);
      outline: em(1) dashed black;
      cursor: grab;
      .gallery-slide__text {
        padding-bottom: em(60);
        transition: all 200ms linear 250ms;
      }
    }
  }

  .gallery-slide__text {
    /* Note: margin-bottom on this element will break our SpaScroll.attachGallerySlideDynamicSlug() logic */
    margin: em(30) 0 0 0;

    .paragraph {
      @mixin gallery-font2;
    }
  }

  .gallery-slide__titlewrapper {
    margin: 0 0 em(15) 0;
  }

  .gallery-slide__number {
    @mixin gallery-font5;
    display: inline-block;
    width: em(25, 18);
    height: em(25, 18);
    border-radius: 50%;
    text-align: center;
    margin: 0 em(15, 18) 0 0;
  }

  .gallery-slide__title {
    @mixin gallery-font1;
    display: inline-block;
  }

  /* If slide embed is an Image component, override standard credit text-alignment. */
  .component--image {
    margin: 0;

    .image-figcaption {
      text-align: right;
      margin: em(5, 12) 0 em(-30, 12) 0;
    }
  }

}

/* Individual Gallery Type Styles */
.component--gallery-slide.component--gallery-slide__default {

  .gallery-slide__number {
    color: $white;
    background: $purple;
  }

}

.component--gallery-slide.component--gallery-slide__music {

  .gallery-slide__number {
    color: $white;
    background: $sunsetOrange;
  }

}

.component--gallery-slide.component--gallery-slide__news {

  .gallery-slide__number {
    color: #444444;
    background: $lightningYellow;
  }

}

.component--gallery-slide.component--gallery-slide__podcasts {

  .gallery-slide__number {
    color: $white;
    background: $robinsEggBlue;
  }

}

.component--gallery-slide.component--gallery-slide__sports {

  .gallery-slide__number {
    color: $white;
    background: $azureRadience;
  }

}

@media screen and (max-width:480px) {
  .component--gallery-slide .gallery-slide__text {
    margin: em(30) 0 em(30) 0;
  }
}
