@import "_global/colors";
@import "_global/mixins";

.advertisement--full {
  position: absolute;
  height: 100%;
  width: 100%;
  .dfp-takeover-skin {
    cursor: pointer;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: em(1400);
  }
}

.kiln-edit-mode .component--google-ad-manager {
  margin-bottom: em(50);
}
.component--google-ad-manager {
  background: $alabaster;
  .google-ad-manager__slot {
    width: 100%;
    height: 100%;
  }
}
.google-ad-manager--billboard,
.google-ad-manager--super-leaderboard,
.google-ad-manager--leaderboard,
.google-ad-manager--mobile {
  width: 100%;
  margin-bottom: em(50);
  &:last-of-type {
    margin-bottom: 0;
  }
  &:first-of-type {
    margin-bottom: em(50);
  }
  .google-ad-manager__slot {
    width: auto;
    height: auto;
    padding: em(20);
    margin: 0 auto;
  }
}
.layout__bottom {
  .google-ad-manager--billboard,
  .google-ad-manager--super-leaderboard,
  .google-ad-manager--leaderboard,
  .google-ad-manager--mobile {
    margin-bottom: 0;
  }
}
.google-ad-manager--half-page,
.google-ad-manager--medium-rectangle,
.google-ad-manager--logo-sponsorship {
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-bottom: em(50);
  .google-ad-manager__slot {
    width: auto;
    height: auto;
    margin: 0 auto;
  }
}
