@import "_global/colors";
@import "_global/mixins";

.kiln-edit-mode .component--google-ad-manager {
	width: 100%;
	height: em(250);
	background: $alabasterGrey;
	margin: 0 auto;
	margin-bottom: em(50);
	.google-ad-manager__slot {
		background: $hawkesBlue;
		margin: 0 auto;
		height: 100%;
	}
}
.component--google-ad-manager {
	background: $alabasterGrey;
	.google-ad-manager__slot {
		width: 100%;
		height: 100%;
		background: $alto;
	}
}
.google-ad-manager--billboard,
.google-ad-manager--super-leaderboard,
.google-ad-manager--leaderboard,
.google-ad-manager--mobile {
	width: 100%;
	margin-bottom: em(50);
	&:last-of-type {
		margin-bottom: 0;
	}
	&:first-of-type {
		margin-bottom: em(50);
	}
	.google-ad-manager__slot {
		width: auto;
		height: auto;
		padding: em(20);
		margin: 0 auto;
	}
}
.google-ad-manager--half-page,
.google-ad-manager--medium-rectangle,
.google-ad-manager--logo-sponsorship {
	width: auto;
	margin: 0 auto;
	margin-bottom: em(50);
	.google-ad-manager__slot {
		width: auto;
		height: auto;
		margin: 0 auto;
	}
}
