@import "_global/colors";

.component--google-ad-manager-slot {
	width: em(300);
	height: em(250);
}
.kiln-edit-mode .component--google-ad-manager-slot {
	outline: 1px solid $boulderGrey;
}
.component--google-ad-manager-slot-728x90 {
	width: em(728);
	height: em(90);
}
.component--google-ad-manager-slot-970x250 {
	width: em(970);
	height: em(250);
}
.component--google-ad-manager-slot-970x90 {
	width: em(970);
	height: em(90);
}
.component--google-ad-manager-slot-300x250 {
	width: em(300);
	height: em(250);
}
.component--google-ad-manager-slot-300x600 {
	width: em(300);
	height: em(600);
}
.component--google-ad-manager-slot-100x35 {
	width: em(100);
	height: em(35);
}
