/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.advertisement--full {
  position: absolute;
  height: 100%;
  width: 100%;
  .dfp-takeover-skin {
    cursor: pointer;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: em(1400);
  }
}

.kiln-edit-mode .component--google-ad-manager {
  margin-bottom: em(50);
}
.component--google-ad-manager {
  &.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: em(100);
    z-index: 2;
    &--station-nav {
      top: em(170);
    }
  }
  background: $alabaster;
  z-index: 0;
  .google-ad-manager__slot {
    width: 100%;
    height: 100%;
  }
}
.google-ad-manager--billboard,
.google-ad-manager--super-leaderboard,
.google-ad-manager--leaderboard,
.google-ad-manager--mobile {
  margin-bottom: em(50);
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @mixin medium-small-screen {
    margin-bottom: em(30);
  }

  .google-ad-manager__slot {
    width: auto;
    height: auto;
    padding: em(20);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.layout__bottom,
.layout__bottomAd {
  .google-ad-manager--billboard,
  .google-ad-manager--super-leaderboard,
  .google-ad-manager--leaderboard,
  .google-ad-manager--mobile {
    margin-bottom: 0;
  }
}
.google-ad-manager--half-page,
.google-ad-manager--medium-rectangle,
.google-ad-manager--logo-sponsorship {
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-bottom: em(50);
  .google-ad-manager__slot {
    width: auto;
    height: auto;
    margin: 0;
  }
}

.google-ad-manager--mobile-adhesion {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;

  .mobile-adhesion__close {
    position: absolute;
    color: $white;
    background-color: $black;
    border-radius: em(16);
    right: 0;
    padding-left: em(5);
    padding-top: em(1);
    height: em(20);
    width: em(20);
    cursor: pointer;
    font-weight: 800;
    border: em(1) solid $white;
  }
}

#freq-dfp--bg-skin ~ .layout__content {
  .google-ad-manager-- {
    &billboard,
    &super-leaderboard,
    &leaderboard,
    &mobile {
      width: 100%;
      margin: 0 0 em(50);
      left: 0;
      right: 0;
    }
  }
}

/*>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<*/
/*>>> GLOBAL LOGO SPONSORSHIP STYLES <<<*/
/*>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<*/

@define-mixin creative-styles {
  width: em(100);
  height: em(35);
  a {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      display: block;
    }
  }
  iframe {
    width: 0;
    height: 0;
  }
}
.google-ad-manager--global-logo-sponsorship {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: em(43);
  background: $alto;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .google-ad-manager__label {
    @mixin global-sponsor-logos-font1;
    margin-right: em(15, 14);
  }
  .google-ad-manager__slot {
    @mixin creative-styles;
  }
}
.google-ad-manager--content-collection-logo-sponsorship {
  background: transparent;
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: em(30);
  @mixin medium-screen {
    justify-content: flex-start;
  }
  @mixin medium-small-screen {
    margin-top: em(30);
  }

  .google-ad-manager__label {
    @mixin global-sponsor-logos-font1;
    margin-right: em(15, 14);
  }
  .google-ad-manager__slot {
    @mixin creative-styles;
  }
}
.google-ad-manager--content-page-logo-sponsorship {
  background: transparent;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: em(25);
  .google-ad-manager__label {
    @mixin global-sponsor-logos-font1;
    margin-right: em(15, 14);
  }
  .google-ad-manager__slot {
    @mixin creative-styles;
  }
  .kiln-permanent-placeholder {
    min-height: 0 !important;
  }
}
