/* stylelint-disable */
.header {
  align-items: center;
  border-bottom: 1px solid #5d5d5d;
  display: flex;
  flex-basis: 344px;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width:0) and (max-width:749.9px) {
  .header {
    height: 48px;
    margin: 0 0 3px;
    padding: 3px 0 0;
  }
}

@media screen and (min-width:0) and (max-width:1023.9px) {
  .header {
    border-top-style: solid;
    border-top-width: 2px;
  }
}

.header:after {
  border-bottom: 1px solid #5d5d5d;
  bottom: -4px;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.header .primary-nav .end,
.header .site-name,
.header-redesign .header-pane .newsletter-signup-link-text,
.header-redesign .site-name {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header .logo-wrapper {
  flex-grow: 1;
}

.header .logo {
  color: #000;
  display: inline-block;
  margin: 0 0 0 12px;
  width: 120px;
}

@media print {
  .header .logo {
    margin-left: 0;
  }

  .header .primary-nav {
    display: none;
  }
}

.header .logo svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.header .follow-list,
.header .tagline,
.header-redesign .header-overlay {
  display: none;
}

.header .header-search {
  margin-left: auto;
}

.header .header-search:after {
  border-right: 1px solid #ddd;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  right: 41px;
  top: 28%;
  z-index: -1;
}

.header .follow-list .follow,
.header .follow-list .sign-up {
  margin: 0 5px 0 0;
}

.header .follow-list .follow:last-child,
.header .follow-list .sign-up:last-child {
  margin: 0;
}

.header .follow-list .follow:after,
.header .follow-list .sign-up:after {
  border-right: 1px solid #ddd;
  content: '';
  display: inline-block;
  height: 55%;
  position: absolute;
  right: 0;
  top: 25%;
}

.header .follow-list .follow:last-child:after,
.header .follow-list .sign-up:last-child:after {
  content: none;
}

.header .nav-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex: 0 0 41px;
  height: 45px;
  margin: 0;
}

.header .nav-mobile svg {
  height: 100%;
  width: 18px;
}

.header .nav-mobile.on {
  background-color: #333;
  border-radius: 4px 4px 0 0;
  transition: background-color .15s;
}

.header .primary-nav {
  background-color: #333;
  display: none;
  left: 0;
  padding: 20px 10px 25px;
  position: absolute;
  top: 45px;
  width: 100%;
}

.header .primary-nav.on {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}

.header .primary-nav .sites {
  border-bottom: 1px solid #3e3e3e;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header .primary-nav .sites .site-list {
  flex-basis: 50%;
  white-space: nowrap;
}

@media screen and (min-width:750px) {
  .header {
    height: 75px;
    padding: 7px 0 0;
  }

  .header .logo {
    margin-left: 18px;
    width: 200px;
  }

  .header .header-search:after {
    height: 26px;
    right: 70px;
    top: 26px;
  }

  .header .nav-mobile {
    flex-basis: 70px;
    height: 100%;
    right: 10px;
  }

  .header .primary-nav .sites {
    border-bottom: none;
    border-right: 1px solid #3e3e3e;
    flex-basis: 40%;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
  }

  .header .primary-nav .sites:before {
    color: #979797;
    content: 'SITES';
    display: block;
    font: 700 10px Arial, sans-serif;
    margin: 0 0 20px;
  }

  .header .primary-nav .sites .site-list {
    flex-basis: 0;
  }
}

.header .primary-nav .sites .nav-sites {
  color: #fff;
  display: inline-block;
  flex-basis: 49%;
  font: 700 14px Arial, sans-serif;
  margin: 0 0 30px;
  text-decoration: none;
}

.header .primary-nav .dropdown-section {
  margin: 20px auto 0;
  padding: 0 10px;
  text-align: center;
  width: 60%;
}

@media screen and (min-width:750px) and (max-width:1023.9px) {
  .header:after {
    bottom: -6px;
  }

  .header .primary-nav {
    top: 72px;
  }

  .header .primary-nav.on {
    display: flex;
    flex-direction: row;
  }

  .header .primary-nav .sites .nav-sites {
    flex-basis: 100%;
  }

  .header .primary-nav .dropdown-section {
    flex-basis: 21%;
    height: 100%;
    margin: 0 0 auto auto;
    text-align: left;
    width: auto;
  }
}

.header .primary-nav .social {
  background-color: #ededeb;
  border-radius: 5px;
  padding: 0 10px;
}

.header .primary-nav .social .follow {
  width: 100%;
}

.header .primary-nav .social .follow:before {
  left: 10px;
}

.header .primary-nav .social .follow:nth-child(n+2) {
  border-top-style: solid;
  border-top-width: 1px;
}

.header .primary-nav .end:focus {
  background-color: transparent;
  clip: initial;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  margin: 15px 0 0;
  padding: 10px 0;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.header.header-bottom .logo-wrapper {
  flex-grow: 0;
}

.header-redesign {
  align-items: center;
  background-color: #fff;
  height: 60px;
  position: relative;
  width: 100%;
  z-index: 999;
}

@media screen and (min-width:1024px) {
  .header:after {
    border-bottom: none;
  }

  .header .header-search {
    margin-right: 20px;
    position: relative;
  }

  .header .header-search:after {
    height: 12px;
    right: -10px;
    top: 9px;
  }

  .header .follow-list {
    display: block;
  }

  .header .nav-mobile,
  .header .primary-nav,
  .header .primary-nav.on {
    display: none;
  }

  .header.header-bottom {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    max-width: 344px;
    padding: 0;
    text-align: center;
  }

  .header.header-bottom .logo {
    margin: 0;
    width: 300px;
  }

  .header.header-bottom .header-search {
    margin: 0 auto 30px;
    order: 1;
  }

  .header.header-bottom .header-search:after {
    content: none;
  }

  .header.header-bottom .follow-list {
    border-top-style: solid;
    border-top-width: 3px;
    margin: 10px 10px 0;
    padding: 13px 0 14px 8px;
    white-space: nowrap;
  }

  .header.header-right {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top: none;
    flex-basis: 100%;
    flex-direction: row;
    height: 95px;
    padding: 7px 10px 0;
  }

  .header.header-right .logo {
    display: block;
    margin: 0;
    width: 225px;
  }

  .header.header-right .follow-list {
    display: block;
    white-space: nowrap;
  }

  .header-redesign {
    margin-left: calc((-100vw + 100%) / 2);
    width: 1180px;
  }
}

.header-redesign button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header,
.header .follow-list,
.header .social .follow:nth-child(n+2) {
  border-top-color: #ccc;
}

.header-redesign .logo-wrapper {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.header-redesign .logo {
  bottom: 0;
  color: #000;
  display: inline-block;
  height: 36px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
}

.header-redesign .logo svg {
  height: 100%;
  max-width: 100%;
}

.header-redesign .header-search {
  bottom: 0;
  height: 42px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width:1024px) {
  .header-redesign .header-search {
    height: 30px;
    margin: auto;
    right: 20px;
  }
}

.header-redesign .header-search:after {
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  right: 41px;
  top: 28%;
  z-index: -1;
}

.header-redesign .header-search .expanded .search-query {
  padding: 0 0 0 25px;
}

.header-redesign .header-pane {
  background-color: #fff;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  text-align: left;
  top: 0;
  transform: translateX(-100%);
  transition: transform .3s, visibility .3s;
  visibility: hidden;
  width: 100%;
  z-index: 3;
}

.header-redesign .header-pane .newsletter-signup-link {
  display: inline-block;
  height: 38px;
  margin: 24px 18px 0 0;
  min-width: 38px;
  width: 38px;
}

.header-redesign .header-pane-content a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.header-redesign .header-pane-content li {
  cursor: pointer;
  list-style-type: none;
}

.header-redesign .header-pane-content ul {
  padding-left: 0;
}

.header-redesign .header-pane-content-primary {
  border-bottom: 2px solid #000;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 0;
  padding-bottom: 12px;
}

.header-redesign .header-pane-content-primary-item a {
  padding: 12px 0;
}

.header-redesign .header-pane-content-secondary {
  font-size: 16px;
  line-height: 2;
  margin-top: 12px;
}

.header-redesign .header-pane-content-secondary a {
  color: #494949;
}

.header-redesign .header-pane-content-secondary-item a {
  padding: 2px;
}

.header-redesign .header-pane.show {
  transform: translateX(0);
  transition: transform .3s, visibility;
  visibility: visible;
}

@media screen and (min-width:600px) {
  .header-redesign .logo {
    width: 200px;
  }

  .header-redesign .header-search:after {
    height: 26px;
    right: 70px;
    top: 26px;
  }

  .header-redesign .header-pane {
    border-right: 2px solid #000;
    display: block;
    width: 375px;
  }

  .header-redesign .header-overlay {
    background-color: #000;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .25s;
    width: 0;
    z-index: -1;
  }
}

@media print {
  .header-redesign .logo {
    margin-left: 0;
  }

  .header-redesign .header-pane {
    display: none;
  }
}

.header-redesign .header-menu-button {
  bottom: 0;
  margin: auto auto auto 20px;
  position: absolute;
  top: 4px;
  z-index: 1;
}

.header-redesign .header-menu-button svg {
  margin: auto;
  position: relative;
}

.header-redesign .header-menu-button-text {
  display: none;
  font-family: Arial, sans-serif;
}

.header-redesign .header-overlay.show {
  opacity: .25;
  width: 100%;
  z-index: 2;
}

.header-redesign .header-wrapper {
  height: 100%;
  position: relative;
  z-index: 1;
}

@media screen and (min-width:1024px) {
  .header-redesign .header-search:after {
    height: 12px;
    right: -10px;
    top: 9px;
  }

  .header-redesign .header-search .expanded .search-query {
    padding: 0 0 0 10px;
  }

  .header-redesign .header-menu-button-text {
    bottom: 4px;
    display: inline;
    font-size: 16px;
    font-weight: 700;
    left: 10px;
    margin: auto;
    position: relative;
  }

  .header-redesign .header-menu-button {
    margin-left: auto;
  }

  .header-redesign .header-wrapper {
    margin: 0 0 0 27px;
    width: calc(100vw - 34px);
  }

  .header-redesign .header-wrapper.fixed {
    padding: 0 20px;
  }
}

.header-redesign .header-wrapper.fixed {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  height: 65px;
  left: 0;
  margin: 0;
  max-width: none;
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (min-width:1024px) {
  .header-redesign .header-wrapper.fixed .header-search {
    right: 20px;
  }
}

@media screen and (min-width:1180px) {
  .header-redesign {
    margin-left: calc((100% - 1180px) / 2);
    max-width: none;
  }

  .header-redesign .header-search {
    right: 0;
  }

  .header-redesign .header-wrapper {
    margin: 0;
    max-width: 1180px;
    width: 100vw;
  }

  .header-redesign .header-wrapper.fixed {
    padding: 0 0 0 calc((100% - 1180px) / 2);
  }

  .header-redesign .header-wrapper.fixed .header-search {
    padding-right: calc((100% - 1180px) / 2);
    right: 0;
  }
}

.header-redesign:after {
  border-bottom: 2px solid #eee;
  bottom: -2px;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.header {
  border-bottom-color: #ccc;
}

@media screen and (min-width:1024px) {
  .header-redesign:after {
    left: calc((100% - 100vw) / 2);
    width: 100vw;
  }

  .header-redesign {
    height: 64px;
  }

  .header .follow-list .follow {
    white-space: nowrap;
  }

  .header .follow-list .sign-up-link {
    margin-right: 0;
    padding-right: 0;
  }

  .header .follow-list .sign-up-link:after {
    display: none;
  }

  .header.header-bottom {
    margin-top: 32px;
  }

  .header.header-bottom .logo {
    width: 276px;
  }
}
