/* stylelint-disable */
@import "_global/mixins";
@import "_global/colors";

.radiocom-nav-placeholder {
  button {
    @mixin inline-block;
    padding: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  ul {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    float: left;
  }
  h1, h2, h3, li {
    padding: 0;
    margin: 0;
    font-weight: normal;
    @mixin inline-block;
  }
  a {
    @mixin inline-block;
    color: #000;
    text-transform: none;
    text-decoration: none;
  }
  height: 60px;
  margin-bottom: 20px;
}
.radiocom-nav {
  background: $parisPurple;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
  height: 60px;
  .container {
    @mixin inline-block;
    text-align: left;
    height: 100%;
    width: 1100px;
  }
  .radiocom-nav__hamburger.wrapper {
    display: none;
    position: relative;
    vertical-align: top;
    margin-right: 20px;
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    .bar {
      position: absolute;
      top: 0;
      left: 0px;
      display: block;
      font-size: 10px;
      padding: 0;
      -webkit-appearance: none;
      color: $white;
      width: 20px;
      height: 3px;
      border-radius: 7px;
      background-color: white;
      -webkit-transition: all 0.2s ease-in;
      -webkit-transform: rotate(0deg);
      &.bar-1.active {
        top: 6px;
        -webkit-transform: rotate(-135deg);
        -webkit-transition: all 0.2s ease-in;
      }
      &.bar-2 {
        top: 6px;
        &.active {
          right: 100px;
          background-color: transparent;
          -webkit-transition: all 0.2s ease-in;
        }
      }
      &.bar-3 {
        top: 12px;
        &.active {
          top: 6px;
          -webkit-transform: rotate(135deg);
          -webkit-transition: all 0.2s ease-in;
        }
      }
    }
  }
  .radiocom-nav__logo {
    @mixin inline-block;
    background: transparent;
    border: 0;
    height: 100%;
    width: 260px;
    padding: 0;
    margin: 0 42px 0 0;
    cursor: pointer;
    img, svg {
      width: 100%;
      height: auto;
      vertical-align: -webkit-baseline-middle;
    }
  }
  $selector: radiocom-nav__category-button;
  .$(selector) {
    @mixin inline-block;
    border: 0;
    height: 100%;
    background: transparent;
    padding: 0 20px;
    cursor: pointer;
    &.$(selector)--active.$(selector)--entertainment,
    &:hover.$(selector)--entertainment {
      background: $sunsetOrange;
    }
    &.$(selector)--active.$(selector)--news,
    &:hover.$(selector)--news {
      background: $lightningYellow;
    }
    &.$(selector)--active.$(selector)--sports,
    &:hover.$(selector)--sports {
      background: $azureRadience;
    }
    &.$(selector)--active.$(selector)--podcasts,
    &:hover.$(selector)--podcasts {
      background: $robinsEgg;
    }
    &.$(selector)--active.$(selector)--listen,
    &:hover.$(selector)--listen,
    &.$(selector)--active.$(selector)--download,
    &:hover.$(selector)--download,
    &.$(selector)--active.$(selector)--more,
    &:hover.$(selector)--more {
      background: $white;
    }
    &.$(selector)--active.$(selector)--listen h1,
    &:hover.$(selector)--listen h1,
    &.$(selector)--active.$(selector)--download h1,
    &:hover.$(selector)--download h1,
    &.$(selector)--active.$(selector)--more h1,
    &:hover.$(selector)--more h1 {
      color: $parisPurple;
    }
    button h1 {
      font-family: CircularStd-Black, sans-serif;
      font-size: 15px;
      color: $white;
      text-transform: uppercase;
      line-height: 60px;
      vertical-align: bottom;
    }
  }
  .radiocom-nav__container--right {
    @mixin inline-block;
    @mixin vertical-align;
    @mixin medium-screen {
      float: right;
    }
    .account-btn {
      vertical-align: middle;
      height: 30px;
      width: 30px;
      margin: 0 20px 0 42px;
      div, img, svg {
        width: 100%;
        height: auto;
      }
      .inactive {
        display: none;
      }
      .active {
        display: block;
      }
      @mixin large-screen {
        margin: 0 20px 0 9px;
      }
      @mixin medium-screen {
        height: 24px;
        width: 24px;
        margin: 0 20px 0 0;
      }
      @mixin medium-small-screen {
        display: none;
      }
    }
    .search-btn {
      vertical-align: middle;
      height: 30px;
      width: 25px;
      div, img, svg {
        width: 100%;
        height: auto;
      }
      .inactive {
        display: none;
      }
      .active {
        display: block;
      }
      @mixin medium-screen {
        height: 20px;
        width: 20px;
      }
    }
  }
  .nav-drawer {
    background: $purple;
    position: fixed;
    display: none;
    top: 60px;
    width: 100%;
    left: 0;
    padding: 50px;
    color: $white;
    cursor: default;
    overflow: hidden;
    &:not(.nav-drawer--mobile) {
      justify-content: center;
      .container {
        display: block;
        text-align: left;
        width: 1100px;
        .nav-drawer__sub-nav {
          @mixin inline-block;
          &:first-of-type {
            margin-right: 100px;
            .nav-drawer__sub-nav--columns {
              @mixin ul-columns 3, 80px;
            }
          }
          &:nth-of-type(2) {
            margin-right: 100px;
            .nav-drawer__sub-nav--columns {
              @mixin ul-columns 2, 80px;
            }
          }
          &:nth-of-type(3) {
            .nav-drawer__sub-nav--columns {
              @mixin ul-columns 1, 80px;
            }
          }
          ul {
            li {
              display: block;
              width: 100px;
              cursor: pointer;
              white-space: nowrap;
              h3 {
                font-family: ProximaNova-Regular, sans-serif;
                font-size: 14px;
                color: $white;
                letter-spacing: -0.23px;
                line-height: 28px;
                text-transform: capitalize;
              }
            }
          }
          h2.find-station-link {
            span {
              font: 500 30px/1em Arial, Helvetica, sans-serif;
              @mixin inline-block;
            }
          }
        }
      }
    }
    &.nav-drawer--active:not(.nav-drawer--mobile) {
      display: flex;
    }
    &.nav-drawer--mobile:not(.nav-drawer--active) {
      display: block;
    }
    &.nav-drawer--active.nav-drawer--mobile {
      transform: translateX(0);
    }
    h2 {
      font-family: CircularStd-Black, sans-serif;
      font-size: 14px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: -0.23px;
      line-height: 28px;
      display: block;
      text-align: left;
    }
    &.nav-drawer--mobile {
      display: inline-block;
      padding: 30px 0;
      transform: translateX(-100%);
      transition: all 100ms linear;
      .nav-drawer__sub-nav {
        margin: 0;
        display: block;
        a {
          width: 100%;
        }
        &.nav-drawer__listen h2:hover,
        &.nav-drawer__download h2:hover,
        &.nav-drawer__more h2:hover {
          background: $white;
          color: $parisPurple;
        }
        &.nav-drawer__sub-nav--active.nav-drawer__entertainment h2,
        &.nav-drawer__entertainment h2:hover {
          background: $sunsetOrange;
        }
        &.nav-drawer__sub-nav--active.nav-drawer__news h2,
        &.nav-drawer__news h2:hover {
          background: $lightningYellow;
        }
        &.nav-drawer__sub-nav--active.nav-drawer__sports h2,
        &.nav-drawer__sports h2:hover {
          background: $azureRadience;
        }
        &.nav-drawer__sub-nav--active.nav-drawer__podcasts h2,
        &.nav-drawer__podcasts h2:hover {
          background: $robinsEgg;
        }
        h2 {
          cursor: pointer;
          text-align: left;
          line-height: 30px;
          display: inline-block;
          width: 100%;
        }
        ul {
          cursor: pointer;
          text-align: left;
          line-height: 30px;
          display: inline-block;
          width: 100%;
          display: none;
        }
        &.nav-drawer__sub-nav--active ul {
          display: block;
        }
        h3 {
          font-family: ProximaNova-Regular, sans-serif;
          font-size: 14px;
          color: $white;
          letter-spacing: -0.23px;
          line-height: 28px;
          text-transform: capitalize;
        }
        li {
          display: block;
        }
      }
      .find-station-link {
        cursor: pointer;
        line-height: 30px;
        display: block;
      }
    }
  }
}
.kiln-wrapper.view-mode {
  top: 46px !important;
}
.kiln-edit-mode {
  .radiocom-nav {
    top: 56px;
  }
}

@mixin large-screen {
  .radiocom-nav .container {
    width: 940px;
  }
  .radiocom-nav .radiocom-nav__logo {
    width: 220px;
    margin: 0 15px 0 0;
  }
  .radiocom-nav .$(selector) {
    padding: 0 15px;
  }
  .nav-drawer:not(.nav-drawer--mobile) .container {
    width: 940px;
    .nav-drawer__sub-nav {
      ul li {
        width: 80px;
      }
      &:first-of-type {
        margin-right: 80px;
        .nav-drawer__sub-nav--columns {
          @mixin ul-columns 3, 80px;
        }
      }
      &:nth-of-type(2) {
        margin-right: 80px;
        .nav-drawer__sub-nav--columns {
          @mixin ul-columns 2, 80px;
        }
      }
      &:nth-of-type(3) {
        .nav-drawer__sub-nav--columns {
          @mixin ul-columns 1, 80px;
        }
      }
    }
  }
}

@mixin medium-screen {
  .radiocom-nav-placeholder {
    height: 46px;
  }
  .radiocom-nav {
    height: 46px;
    .container {
      width: 728px;
      text-align: left;
      .radiocom-nav__hamburger {
        display: inline-block;
      }
      .radiocom-nav__logo {
        width: 180px;
      }
      .$(selector) {
        padding: 0;
        background: transparent;
        button {
          display: none;
        }
      }
      .nav-drawer {
        height: calc(100vh - 46px);
        top: 46px;
        width: calc((100vw - 728px) / 2 + 20px + 20px + 180px);
        &:not(.nav-drawer--mobile) .container {
          width: 728px;
        }
        &.nav-drawer--mobile {
          .nav-drawer__sub-nav {
            h2, ul {
              padding-left: calc((100vw - 728px) / 2);
            }
          }
          .find-station-link {
            padding-left: calc((100vw - 728px) / 2);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 788px) {
  .radiocom-nav .container {
    width: 100%;
    padding: 0 30px;
    .nav-drawer {
      &.nav-drawer--mobile {
        width: calc(30px + 20px + 20px + 180px);
        .nav-drawer__sub-nav {
          h2, ul {
            padding-left: 30px;
          }
        }
        .find-station-link {
          padding-left: 30px;
        }
      }
    }
  }
}

@mixin medium-small-screen {
  .radiocom-nav .container {
    width: 440px;
    text-align: center;
    .radiocom-nav__hamburger.wrapper {
      float: left;
    }
    .nav-drawer {
      &.nav-drawer--mobile {
        width: 100%;
        .nav-drawer__sub-nav {
          h2, ul {
            text-align: center;
            margin: 0;
            padding-left: 0;
          }
          h2 li, ul li {
            width: auto;
          }
        }
        .find-station-link {
          text-align: center;
          margin: 0;
          padding-left: 0;
          width: auto;
        }
      }
    }
  }
}
