.component--homepage {
  .component--google-ad-manager.google-ad-manager--billboard,
  .component--google-ad-manager.google-ad-manager--leaderboard {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
