@import "_global/colors";

.component--html-embed {
  margin-bottom: em(30);
  width: 100%;

  .html-embed__iframe-container {
    position: relative;
    display: block;
    max-width: 100%;
  }

  .iframe-container__padded-container {
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }

  iframe {
    width: 100%;
    min-height: auto;
  }

  .lead & {
    margin-bottom: 0;
  }

  &.edit {
    .html-embed__preview {
      min-height: em(20);
      margin-bottom: em(20);
      border: em(1) solid transparent;
      color: $denim;

      div {
        display: flex;
        width: em(75);
        margin-right: em(10);
      }

      pre {
        overflow-x: auto;
        min-height: em(40);
        max-height: em(240)
      }
  
      &:hover {
        border: em(1) solid #e3f2fd;
      }
    }
  }
}
