@import "_global/fonts";
@import "_global/colors";
@import "_global/mixins";

.component--related {
  border-top: em(5) solid $purple;
  padding-top: em(15);
  margin-bottom: em(40);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  h2 {
    @mixin inline-related-font1;
    text-transform: uppercase;
    margin-bottom: em(10);
    width: 100%;
    order: 1;
  }

  .related__item {
    @mixin inline-related-font4;
    order: 3;
    flex: 1;
  }

  .related__link {
    text-decoration: none;
    display: inline-block;

    &.related__link--main {
      @mixin inline-related-font2;

      @mixin medium-small-screen {
        @mixin inline-related-font3;
      }
    }

    &.related__link--secondary {
      @mixin inline-related-font4;
      margin-top: em(6, 14);
      display: inline-flex;
      align-items: center;
      &.related__link--no-media {
        align-items: baseline;
        .related__headline {
          width: calc(100% - em(8, 14) - em(10, 14));
        }
      }
      .related__headline {
        vertical-align: top;
        display: inline-block;
        width: calc(100% - em(30, 14) - em(10, 14));
      }
    }
  }

  .related__bullet,
  .related__media-icon {
    width: em(8, 14);
    height: em(8, 14);
    margin-right: em(10, 14);
    display: inline-block;
    background-color: $purple;
  }

  .related__media-icon {
    width: em(30, 14);
    height: em(30, 14);
  }

  .related__item--image {
    order: 2;
    margin-right: em(20, 14);
    flex: 0 0 em(widthOnGrid(3, 2), 14);
    @mixin medium-screen {
      flex: 0 0 em(widthOnGrid(2, 1, medium-screen), 14);
    }

    &.related__item--mobile {
      display: none;
    }
    &.related__item--non-mobile {
      display: block;
    }

    img {
      width: em(widthOnGrid(3, 2), 14);
      @mixin medium-screen {
        width: em(widthOnGrid(2, 1, medium-screen), 14);
      }
    }

    @mixin medium-small-screen {
      flex: 100%;
      margin: em(17, 14) 0 em(5, 14) 0;
      &.related__item--mobile {
        display: block;
      }
      &.related__item--non-mobile {
        display: none;
      }

      .related__link {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }

  .kiln-placeholder {
    order: 2;
  }
}

@define-mixin themed-related $class, $color {
  .component--related.component--$class {
    border-color: $color;

    .related__item {
      .related__bullet,
      .related__media-icon {
        background-color: $color;
      }
    }
  }
}
@mixin themed-related entertainment, $sunsetOrange;
@mixin themed-related sports, $azureRadience;
@mixin themed-related news, $lightningYellow;
@mixin themed-related podcasts, $robinsEgg;
