$blue: #1782a9;
$light-grey: #eee;

.component--instagram-post {
  display: block;
  margin: em(16) 0;
  width: 100%;
  .instagram-media-rendered {
    width: 100% !important;
    max-width: none !important;
    margin: 0 auto !important;
  }
}
