@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.latest-content {
  width: 100%;
  align-self: center;

  &__title {
    @mixin latest-content-font1;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: em(50);
    &:before {
      border-top: em(1, 20) solid $parisPurple;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
    span {
      background: $white;
      padding: 0 em(15, 20);
    }
  }
}

.latest-content-sections {
  display: flex;
  @mixin medium-screen {
    flex-direction: column;
    align-items: center;
  }
  @mixin medium-small-screen {
    width: em(440);
  }
  @mixin small-screen {
    width: em(320);
  }
  &__articleList:first-child {
    margin-left: em(0);
  }
  &__articleList {
    width: 100%;
    align-items: center;
    margin-left: em(20);
    @mixin medium-screen {
      margin-left: em(0);
    }
    @mixin medium-small-screen {
      margin-bottom: em(20);
    }
    display: flex;
    z-index: 0;
    flex-direction: column;
    .articleContainer {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      margin-bottom: em(20);

      @mixin medium-small-screen {
        flex-direction: column;
        margin-bottom: em(30);
      }

      .articleContainer__headline {
        align-self: center;
        margin-left: em(20);
        @mixin latest-content-font3;
        @mixin medium-screen {
          @mixin latest-content-font2;
        }
        @mixin medium-small-screen {
          @mixin latest-content-font6;
          align-self: flex-start;
          margin-left: em(0);
        }
      }

      .articleContainer__thumb {
        @mixin medium-small-screen {
          margin-bottom: em(15);
        }
      }
    }
    .articleContainer:first-child {
      display: flex;
      flex-direction: column;
      @mixin medium-screen {
        flex-direction: row;
      }
      @mixin medium-small-screen {
        flex-direction: column;
        margin-bottom: em(30);
      }
      margin-bottom: em(30);

      .articleContainer__headline {
        margin-left: em(0);
        @mixin latest-content-font2;
        align-self: flex-start;
        @mixin medium-screen {
          align-self: center;
          margin-left: em(20);
        }
        @mixin medium-small-screen {
          @mixin latest-content-font6;
          align-self: flex-start;
          margin-left: em(0);
        }
      }
      .articleContainer__thumb {
        margin-bottom: em(15);
        @mixin medium-screen {
          margin-bottom: em(0);
        }
        @mixin medium-small-screen {
          margin-bottom: em(15);
        }
      }
      .articleContainer__sectionContainer {
        position: absolute;
      }
      .articleContainer__sectionTitle {
        position: relative;
        padding: em(6) em(6) em(6) em(6);
        height: em(26);
        left: em(0);
        top: em(6);
        @mixin latest-content-font4;
        @mixin medium-small-screen {
          @mixin latest-content-font7;
        }
        &--news {
          background-color: $lightningYellow;
        }
        &--entertainment {
          background-color: $sunsetOrange;
        }
        &--sports {
          background-color: $azureRadience;
        }
      }
    }
  }
}
