/* fix em with different font sizes */

@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--latest-content {
  width: 100%;
  align-self: center;
  margin: 0 auto em(65) auto;
  max-width: em(widthOnGrid(12,11));

  @mixin medium-small-screen {
    margin-bottom: em(30);
  }

  .latest-content__title {
    @mixin latest-content-font1;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    color: $parisM;

    &:before {
      border-top: em(1, 20) solid $parisM;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
    span {
      background: $white;
      padding: 0 em(15, 20);
    }
  }

  .latest-content__section {
    display: flex;
    margin-top: em(40);

    @mixin medium-screen {
      flex-direction: column;
      margin-top: em(40);
    }
  }

  .section__container {
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: em(15);
    margin-right: em(20);
    width: 100%; /* IE11 */

    @mixin medium-screen {
      margin-right: 0;
    }

    &.section__container-- {
      &entertainment {
         order: 1;
       }
      &news {
         order: 2;
       }
      &sports {
         order: 3;
         padding-right: 0;
       }
    }

    & .container__article-list {
      height: 100%;
      display: flex;
      flex-direction: column;

      & li:first-child {
        flex-grow: 1;
      }
    }
  }


  .articleList__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: em(30);
    position: relative;

    &:hover {
      .picture__image,
      .link__image {
        opacity: 0.9;
      }
      .link__label {
        text-decoration: underline;
        text-decoration-color: $black;
      }
    }

    &.articleList__link--subsequent {
      flex-direction: row;
      margin-bottom: em(20);

      @mixin medium-small-screen {
        flex-direction: column;
      }

      & .link__picture {

        @mixin medium-screen {
          width: 50%;
        }

        @mixin medium-small-screen {
          width: 100%;
        }

        & .picture__image {
          width: em(80);
          height: em(80);
          object-fit: cover;

          @mixin medium-screen {
            flex: none;
            width: 100%;
            height: em(193);
          }

          @mixin medium-small-screen {
            width: 100%;
            max-width: em(widthOnGrid(4, 3, medium-small-screen));
            height: em(248);
          }

          @mixin small-screen {
            width: 100%;
            max-width: em(widthOnGrid(4, 3, small-screen));
            height: em(180);
          }
        }
      }

      & .link__label {
        @mixin latest-content-font3;
        margin-top: 0;
        padding-left: em(20, 14);

        @mixin medium-screen {
          @mixin latest-content-font2;
        }

        @mixin medium-small-screen {
          @mixin latest-content-font6;
          margin-top: em(15, 18);
          padding-left: 0;
        }
      }
    }

    @mixin medium-screen {
      flex-direction: row;
      flex: none;
    }

    @mixin medium-small-screen {
      flex-direction: column;
    }
  }

  .link__label {
    @mixin latest-content-font2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: em(15, 22);
    width: 100%; /* IE11 */

    @mixin medium-screen {
      @mixin latest-content-font2;
      padding-left: em(20, 22);
      width: 50%;
    }

    @mixin medium-small-screen {
      @mixin latest-content-font6;
      margin-top: em(15, 18);
      margin-left: 0;
      width: 100%;
    }
  }

  .link__tag {
    @mixin latest-content-font4;
    height: em(26, 14);
    position: absolute;
    top: 0;
    background-color: $parisM;
    padding: 0 em(6, 14);
    line-height: em(26, 14);

    &:first-letter {
       text-transform: uppercase;
     }

    &--news {
       background-color: $lightningYellow;
     }
    &--entertainment {
       background-color: $sunsetOrange;
     }
    &--sports {
       background-color: $azureRadience;
     }

    @mixin medium-small-screen {
      @mixin latest-content-font7;
      height: em(33, 18);
      line-height: em(33, 18);
    }
  }

  .link__image {
    width: em(widthOnGrid(4,3));
    height: em(168);
    object-fit: cover;

    @mixin medium-screen {
      width: 50%;
      height: em(193);
      flex: none;
    }

    @mixin medium-small-screen {
      width: 100%;
      max-width: em(widthOnGrid(4, 3, medium-small-screen));
      height: em(248);
    }

    @mixin small-screen {
      width: 100%;
      max-width: em(widthOnGrid(4, 3, small-screen));
      height: em(180);
    }
  }
}
