@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";


.load-more-content__button {
  cursor: pointer;
  height: em(50);
  text-transform: uppercase;
  @mixin more-content-feed-font9;
  background-color: $parisPurple;
  margin-top: em(60);
  margin-bottom: em(80);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

