/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--minified-content-feed {
  .minified-content-feed {
    &__title {
      @mixin minified-content-feed-font1;
      margin-bottom: em(19, 16);
      @mixin medium-screen {
        @mixin minified-content-feed-font2;
        text-align: center;
        position: relative;
        &:before {
          border-top: 1px solid theme(primaryColor, $parisM);
          content: "";
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: -1;
        }
        span {
          padding: em(14, 20);
          background: white;
        }
      }
    }
  }
}
