@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--homepage .more-content-feed__top-ad--mobile {
  width: 100%;
  display: none;
  @mixin medium-screen {
    display: block;
  }
  @mixin small-screen {
    display: none;
  }
  .component--google-ad-manager {
    margin-bottom: em(40);
  }
}
.more-content-feed__top-ad--mobile {
  display: none;
}
.component--more-content-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: em(40);
  .more-content-feed__title-line {
      border-bottom: em(1) solid $parisM;
      margin: em(40) 0;
      width: 100%;
      height: 0;
      @mixin medium-screen {
        margin-bottom: em(30);
      }
      @mixin small-screen {
      margin-top: em(30);
    }
  }
  .more-content-feed__title {
    @mixin more-content-feed-font1;
    margin-top: em(28, 20);
    background: #FFF;
    display: inline-block;
    position: absolute;
    padding: 0 em(15, 20);
    @mixin small-screen {
      margin-top: em(18, 20);
    }
  }
  .section__content-feed-container {
    display: inline-flex;
    align-items: start;
    width: 100%;
    .more-content-feed__links {
      width: calc(100% - em(300));
      margin-right: em(20);
      @mixin medium-screen {
        width: 100%;
        margin-right: 0;
      }
      li:not(:last-of-type) {
        margin-bottom: em(30);
      }
      .links__link {
        display: inline-flex;
        text-decoration: none;
        width: 100%;
        @mixin medium-small-screen {
          flex-direction: column;
        }
        @define-mixin labelBackground $sectionFront, $color: $purple {
          &.links__link--$sectionFront {
            .link__thumb .thumb__section-front,
            .link__thumb .thumb__content-type {
              background: $color;
            }
          }
        }
        @mixin labelBackground entertainment, $sunsetOrange;
        @mixin labelBackground news, $lightningYellow;
        @mixin labelBackground sports, $azureRadience;
        @mixin labelBackground podcasts, $robinsEggBlue;
        .link__thumb {
          background-position: 0,0;
          background-size: cover;
          position: relative;
          width: em(widthOnGrid(5,4));
          height: em(214);
          @mixin large-screen {
            width: em(widthOnGrid(4,3));
            height: em(169);
          }
          @mixin medium-screen {
            width: em(widthOnGrid(3,2,medium-screen));
            height: em(193);
          }
          @mixin medium-small-screen {
            width: em(widthOnGrid(4,3,medium-small-screen));
            height: em(248);
            margin-bottom: em(15);
          }
          @mixin small-screen {
            width: em(widthOnGrid(4,3,small-screen));
            height: em(180);
            margin-bottom: em(15);
          }
          .thumb__section-front {
            background: $purple;
            @mixin more-content-feed-font5;
            position: absolute;
            top: 0;
            left: 0;
            line-height: em(26, 14);
            height: em(26, 14);
            padding: 0 em(6, 14);
            text-transform: capitalize;
            @mixin medium-small-screen {
              @mixin more-content-feed-font8;
              height: em(33, 18);
              line-height: em(33, 18);
              padding: 0 em(6, 18);
            }
          }
          .thumb__content-type {
            background: $purple;
            position: absolute;
            bottom: 0;
            left: 0;
            height: em(30);
            width: em(30);
            svg {
              width: 100%;
              height: 100%;
            }
          }
          .thumb__datetime-posted {
            @mixin more-content-feed-font4;
            position: absolute;
            bottom: 0;
            left: 100%;
            width: 100%;
            display: block;
            margin-left: em(20, 12);
            @mixin medium-small-screen {
              display: none;
            }
          }
        }
        .link__info {
          width: calc(100% - em(widthOnGrid(4,3)));
          padding-left: em(20);
          position: relative;
          display: inline-flex;
          flex-direction: column;
          align-self: center;
          @mixin medium-screen {
            width: calc(100% - em(widthOnGrid(3,2, medium-screen)));
          }
          @mixin medium-small-screen {
            width: 100%;
            padding: 0;
          }
          .info__headline {
            @mixin more-content-feed-font2;
            display: block;
            margin-bottom: em(10, 22);
            @mixin large-screen {
              @mixin more-content-feed-font6;
              margin-bottom: em(10, 18);
            }
            @mixin medium-small-screen {
              @mixin more-content-feed-font2;
              margin-bottom: em(10, 22);
            }
          }
          .info__teaser {
            @mixin more-content-feed-font3;
            display: block;
            @mixin large-screen {
              @mixin more-content-feed-font7;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            @mixin medium-screen {
              text-overflow: unset;
              overflow: visible;
              white-space: normal;
            }
            @media all and (max-width: 700px) {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            @mixin medium-small-screen {
              margin-bottom: em(15, 16);
              margin-top: 0;
              text-overflow: unset;
              overflow: visible;
              white-space: normal;
            }
          }
          .info__datetime-posted {
            display: none;
            @mixin medium-small-screen {
              display: block;
              @mixin more-content-feed-font4;
            }
          }
        }
      }
    }
    .more-content-feed__right-ad--desktop {
      width: em(300);
      aside {
        border-top: 6px solid $parisPurple;
        padding: em(20) 0;
        margin-bottom: em(30);
        @mixin tag-page-font3;
      }
      @mixin medium-screen {
        display: none;
      }
    }
  }
}
