@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--more-content-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: em(40);
  padding-bottom: em(80);

  @mixin medium-small-screen {
    padding-bottom: em(50);
  }

  h2 {
    @mixin more-content-feed-font1;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    color: $parisM;

    &:before {
       border-top: em(1, 20) solid $parisM;
       content: "";
       margin: 0 auto;
       position: absolute;
       top: 50%;
       left: 0;
       right: 0;
       bottom: 0;
       width: 100%;
       z-index: -1;
     }
    span {
      background: $white;
      padding: 0 em(15, 20);
    }

    @mixin medium-screen {
      margin-bottom: em(30);
    }
    @mixin small-screen {
      margin-top: em(30);
    }
  }

  .more-content-feed__container {
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    position: relative;
    padding-top: em(40);
  }
  .more-content-feed__left-content {
    margin-right: em(20);
    @mixin large-screen {
      margin-right: 0;
    }
    @mixin medium-screen {
      width: 100%;
      padding-right: 0;
    }
    li:not(:last-of-type) {
      margin-bottom: em(30);
    }
    .links__link {
      display: inline-flex;
      text-decoration: none;
      width: 100%;

      &:hover {
        .thumb__container {
          opacity: 0.9;
        }
        .info__headline {
          text-decoration: underline;
          text-decoration-color: $black;
        }
      }

      @mixin medium-small-screen {
        flex-direction: column;
      }

      .thumb__container {
        display: flex;
        position: relative;

        @mixin medium-screen {
          max-width: em(widthOnGrid(3,2,medium-screen));
          height: em(193);
          width: 50%;
        }

        @mixin medium-small-screen {
          max-width: inherit;
          height: em(248);
          width: inherit;
        }

        @mixin small-screen {
          height: em(180);
        }

        .thumb__section-front {
          background: $purple;
          @mixin more-content-feed-font5;
          position: absolute;
          line-height: em(26, 14);
          height: em(26, 14);
          padding: 0 em(6, 14);
          text-transform: capitalize;
          @mixin medium-small-screen {
            @mixin more-content-feed-font8;
            height: em(33, 18);
            line-height: em(33, 18);
            padding: 0 em(6, 18);
          }
        }
        .thumb__content-type {
          background: $purple;
          position: absolute;
          align-self: center;
          left: 0;
          bottom: 0;
          height: em(30);
          width: em(30);
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .link__thumb {
          width: em(widthOnGrid(5,4));
          height: em(214);
          object-fit: cover;
          @mixin large-screen {
            width: em(widthOnGrid(4,3));
            height: em(169);
          }
          @mixin medium-screen {
            width: 100%;
            height: 100%;
          }
          @mixin medium-small-screen {
            width: 100%;
            height: em(248);
            max-width: em(440);
            margin-bottom: em(15);
          }
          @mixin small-screen {
            width: 100%;
            height: em(180);
            margin-bottom: em(15);
          }
        }
      }

      @define-mixin labelBackground $sectionFront, $color: $purple {
        &.links__link--$sectionFront {
          .thumb__section-front,
          .thumb__content-type {
            background: $color;
          }
        }
      }
      @mixin labelBackground music, $sunsetOrange;
      @mixin labelBackground news, $lightningYellow;
      @mixin labelBackground sports, $azureRadience;
      @mixin labelBackground podcasts, $robinsEggBlue;

      .link__info {
        padding-left: em(20);
        /*position: relative;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: em(widthOnGrid(5,4));

        @mixin large-screen {
          width: em(widthOnGrid(4,3));
        }
        @mixin medium-screen {
          max-width: em(widthOnGrid(3,2,medium-screen));
          width: 50%;
        }
        @mixin medium-small-screen {
          width: 100%;
          height: auto;
          padding: 0;
        }
        .link__header {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-self: center;

          .info__headline {
            @mixin more-content-feed-font2;
            display: block;
            margin-bottom: em(10, 22);
            @mixin large-screen {
              @mixin more-content-feed-font6;
              margin-bottom: em(10, 18);
            }
            @mixin medium-small-screen {
              @mixin more-content-feed-font2;
              margin-bottom: em(10, 22);
            }
          }
          .info__teaser {
            @mixin more-content-feed-font3;
            display: block;
            @mixin large-screen {
              @mixin more-content-feed-font7;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            @mixin medium-screen {
              text-overflow: unset;
              overflow: visible;
              white-space: normal;
            }
            @media all and (max-width: 700px) {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            @mixin medium-small-screen {
              margin-bottom: em(15, 16);
              margin-top: 0;
              text-overflow: unset;
              overflow: visible;
              white-space: normal;
            }
          }
        }
        .info__datetime-posted {
          @mixin more-content-feed-font4;

          @mixin medium-small-screen {
            @mixin more-content-feed-font4;
          }
        }
      }
    }
  }

  .more-content-feed__loadmore {
    cursor: pointer;
    height: em(50, 20);
    text-transform: uppercase;
    @mixin more-content-feed-font1;
    background-color: $parisPurple;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .loadmore__text {
    @mixin more-content-feed-font9;
  }

  .more-content-feed__right-ad--desktop {
    width: em(300);
    height: 100%;
    position: absolute;
    right: 0;
    aside {
      border-top: 6px solid $parisPurple;
      padding: em(20) 0;
      margin-bottom: em(30);
      @mixin more-content-feed-font3;
    }
    @mixin medium-screen {
      display: none;
    }
  }
}
