@import "_global/mixins";

.component--multi-column {
  margin-bottom: em(40);
  width: 100%;

  .multi-column {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @mixin small-screen {
      margin-bottom: em(20);
    }
  }

  .multi-column__column {
    display: flex;
    flex-direction: column;

    .multi-column__editable {
      margin-bottom: em(20);
      @mixin medium-screen {
        margin-bottom: 0;
      }
    }

    &--left {
      
      @mixin default-screen {
        flex: 0 0 widthOnGrid(6, 5);
        margin-right: em(20);
      }
      @mixin large-screen {
        flex: 0 0 widthOnGrid(4, 3);
        margin-right: em(20);
      }
      @mixin medium-screen {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: em(20);
      }
    }

    &--middle {
      @mixin default-screen {
        flex: 0 0 widthOnGrid(4, 3);
        margin-right: em(20);
      }
      @mixin large-screen {
        flex: 0 0 widthOnGrid(4, 3);
        margin-right: em(20);
      }
      @mixin medium-screen {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: em(20);
      }
    }

    &--right {
      @mixin default-screen {
        flex: 0 0 widthOnGrid(4, 3);
      }
      @mixin large-screen {
        flex: 0 0 widthOnGrid(4, 3);
      }
      @mixin medium-screen {
        flex: 0 0 100%;
        margin-right: 0;
      }
    }
  }

  .multi-column__ad--half-page {
    @mixin medium-screen {
      display: none;
    }
  }

  .multi-column__ad--billboard {
    display: none;

    @mixin small-screen {
      display: block;
    }
  }
}
