.national-subscriptions {
  min-width: calc(95vw - 200px);
  padding: 1.5em;
  header {
    display: flex;
    justify-content: space-between;
  }
  header .title {
    margin-bottom: 0;
  }
  table {
    width: 100%;
  }
  table th {
    text-align: left;
    background: #333;
    color: #ccc;
    text-transform: uppercase;
  }
  table th,
  table td {
    padding: 0.5em;
  }
  table tfoot td {
    background: rgba(96, 124, 138, 0.1);
    padding: 0.5em;
  }
  table tfoot button {
    width: 100%;
  }
  table tr {
    border-bottom: 1px solid #ddd;
  }
}
