@import '_global/reset';
@import '_global/fonts';
@import '_global/grid';
@import '_global/spa';
@import "_global/colors";
@import "_global/alert-banner";
@import "_global/layouts";
@import "_global/permissions";

.layout--one-column {
  height: 100vh;
  .layout__page-header,
  .layout__bottom,
  .layout__bottomAd {
    z-index: 2;
    position: relative
  }
  .layout__content,
  .layout__bottomSection {
    z-index: 3;
    position: relative;
  }
  .layout__content {
    background: $white;
  }
}
