@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.has-fullpage-ad .component--topic-page-header {
  background: $white;
}

.component--page-header {
  h1 {
    @mixin page-header-font1;
    z-index: 2;
    margin:0 auto em(20, 35) auto;
    text-transform: capitalize;
    display: table;
    white-space: nowrap;
    width: em(1100, 35);
    padding-right: em(15, 35);
    color: theme(primaryColor, $parisM);

  @mixin large-screen {
    width: em(940, 35);
    @mixin page-header-font2;
  }

  @mixin medium-screen {
    width: calc(100% - em(60, 35));
    max-width: em(728, 35);
  }

  @mixin medium-small-screen {
    width: 100%;
    margin-bottom: em(30, 35);
  }

  &:after {
     border-top: em(1, 35) solid theme(primaryColor, $parisM);
     content: '';
     display: table-cell;
     position: relative;
     top: em(45, 35);
     left: em(15, 35);
     width: 100%;
     @mixin large-screen {
       top: em(21, 35);
     }
   }
  }

  .topic-page-header__banner {
    height: em(110);
  }
}
