/* stylelint-disable */

@import "_global/fonts";
@import "_global/colors";

.paragraph,
.paragraph ol li,
.paragraph p,
.paragraph p a,
.paragraph ul li,
.paragraph+ol li,
.paragraph+ul li {
  @mixin article-font7;
}
.paragraph {
  margin: 0 0 30px;
  p {
    margin: 0;
  }
  a {
    background: linear-gradient(to bottom, transparent 0, transparent 80%, rgba($(sunsetOrangeRGB), .50) 80%, rgba($(sunsetOrangeRGB), .50) 100%);
    transition: all 300ms linear;
    padding: 0;
    &:hover {
      background: linear-gradient(to bottom, rgba($(sunsetOrangeRGB), .50) 0, rgba($(sunsetOrangeRGB), .50) 100%);
    }
    &:link, &:visited, &:hover, &:active, &:focus, &:focus-within {
      color: $black;
      text-decoration: none;
    }
    @define-mixin article-link-color $category, $color {
      .article[data-type=$(category)] & {
        background: linear-gradient(to bottom, transparent 0, transparent 80%, rgba($($(color)RGB), .50) 80%, rgba($($(color)RGB), .50) 100%);
        &:hover {
          background: linear-gradient(to bottom, rgba($($(color)RGB), .50) 0, rgba($($(color)RGB), .50) 100%);
        }
      }
    }
    @mixin article-link-color Sports, azureRadience;
    @mixin article-link-color News, lightningYellow;
    @mixin article-link-color Podcasts, robinsEgg;
    @mixin article-link-color Music, sunsetOrange;
    @mixin article-link-color Entertainment, sunsetOrange;
  }
  strong {
    @mixin article-font8;
  }
  + ul,
  ul {
    clear: both;
    line-height: 23px;
    margin: 0;
    padding: 0 0 0 10px;
    li {
      list-style: none;
      margin: 0 0 20px;
      &:before {
        color: #1782a9;
        content: '•';
        left: 0;
        position: absolute;
      }
    }
  }
  + ol,
  ol {
    clear: both;
    counter-reset: list;
    line-height: 23px;
    margin: 30px 0;
    padding: 0 0 0 20px;
    li {
      list-style: none;
      margin: 0 0 20px;
      padding: 0;
      &:before {
        @mixin article-font7;
        color: $boulderGrey;
        content: counter(list);
        counter-increment: list;
        left: 0;
        position: absolute;
      }
    }
  }
}

.sponsored .paragraph {
  margin-bottom: 20px;
}

@media print {
  .paragraph {
    margin: 0 auto 20px;
    width: 80%;
  }

  .paragraph,
  .paragraph ol li,
  .paragraph p,
  .paragraph ul li,
  .paragraph+ol li,
  .paragraph+ul li {
    font-size: 11px;
    line-height: 12px;
  }
}
