/* stylelint-disable */

@import "_global/fonts";
@import "_global/colors";
@import "_global/mixins";

.paragraph,
.paragraph ol li,
.paragraph p,
.paragraph p a,
.paragraph ul li,
.paragraph~ol li,
.paragraph~ul li {
  @mixin article-font7;
}
.paragraph {
  margin: 0 0 em(30, 18);
  p {
    margin: 0;
  }
  a {
    @mixin anchor $sunsetOrangeRGB;

    transition: all 300ms linear;
    padding: 0;
    &:link, &:visited, &:hover, &:active, &:focus, &:focus-within {
      color: $black;
      text-decoration: none;
    }
  }

  strong {
    @mixin article-font8;
  }
  ~ ul,
  ul {
    clear: both;
    line-height: em(23, 18);
    margin: 0;
    padding: 0 0 0 em(10, 18);
    list-style: disc;
    margin-block-start: em(1);
    margin-block-end: em(1);
    margin-inline-start: em(0);
    margin-inline-end: 0px;
    padding-inline-start: em(40, 18);
  }
  ~ ol,
  ol {
    clear: both;
    counter-reset: list;
    line-height: em(23, 18);
    margin: em(30, 18) 0;
    padding: 0 0 0 em(20, 18);
    li {
      list-style: none;
      margin: 0 0 em(20, 18);
      padding: 0;
      &:before {
        @mixin article-font7;
        color: $boulder;
        content: counter(list);
        counter-increment: list;
        left: 0;
        position: absolute;
      }
    }
  }
}

.sponsored .paragraph {
  margin-bottom: em(20, 18);
}

@media print {
  .paragraph {
    margin: 0 auto em(20, 18);
    width: 80%;
  }
  .paragraph,
  .paragraph ol li,
  .paragraph p,
  .paragraph ul li,
  .paragraph~ol li,
  .paragraph~ul li {
    font-size: em(11, 16);
    line-height: em(12, 11);
  }
}

