@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

@define-mixin podcast-front-font1 {
  @mixin font CircularStd-Black, 14px, $white, -0.55px, 17px;
}

.component--podcast-front-page {
  &.podcast-front-page {
    .all-podcasts {
      width: em(780, 14);
      height: em(50, 14);
      background: $purple;
      @mixin podcast-front-font1;
      text-transform: uppercase;
    }
  }
}
