@import "_global/fonts";
@import "_global/colors";
@import "_global/mixins";

@define-mixin podcast-lead-subheading-font {
  @mixin font CircularStd-Medium, 12px, $boulder, -.58px, 18px;
}

@define-mixin podcast-lead-heading-font {
  @mixin font CircularStd-Black, 35px, $22gray, -.58px, 42px;
}

@define-mixin podcast-lead-heading-sm-font {
  @mixin font CircularStd-Black, 24px, $black, -.58px, 29px;
}

@define-mixin podcast-lead-heading-link-font {
  @mixin font CircularStd-Medium, 12px, $parisM, -.58px, 18px;
}

@define-mixin podcast-lead-see-all-font {
  @mixin font CircularStd-Black, 15px, $robinsEgg, -.24px, 18.98px;
}

@define-mixin podcast-lead-station-description-font {
  @mixin font ProximaNova-Light, 18px, $black, -.24px, 25px;
}

@define-mixin podcast-lead-category-font {
  @mixin font CircularStd-Medium, 11px, $boulder, -.24px, 14px;
}

@define-mixin podcast-lead-share-label-font {
  @mixin font CircularStd-Medium, 11px, $boulder, -.24px, 14px;
}

.podcast-lead {
  margin-bottom: em(20);

  &__head--sm {
    display: none;
    flex-direction: column;
    margin-bottom: em(13);
  }

  &__image {
    display: flex;
    flex-wrap: wrap;
    background-color: $white;
    border: em(1) solid $mercury;

    @mixin default-screen {
      flex: 0 0 widthOnGrid(4, 3);
      max-width: widthOnGrid(4, 3);
    }

    @mixin large-screen {
      flex: 0 0 widthOnGrid(3, 2);
      max-width: widthOnGrid(3, 2);
    }

    @mixin medium-screen {
      flex: 0 0 widthOnGrid(2, 1, medium-screen);
      max-width: widthOnGrid(2, 1, medium-screen);
    }

    @mixin medium-small-screen {
      flex: 0 0 widthOnGrid(2, 1, medium-small-screen);
      max-width: widthOnGrid(2, 1, medium-small-screen);
    }

    @mixin small-screen {
      flex: 0 0 widthOnGrid(2, 1, small-screen);
      max-width: widthOnGrid(2, 1, small-screen);
    }

  }

  &__email-svg--hidden {
    position: absolute;
    width: 0;
    height: 0;
  }

  &__main {
    display: flex;

    .podcast-lead__image-podcast {
      position: relative;

      .image__play-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 em(10) em(10) 0;
        width: em(48);
        height: em(48);
        &.show__play {
          @mixin show__play;
        }

        &.show__pause {
          @mixin show__pause
        }
        &.show__stop {
          @mixin show__stop
        }
        &:hover {
          opacity: 0.7;
        }

      }
    }


    .main__content {
      display: flex;
      margin-left: em(20);
      flex-wrap: wrap;
      align-content: baseline;
      position: relative;
      @mixin medium-small-screen {
        margin-left: em(10);
      }
    }
  }

  &__heading, &__heading--sm {
    @mixin podcast-lead-heading-font;
    flex-basis: 100%;
    @mixin medium-small-screen {
      @mixin podcast-lead-heading-sm-font;
    }
  }

  &__subheading, &__subheading--sm {
    @mixin podcast-lead-subheading-font;
    text-align: left;
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: em(20,12);

    span {
      margin-right: em(12,12);
      &.podcast-lead__meta-icon {
        margin: 0;
        margin-right: .5em;
      }
    }

    a {
      @mixin podcast-lead-heading-link-font;
      width: em(76,12);
      text-align: left;
    }
  }

  &__see-all {
    @mixin podcast-lead-see-all-font;
    text-align: left;
    flex-basis: 100%;
    max-height: em(19,15);
    text-decoration: none;
    margin-bottom: em(20,15);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    svg {
      height: em(12,15);
      display: block;
      margin-left: em(5,15);
    }
  }

  &__station-description, &__station-description--episode, &__station-description--sm {
    @mixin podcast-lead-station-description-font;
    max-width: em(780,18);
    text-align: left;
    flex-basis: 100%;
    @mixin nav-mobile-breakpoint {
      display: none;
    }
    &--episode {
      display: flex;
      margin-top: em(15,18);
    }
    &--sm {
      margin-bottom: em(13,18);
    }
  }

  &__category {
    @mixin podcast-lead-category-font;
    max-width: em(238,11);
    text-align: left;
    flex-basis: 100%;
  }

  &__social, &__social--md {
    display: flex;
    flex-basis: 100%;
    margin-top: em(20);

    @mixin default-screen {
      position: absolute;
      bottom: 0;
    }

    @mixin large-screen {
      display: none;
    }

    @mixin medium-screen {
      display: none;
    }

    @mixin medium-small-screen {
      display: flex;
      position: relative;
    }

    @mixin small-screen {
      display: flex;
      position: relative;
    }

    &--md {
      @mixin default-screen {
        display: none;
        position: relative;
      }

      @mixin large-screen {
        display: flex;
        position: relative;
      }

      @mixin medium-screen {
        display: flex;
        position: relative;
      }

      @mixin medium-small-screen {
        display: none;
      }

      @mixin small-screen {
        display: none;
      }
    }
  }

  &__share-label {
    @mixin podcast-lead-share-label-font;
    width: em(71,11);
    text-align: left;
    margin-bottom: em(11, 11);
  }

  &__share-actions {
    display: flex;
    margin-right: em(20);
  }

  &__subscribe-link, &__share-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: em(1) solid $alto;
    height: em(32);
    width: em(32);
  }
  &__share-link {
    /* Set each item to constant 40x40px, including border */
    width: em(40);
    height: em(40);
    border: em(1) solid $alto;
    box-sizing: border-box;
    /* Center image, set size to 20x20px, and don't repeat it */
    background: center/em(20) em(20) no-repeat;

    &--twitter {
      background-image: url("/media/components/share/twitter.svg");
      background-size: auto em(17); /* Firefox scaling/bounding fix */
      &:hover,
      &:active {
        background-color: $cerulean;
        border-color: $cerulean;
        background-image: url("/media/components/share/twitter--hover.svg");
      }
    }

    &--facebook {
      background-image: url("/media/components/share/facebook.svg");
      background-size: auto em(22); /* Increase FB image height to 22px */
      &:hover,
      &:active {
        background-color: $chambray;
        border-color: $chambray;
        background-image: url("/media/components/share/facebook--hover.svg");
      }
    }

    &--email {
      background-image: url("/media/components/share/email.svg");
      &:hover,
      &:active {
        background-color: $parisM;
        border-color: $parisM;
        background-image: url("/media/components/share/email--hover.svg");
      }
    }
  }

  @mixin medium-small-screen {
    &__head, &__station-description {
      &--sm {
        display: flex;
      }
    }
    &__heading, &__subheading {
      display: none;
    }
  }

}

