@import "_global/fonts";
@import "_global/colors";
@import "_global/mixins";

.podcast-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcast-preview__link {
  color: $black;
  margin: em(10);
  text-decoration: none;
}

.podcast-preview__image {
  width: em(200);
  height: em(200);
}

.component--podcast-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @mixin medium-small-screen {
    margin-bottom: em(35);
  }
  @mixin small-screen {
    margin-bottom: em(35);
  }
}

.podcast-list__item {
  max-width: em(220);
  margin: 0 em(10) em(50) em(20);
}

.podcast-list__title {
  @mixin podcast-list-font2;
  text-decoration: none;
  margin-top: em(15);
}

.podcast-list__image {
  width: em(220);
  height: em(220);
  @mixin large-screen {
    width: em(343);
    height: em(343);
  }
  @mixin medium-screen {
    width: em(210);
    height: em(210);
  }
  @mixin medium-small-screen {
    width: em(210);
    height: em(210);
  }
  @mixin small-screen {
    width: em(150);
    height: em(150);
  }
}

.podcast-list__link {
  margin-top: em(10);
  @mixin podcast-list-font4;
  text-decoration: none;
  text-transform: uppercase;
  color: $robinsEgg;
  svg {
    fill: $robinsEgg;
    height: em(10);
    width: em(10);
  }
}

.podcast-list__item {
  max-width: em(220);
  margin: 0 em(10) em(50) em(20);
  @mixin large-screen {
    margin: 0 em(10) em(60) em(20);
    max-width: em(343);
    flex: 1 1 em(343);
  }
  @mixin medium-screen {
    margin: 0 em(10) em(60) em(20);
    max-width: em(210);
    flex: 1 1 em(210);

  }
  @mixin medium-small-screen {
    margin: 0 em(10) em(25) em(20);
    max-width: em(210);
    flex: 1 1 em(210);
  }
  @mixin small-screen {
    margin: 0 em(10) em(25) em(20);
    max-width: em(150);
    flex: 1 1 em(150);
  }
}
