@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

@define-mixin podcast-hero-carousel-font1 {
  @mixin font CircularStd-Black, 50px, inherit, inherit, 60px;
}
@define-mixin podcast-hero-carousel-font1-1 {
  @mixin font CircularStd-Black, 30px, inherit, inherit, 36px;
}
@define-mixin podcast-hero-carousel-font2 {
  @mixin font CircularStd-Book, 20px, inherit, inherit, 24px;
}
@define-mixin podcast-hero-carousel-font2-1 {
  @mixin font CircularStd-Book, 14px, inherit, inherit, 17px;
}
@define-mixin podcast-hero-carousel-font3 {
  @mixin font CircularStd-Black, 18px, inherit, inherit, 22px;
}
@define-mixin podcast-hero-carousel-font3-1 {
  @mixin font CircularStd-Black, 16px, inherit, inherit, 19px;
}

.podcast-hero-carousel {
  position: relative;
  margin-bottom: em(60);
  @mixin default-screen {
    height: em(540);
  }
  @mixin large-screen {
    height: em(490);
  }
  @mixin medium-screen {
    height: em(454);
  }
  @mixin medium-small-screen {
    min-height: em(750);
  }

  button {
    outline: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    svg {
      pointer-events: none;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 2;
  }

  &__macro-controls {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__macros {
    display: flex;
    margin-bottom: em(20);
  }

  &__macro-button {
    width: em(10);
    height: em(10);
    background-color: $white;
    margin: 0 em(5);
    border-radius: em(5);
    opacity: 0.6;
    pointer-events: initial;
    &--active {
      opacity: 1;
    }
  }

  &__control-button {
    width: em(39);
    height: em(39);
    display: flex;
    background: white;
    color: white;
    pointer-events: initial;
    @mixin large-screen {
      width: em(29);
      height: em(29);
    }
    @mixin medium-screen {
      display: none;
    }
  }

  &__slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    transition: left 0ms ease;
    @mixin medium-small-screen {
      flex-wrap: wrap;
    }
  }

  &__slide-image-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
    margin-right: em(20);
    @mixin default-screen {
      flex: 0 0 widthOnGrid(6, 5);
      padding-right: em(30);
    }
    @mixin large-screen {
      flex: 0 0 widthOnGrid(5, 4);
    }
    @mixin medium-screen {
      flex: 0 0 widthOnGrid(3, 2, medium-screen);
    }
    @mixin medium-small-screen {
      flex: 0 0 100%;
      margin-right: 0;
      justify-content: center;
      padding: 0 em(20);
    }
  }

  &__slide-image-link {
    @mixin default-screen {
      max-height: em(430);
    }
    @mixin large-screen {
      max-height: em(380);
    }
    @mixin medium-screen {
      max-height: em(344);
    }
    @mixin medium-small-screen {
      max-height: em(439);
      width: 100%;
    }
  }

  &__slide-image {
    box-shadow: 0 em(2) em(4) 0 $blackRGBA-50;
    width: 100%;
  }

  &__slide-info-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @mixin default-screen {
      flex: 0 0 widthOnGrid(8, 7);
    }
    @mixin large-screen {
      flex: 0 0 widthOnGrid(7, 6);
    }
    @mixin medium-screen {
      flex: 0 0 widthOnGrid(3, 2, medium-screen);
    }
    @mixin medium-small-screen {
      flex: 0 0 100%;
      padding: 0 em(20);
      justify-content: flex-start;
    }
  }

  &__slide-title {
    @mixin podcast-hero-carousel-font1;
    margin-bottom: em(18, 50);
    &:hover {
      text-decoration: underline;
    }
    @mixin medium-screen {
      @mixin podcast-hero-carousel-font1-1;
    }
  }

  &__slide-description {
    @mixin podcast-hero-carousel-font2;
    margin-bottom: em(18, 20);
    @mixin medium-screen {
      @mixin podcast-hero-carousel-font2-1;
    }
  }

  &__slide-listen-now-button {
    display: inline-flex;
    @mixin podcast-hero-carousel-font3;
    width: widthOnGrid(3, 2);
    height: em(60, 18);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    @mixin medium-screen {
      @mixin podcast-hero-carousel-font3-1;
      height: em(55, 18);
    }
  }

}


/* for directional slides */
.podcast-hero-carousel {
  &__slides&__slides--left {
    .podcast-hero-carousel__slide {
      left: -100%;
    }
  }

  &__slides&__slides--right {
    .podcast-hero-carousel__slide {
      left: 100%;
    }
  }

  &__slides&__slides--left, &__slides&__slides--right {
    .podcast-hero-carousel__slide--active {
      left: 0;
      transition-duration: 600ms;
      z-index: 1;
    }
    .zero-index {
      z-index: 0;
    }
  }
}

/* until the padding is fixed on layout__content from ON-2425 */
.has-fullpage-ad .podcast-hero-carousel {
  margin-top: em(-30);
}