@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.podcast-hero-carousel {
  position: relative;
  background: #eeeeee;
  height: em(490);
  margin-bottom: em(60);

  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  &__macro-controls {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
  }
  &__macros {
    display: flex;
  }
  &__macro {
    /* needs styling also not sure the pointer events will trigger in JS */
  }
  &__control-button {
    width: 32px;
    height: 32px;
    outline: 0;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    pointer-events: initial;
  }

  &__slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: left 0ms ease;
  }

}


/* for directional slides */
.podcast-hero-carousel {
  &__slides&__slides--left {
    .podcast-hero-carousel__slide {
      left: -100%;
    }
  }
  &__slides&__slides--right {
    .podcast-hero-carousel__slide {
      left: 100%;
    }
  }
  &__slides&__slides--left, &__slides&__slides--right {
    .podcast-hero-carousel__slide--active {
      left: 0;
      transition-duration: 150ms;
    }
  }
}