@import "_global/fonts";
@import "_global/colors";
@import "_global/mixins";

.component--podcast-list {
  max-width: em(widthOnGrid(12, 11));
  display: flex;
  margin: 0 auto em(30, 11) auto;
  flex-wrap: wrap;

  .podcast-list__item {
    margin-bottom: em(20);
    width: em(220);
    max-width: em(220);
    flex: 1 0 em(220);

    &:not(:last-child) {
       margin-right: em(20);

      @mixin medium-screen {
        margin-right: 0;
      }
    }

    &:nth-child(odd) {
      @mixin medium-screen {
        padding-right: em(10);
      }
    }

    &:nth-child(even) {
      @mixin medium-screen {
        padding-left: em(10);
      }
    }

    @mixin medium-screen {
      flex: 1 0 50%;
    }
  }

  .podcast-list__link {
    text-decoration: none;
    &:hover{
      .podcast-list__image {
        opacity: 0.9;
      }
      .podcast-list__title {
        text-decoration: underline;
        text-decoration-color: $black;
      }
    }
  }

  .podcast-list__tag {
    @mixin podcast-list-font4;
    height: em(26, 14);
    position: absolute;
    background-color: $robinsEggBlue;
    padding: 0 em(6, 14);
    line-height: em(26, 14);
    color: $white;
    z-index: 1;

    &:first-letter {
     text-transform: uppercase;
     }

    @mixin medium-small-screen {
      @mixin podcast-list-font7;
      height: em(33, 18);
      line-height: em(33, 18);
    }
  }

  .podcast-list__image {
    object-fit: cover;
    width: 100%;
  }

  .podcast-list__title {
    @mixin podcast-list-font2;
    margin-top: em(15, 22);
    margin-bottom: em(10, 22);
  }

  .podcast-list__more {
    @mixin podcast-list-font5;
    text-transform: uppercase;
    & .more__caret {
      fill: $robinsEggBlue;
      height: em(10, 12);
      width: em(10, 12);
    }
    &--override-fill {
      & .more__caret {
        fill: inherit;
      }
    }
  }
}

.kiln-field {
  .podcast-preview {
    display: flex;
    flex-direction: column;
    max-width: em(220);
  }

  .podcast-preview__image {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  .podcast-preview__link {
    @mixin podcast-list-font2;
    margin-top: em(15, 22);
    text-decoration: none;
  }
}


@define-mixin section-front-colors $sectionTitle, $color {
  .component--podcast-list.podcast-list--$(sectionTitle) {
    .podcast-list__tag {
      background: rgb($color);
    }
    .podcast-list__more {
      color: rgb($color);
      .more__caret {
        fill: rgb($color);
      }
    }
    .podcast-list__more.podcast-list__more--override-fill-section-front {
      .more__caret {
        fill: rgb($color);
      }
    }
    .podcast-list__more.podcast-list__more--override-fill.podcast-list__more--override-fill-section-front {
      .more__caret {
        fill: inherit;
      }
    }
  }
}

@mixin section-front-colors music, $sunsetOrangeRGB;
@mixin section-front-colors news, $lightningYellowRGB;
@mixin section-front-colors sports, $azureRadienceRGB;
@mixin section-front-colors podcasts, $robinsEggBlueRGB;