@import "_global/fonts";
@import "_global/colors";
@import "_global/mixins";

.component--podcast-list {
  max-width: em(widthOnGrid(12, 11));
  display: flex;
  margin: 0 auto em(40);
  flex-wrap: wrap;

  @mixin medium-screen {
    margin-bottom: 0;
  }

  @mixin medium-small-screen {
    margin-bottom: em(35);
  }

  .podcast-list__item {
    margin-bottom: em(40);
    width: em(220);
    flex: 1 0 em(220);

    &:not(:last-child) {
       margin-right: em(20);

      @mixin medium-screen {
        margin-right: 0;
      }
    }

    &:nth-child(odd) {
      @mixin medium-screen {
        padding-right: em(10);
      }
    }

    &:nth-child(even) {
      @mixin medium-screen {
        padding-left: em(10);
      }
    }

    @mixin medium-screen {
      flex: 1 0 50%;
      margin-bottom: em(60);
    }

    @mixin medium-small-screen {
      margin-bottom: em(25);
    }
  }

  .podcast-list__link {
    text-decoration: none;
    &:hover{
      .podcast-list__image {
        opacity: 0.9;
      }
      .podcast-list__title {
        text-decoration: underline;
        text-decoration-color: $black;
      }
    }
  }

  .podcast-list__tag {
    @mixin podcast-list-font4;
    height: em(26, 14);
    position: absolute;
    background-color: $robinsEggBlue;
    padding: 0 em(6, 14);
    line-height: em(26, 14);
    z-index: 1;

    &:first-letter {
     text-transform: uppercase;
     }

    @mixin medium-small-screen {
      @mixin podcast-list-font7;
      height: em(33, 18);
      line-height: em(33, 18);
    }
  }

  .podcast-list__image {
    object-fit: cover;
    width: 100%;
  }

  .podcast-list__title {
    @mixin podcast-list-font2;
    margin-top: em(15, 22);
    margin-bottom: em(10, 22);
  }

  .podcast-list__more {
    @mixin podcast-list-font5;
    text-transform: uppercase;
    svg {
      fill: $robinsEggBlue;
      height: em(10, 12);
      width: em(10, 12);
    }
  }

}

