.post {

  /* .post-hd {
    text-align: center;
    margin-bottom: 30px;

    &-title {
      font-size: 6em;
      margin: 0 0 20px 0;
    }

    &-authors {
      font-size: 1.5em;
    }
  }

  .post-bd > * + * {
    margin-top: 25px;
  } */
}
