.related {
  margin: 0 0 20px;
}

.related .related-title {
  color: #000;
  font: 15px/1 Georgia, serif;
  letter-spacing: 2px;
  margin: 0 0 16px;
  text-transform: uppercase;
}

.related .related-links {
  margin: 0;
  padding: 0;
}

.related .related-link:first-of-type {
  padding: 0 0 8px;
}

.related .related-link:last-of-type {
  border-bottom: none;
}

.related .related-link a {
  color: #000;
  font: 21px/25px Georgia, sans-serif;
  letter-spacing: -.01em;
  text-decoration: none;
}

.related .related-link a:hover .headline,
.related .related-link a:focus .headline {
  box-shadow: 0 1px 0 #ec2c00;
}
