/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--section-videos {
  margin-bottom: em(40);

  h2 {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: em(30);
    @mixin section-videos-font1;
    color: $parisPurple;
    text-align: center;
    text-transform: uppercase;

    &:before {
      border-top: em(1, 20) solid $parisPurple;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }

    span {
      background: $white;
      padding: 0 em(15, 20);
    }
  }

  .section-lead__videos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: em(483);

    .section-lead__video {
      width: 100%;
      position: relative;
      margin-bottom: em(20);

      &:hover {
        .section-lead__play-icon {
          background: $purple;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.section-lead__video--main {
        width: widthOnGrid(11, 10);
        order: 0;
        margin-right: em(20);
        margin-bottom: 0;

        .section-lead__link {
          display: block;
        }

        .section-lead__image {
          width: 100%;
        }
        .section-lead__details {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 0 em(20) 0 0;
          margin-right: em(20);
          width: em(300);
          background: $white;
          border-top: em(6) solid $black;
        }
        .details__exclusive {
          @mixin section-videos-font2;
          display: block;
          margin: em(15) 0 em(10);
        }
        .details__title {
          @mixin section-videos-font3;
        }
      }
    }

    .section-lead__link {
      @mixin section-videos-font3;
      text-decoration: none;
      display: inline-block;
      position: relative;

      .section-lead__play-icon {
        width: em(120, 22);
        height: em(120, 22);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: em(-60, 22);
        margin-top: em(-60, 22);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: em(10, 22) solid $purple;
        background: rgba($purpleRGB, .4);

        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: em(13, 22) solid transparent;
          border-bottom: em(13, 22) solid transparent;
          border-left: em(18, 22) solid $white;
        }
      }
    }

    .section-lead__image {
      display: inline-block;
    }

    .section-lead__details {
      margin-top: em(7);
    }

    .section-lead__rail {
      width: widthOnGrid(3, 2);
      height: 100%;
      overflow-y: auto;

      .section-lead__video {
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          z-index: 1;
          border-top: em(6, 14) solid $parisPurple;
        }
      }

      .section-lead__link {
        @mixin section-videos-font4;

        .section-lead__play-icon {
          width: em(60, 14);
          height: em(60, 14);
          margin-left: em(-30, 14);
          margin-top: em(-30, 14);
          border-width: em(7, 14);

          &:after {
            border-top: em(6, 14) solid transparent;
            border-bottom: em(6, 14) solid transparent;
            border-left: em(12, 14) solid $white;
          }
        }
      }
    }
  }
}

@mixin large-screen {
  .component--section-videos {
    .section-lead__videos {
      height: em(394);

      .section-lead__video.section-lead__video--main {
        width: widthOnGrid(9, 8);
      }
    }
  }
}

@mixin medium-screen {
  .component--section-videos {
    .section-lead__videos {
      flex-direction: column;
      height: auto;

      .section-lead__video.section-lead__video--main {
        width: 100%;
        margin-bottom: em(25);
      }

      .section-lead__rail {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: none;

        .section-lead__video {
          width: widthOnGrid(2, 1, medium-screen);
          margin-right: em(20);
        }
      }
    }
  }
}

@mixin medium-small-screen {
  .component--section-videos {
    .section-lead__videos {
      flex-direction: column;
      height: auto;

      .section-lead__video,
      .section-lead__rail .section-lead__video {
        width: 100%;
        margin-bottom: em(25);
      }

      .section-lead__video.section-lead__video--main {
        margin-right: 0;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          z-index: 1;
          border-top: em(6, 14) solid $parisPurple;
        }

        .section-lead__link {
          @mixin section-videos-font3;
          position: relative;

          .section-lead__play-icon {
            width: em(100, 22);
            height: em(100, 22);
            margin-left: em(-50, 22);
            margin-top: em(-50, 22);
            border-width: em(7, 22);

            &:after {
              border-top: em(8, 22) solid transparent;
              border-bottom: em(8, 22) solid transparent;
              border-left: em(18, 22) solid $white;
            }
          }
        }

        .section-lead__details {
          position: relative;
          left: auto;
          bottom: auto;
          padding: 0;
          margin-right: 0;
          width: auto;
          border-top: none;

          .details__exclusive {
            display: none;
          }
        }
      }

      .section-lead__rail {
        height: auto;
        display: block;
      }

      .section-lead__rail {
        .section-lead__link {
          @mixin section-videos-font3;

          .section-lead__play-icon {
            width: em(100, 22);
            height: em(100, 22);
            margin-left: em(-50, 22);
            margin-top: em(-50, 22);
            border-width: em(7, 22);

            &:after {
              border-top: em(8, 22) solid transparent;
              border-bottom: em(8, 22) solid transparent;
              border-left: em(19, 22) solid $ white;
            }
          }
        }
      }
    }
  }
}

@define-mixin lead-module-color $sectionTitle, $color {
  .component--section-videos {
    .section-lead__video.section-lead__video--$(sectionTitle) {
      &:first-child {
        .section-lead__details {
          border-color: $color;
        }
        .details__exclusive {
          color: $color;
        }
      }

      &.section-lead__video--main {
        &:before {
          border-color: $color;
        }
      }
    }

    .section-lead__rail {
      .section-lead__video.section-lead__video--$(sectionTitle) {
        &:before {
          border-color: $color;
        }
      }
    }
  }
}
@mixin lead-module-color entertainment, $sunsetOrange;
@mixin lead-module-color news, $lightningYellow;
@mixin lead-module-color sports, $azureRadience;
@mixin lead-module-color podcasts, $robinsEgg;
