/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Section-Lead Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin section-lead-font1 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin section-lead-font2 {
  @mixin font CircularStd-Medium, 12px, $parisM, -.2px, 15px;
}
@define-mixin section-lead-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 18px;
}
@define-mixin section-lead-font4 {
  @mixin font CircularStd-Medium, 14px, $parisM, -.2px, 18px;
}
@define-mixin section-lead-font5 {
  @mixin font CircularStd-Medium, 16px, $black, -.4px, 19px;
}
/* --  multi-column variations --*/
@define-mixin section-lead-mc-font1 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 26px;
}
@define-mixin section-lead-mc-font2 {
  @mixin font CircularStd-Medium, 12px, theme(primaryColor, $parisM), -.2px, 14px;
}
@define-mixin section-lead-mc-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 17px;
}
@define-mixin section-lead-mc-font4 {
  @mixin font CircularStd-Black, 16px, $black, -.43px, 19px;
}

.component--section-lead {
  width: em(widthOnGrid(14, 13));
  display: flex;
  flex-wrap: wrap;
  .component--google-ad-manager {
    background: none;
  }
  .section-lead__articles {
    display: flex;
    flex-wrap: wrap;
    width: em(widthOnGrid(10, 9));
    margin-right: em(20);
    margin-bottom: em(40);
    .kiln-placeholder {
      height: 590px;
    }
  }

  .section-lead__article {
    flex: 0 0 em(widthOnGrid(5, 4));
    margin-right: em(20);

    &:last-child {
      margin-right: 0;
    }

    .details__primary-story-label {
      @mixin section-lead-font2;
      display: block;
      margin: em(15) 0 em(10);
      text-transform: capitalize;
    }

    &.section-lead__article--first {
      flex: 0 0 100%;
      margin-bottom: em(40);

      .section-lead__link {
        display: block;
        position: relative;
        margin-right: 0;
      }

      .section-lead__image {
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
      }
      .section-lead__details {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 em(20) 0 0;
        width: em(300);
        background: $white;
        border-top: em(6) solid theme(primaryColor, $parisM);
      }
      .details__title {
        @mixin section-lead-font1;
      }
    }

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      picture {
        position: relative;
      }
      picture > div {
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.1);
        position: absolute;
        top: 0;
      }
      .details__title {
        text-decoration: underline;
      }
    }
  }

  .section-lead__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    margin-right: em(20);

    &:last-child {
      margin-right: em(0);
    }
  }

  .section-lead__image {
    display: inline-block;
    margin-right: em(20);
    flex-shrink: 0;
    width: em(widthOnGrid(3, 2));
    height: auto;

    img {
      width: 100%;
      display: block;
    }
  }
  .section-lead__details {
    flex-shrink: 1;

    .details__title {
      @mixin section-lead-font3;
    }
  }

  .component--google-ad-manager {
    width: em(widthOnGrid(4, 3));
  }

  @mixin large-screen {
    width: 100%;

    .section-lead__articles {
      flex: 0 0 em(widthOnGrid(8, 7));
    }
    .section-lead__image {
      width: em(widthOnGrid(2, 1));
    }
    .section-lead__article {
      flex: 0 0 em(widthOnGrid(4, 3));
    }
  }

  @mixin medium-screen {
    width: 100%;

    .section-lead__articles {
      flex: 0 0 100%;
      justify-content: space-between;
      margin-right: 0;
      height: auto;
    }

    .component--google-ad-manager {
      display: none;
    }

    .section-lead__article {
      flex: 0 0 calc(50% - em(20));
      margin: 0;
      &.section-lead__article--first {
        margin-bottom: em(30);
      }
    }

    .section-lead__link {
      flex-wrap: wrap;
      .section-lead__image {
        width: 100%;
        margin: 0 0 em(15);
      }
    }
  }

  @mixin medium-small-screen {
    .section-lead__articles {
      flex: 0 0 100%;
    }
    .section-lead__article {
      flex: 0 0 100%;
      margin-right: 0;
      .details__primary-story-label {
        @mixin section-lead-font4;
      }
      .section-lead__details .details__title {
        @mixin section-lead-font1;
      }
      &.section-lead__article--first {
        width: 100%;

        .section-lead__link {
          width: 100vw;
          position: relative;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
        }

        .section-lead__details {
          position: relative;
          border-top: none;
          width: calc(100% - em(40));
          margin: 0 auto;
          padding: 0;
        }
      }
      &.section-lead__article:not(:first-of-type) {
        &:not(:last-of-type) {
          .section-lead__details {
            margin-bottom: em(30);
          }
        }
      }
    }
  }
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||| When inside Multi-column Component ||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
.component--multi-column {
  .component--latest-recirc {
    margin-bottom: 0;
    @mixin medium-screen {
      margin-bottom: em(40);
    }
  }
  .component--section-lead{
    width: 100%;
    .component--google-ad-manager { display: none; }
    .section-lead__articles {
      width: 100%;
      margin: 0;
      height: auto;
      @mixin large-screen {
        flex: 0 0 100%;
      }
    }
    .section-lead__article--first {
      margin-bottom: em(20);
    }
    .section-lead__article {
      flex: 0 0 100%;
      .section-lead__details {
        .details__content-label {
          display: inline-block;
          margin: 0 0 em(4, 14) 0;
          @mixin section-lead-mc-font2;
          &--top {
            display: inline-block;
            @mixin medium-screen {
              display: none;
            }
          }
          &--bottom {
            display: none;
            @mixin medium-screen {
              display: inline-block;
            }
          }
        }
        .details__time {
          display: none;
          color: $dustyGray;
          margin-left: em(10);

          @mixin medium-screen {
            display: inline;
          }
        }
        .details__title {
          @mixin section-lead-mc-font3;
          @mixin medium-screen {
            @mixin section-lead-mc-font4;
          }
        }
      }
      &--first {
        .section-lead__details {
          .details__content-label {
            margin-top: em(15, 14);
            &--top {
              display: inline-block;
            }
            &--bottom {
              display: none;
            }
          }
          .details__title {
            @mixin section-lead-mc-font1;
            @mixin only-large-screen {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 5;
              overflow: hidden;
            }
          }
          .details__time {
            display: none;
          }

          @mixin only-large-screen {
            position: inherit;
            width: 100%;
            border-top: none;
            height: em(140);
            max-height: em(140);
            margin-bottom: em(20);
          }
        }
      }
    }
    .section-lead__link{
      flex-wrap: nowrap;
    }
    .section-lead__image {
      flex: 0 0 widthOnGrid(1, 1, small-screen);
      margin: 0 em(20) 0 0;
      @mixin default-screen {
        flex: 0 0 widthOnGrid(3, 2);
      }
      @mixin large-screen {
        flex: 0 0 widthOnGrid(2, 1);
      }
      @mixin medium-screen {
        flex: 0 0 widthOnGrid(2, 1, medium-screen);
      }
      @mixin medium-small-screen {
        flex: 0 0 widthOnGrid(1, 1, medium-small-screen);
      }
      @mixin small-screen {
        flex: 0 0 widthOnGrid(1, 1, small-screen);
      }
    }
  }
}


@define-mixin lead-module-color $sectionTitle, $color {
  .component--section-lead.section-lead--$sectionTitle {
    .section-lead__article {
      &.section-lead__article--first {
        .section-lead__details {
          border-color: theme(primaryColor, $color);
        }
        .details__primary-story-label {
          color: theme(primaryColor, $color);
        }
      }
    }
  }
}
@mixin lead-module-color music, $sunsetOrange;
@mixin lead-module-color news, $lightningYellow;
@mixin lead-module-color sports, $azureRadience;
@mixin lead-module-color podcasts, $robinsEggBlue;

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||||||| Sports Style Guide ||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
.section-lead--rdc-sports {
  padding-top: em(60);
  background-image: url('/media/components/section-lead/sports_section_front_logo.png');
  background-size: em(140) em(40);
  background-repeat: no-repeat;
  background-position: top left;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url('/media/components/section-lead/sports_section_front_logo_2x.png');
  }
}
