.component--section-front {
  margin-top: em(50);
  .component--google-ad-manager.google-ad-manager--billboard,
  .component--google-ad-manager.google-ad-manager--leaderboard,
  .component--google-ad-manager.google-ad-manager--super-leaderboard {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
