/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--section-lead {
  width: em(widthOnGrid(14, 13));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: em(50);
  .section-lead__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: em(widthOnGrid(10, 9));
    margin-right: em(20);
    margin-bottom: em(40);
    height: em(600);
  }

  .section-lead__article {
    width: calc(50% - 10px);
    position: relative;
    margin-right: em(20);

    .details__exclusive {
      @mixin section-lead-font2;
      display: block;
      margin: em(15) 0 em(10);
    }

    &.section-lead__article--first {
      width: 100%;
      order: 0;
      margin-right: 0;
      margin-bottom: em(40);

      .section-lead__link {
        display: block;
        position: relative;
        margin-right: 0;
      }

      .section-lead__image {
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
      }
      .section-lead__details {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 em(20) 0 0;
        width: em(300);
        background: $white;
        border-top: em(6) solid $parisM;
      }
      .details__title {
        @mixin section-lead-font1;
      }
    }

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      picture>div {
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.1);
        position: absolute;
        top: 0;
      }
      .details__title {
        text-decoration: underline;
      }
    }
  }

  .section-lead__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    margin-right: em(20);

    &:last-child {
      margin-right: em(0);
    }
  }

  .section-lead__image {
    display: inline-block;
    margin-right: em(20);
    flex-shrink: 0;
    width: em(widthOnGrid(3, 2));
    height: auto;

    img {
      width: 100%;
      display: block;
    }
  }
  .section-lead__details {
    flex-shrink: 1;

    .details__title {
      @mixin section-lead-font3;
    }
  }

  .component--google-ad-manager {
    width: em(widthOnGrid(4, 3));
  }

  @mixin large-screen {
    width: 100%;

    .section-lead__articles {
      width: em(widthOnGrid(8, 7));
    }
    .section-lead__image {
      width: em(widthOnGrid(2, 1));
    }
  }

  @mixin medium-screen {
    width: 100%;

    .section-lead__articles {
      width: 100%;
      justify-content: space-between;
      margin-right: 0;
      height: auto;
    }

    .component--google-ad-manager {
      display: none;
    }

    .section-lead__article {
      margin: 0;
      &.section-lead__article--first {
        margin-bottom: em(30);
      }
    }

    .section-lead__link {
      flex-wrap: wrap;
      .section-lead__image {
        width: 100%;
        margin: 0 0 em(15);
      }
    }
  }

  @mixin medium-small-screen {
    .section-lead__article {
      width: 100%;
      margin-right: 0;
      .details__exclusive {
        @mixin section-lead-font4;
      }
      .section-lead__details .details__title {
        @mixin section-lead-font1;
      }
      &.section-lead__article--first {
        width: 100%;

        .section-lead__link {
          width: 100vw;
          position: relative;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
        }

        .section-lead__details {
          position: relative;
          border-top: none;
          width: calc(100% - em(40));
          margin: 0 auto;
          padding: 0;
        }
      }
      &.section-lead__article:not(:first-of-type) {
        &:not(:last-of-type) {
          .section-lead__details {
            margin-bottom: em(30);
          }
        }
      }
    }
  }
}

@define-mixin lead-module-color $sectionTitle, $color {
  .component--section-lead.section-lead--$sectionTitle {
    .section-lead__article {
      &.section-lead__article--first {
        .section-lead__details {
          border-color: $color;
        }
        .details__exclusive {
          color: $color;
        }
      }
    }
  }
}
@mixin lead-module-color entertainment, $sunsetOrange;
@mixin lead-module-color news, $lightningYellow;
@mixin lead-module-color sports, $azureRadience;
@mixin lead-module-color podcasts, $robinsEggBlue;
