/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--google-ad-manager {
  &.google-ad-manager--sharethrough-tag {
    background: none;

    .link__info {
      text-align: left;

      .info__sponsor {
        @mixin more-content-feed-font10;
        margin-bottom: em(4, 16);
      }
    }
  }
}
