/* stylelint-disable */
.share {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  @mixin default-screen {
    margin-top: em(40);
    width: em(40);
    height: em(157);
  }
  @mixin large-screen {
    margin-top: 0;
    width: em(157);
    height: em(40);
    ul {
      display: flex;
    }
  }
}
