@import "_global/mixins";

.component--share {
  position: absolute;
  bottom: -225px;
  left: -134px;
  margin: 0;
  padding: 0;
}

.share-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Set each item to constant 40x40px, including border */
.share-list__item {
  width: 40px;
  height: 40px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  /* Center image, set size to 20x20px, and don't repeat it */
  background: center/20px 20px no-repeat;
}

/* Move each item but first up 1px to create 1px border */
.share-list__item:not(:first-child) {
  margin-top: -1px;
}

/* Show the item's border on hover so it can be recolored properly */
.share-list__item:hover,
.share-list__item:active {
  z-index: 1;
}

/* Clear button styling and use pointer cursor */
.share-list button {
  padding: 0;
  cursor: pointer;
}

/* Background images for each button */
.share-list__item.facebook {
  background-image: url("/media/components/share/facebook.svg");
  background-size: auto 22px; /* Increase FB image height to 22px */
}

.share-list__item.twitter {
  background-image: url("/media/components/share/twitter.svg");
  background-size: auto 17px; /* Firefox scaling/bounding fix */
}

.share-list__item.email {
  background-image: url("/media/components/share/email.svg");
}

.share-list__item.copy-link {
  background-image: url("/media/components/share/copy-link.svg");
}

/* Background/border colors and images on hover */
.share-list__item.facebook:hover,
.share-list__item.facebook:active {
  background-color: #3B5998;
  border-color: #3B5998;
  background-image: url("/media/components/share/facebook--hover.svg");
}

.share-list__item.twitter:hover,
.share-list__item.twitter:active {
  background-color: #05AEEE;
  border-color: #05AEEE;
  background-image: url("/media/components/share/twitter--hover.svg");
}

.share-list__item.email:hover,
.share-list__item.email:active {
  background-color: #1F055E;
  border-color: #1F055E;
  background-image: url("/media/components/share/email--hover.svg");
}

/* Clear all styling to hide copy-link textarea */
.share__hidden-text-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

@mixin large-screen {
  .component--share {
    /* Clear vertical positioning */
    bottom: 0;
    left: 0;
    position: relative;
    margin-bottom: 30px;
    padding: 15px 0 0;
    float: right;
  }

  /* Horizontal list on smaller screens */
  .share-list {
    flex-direction: row;
  }

  /* Clear vertical margin-top */
  .share-list__item,
  .share-list__item:not(:first-child) {
    margin-top: 0;
  }

  /* Instead, move items to the left on horizontal layout */
  .share-list__item:not(:first-child) {
    margin-left: -1px;
  }

  .share:after,
  .share:before {
    content: '';
    display: table;
  }

  .share:after {
    clear: both;
  }
}


/* Built-in Clay CSS from here down */

.component--share .close,
.share-overlay .share-text,
.has-splash-header .component--share .share-title,
.one-column-layout .share.horizontal .print {
  display: none;
}

.share-overlay-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900000;
}

.share-overlay {
  background: #f9f9f7;
  border: 1px solid #dadada;
  border-radius: 2.5px;
  box-shadow: 1px 1px 4px #ccc;
  display: block;
  height: auto;
  padding: 39px 30px 30px;
  width: 214px;
}

.share-overlay .share-link {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 2px;
  color: #555;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 34px;
  justify-content: flex-start;
  margin: 0 auto 16px;
  padding: 6px;
  position: relative;
  text-decoration: none;
  width: 150px;
  z-index: 1;
}

.share-overlay .share-link svg {
  height: 20px;
  margin-right: 5px;
  position: relative;
  width: 20px;
}

.share-overlay .share-list__item:first-of-type .share-link {
  margin-left: 0;
}

.share-overlay .close {
  background: 0 0;
  border: none;
  cursor: pointer;
  display: block;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

.share-overlay .close svg {
  height: 28px;
  left: 2px;
  top: 2px;
  width: 28px;
}

.has-splash-header .share.vertical {
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.one-column-layout .share.horizontal {
  padding: 8px 0 0;
}

.one-column-layout .share.horizontal.share-overlay {
  display: block;
  height: auto;
  padding: 39px 30px 30px;
}

.one-column-layout .share.horizontal {
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 1px 0 0;
}

.has-splash-header .share.vertical {
  bottom: -390px;
  display: block;
}

.has-splash-header .share.horizontal {
  display: flex;
  justify-content: flex-end;
}

.one-column-layout .share.horizontal {
  padding: 10px 0 0;
}