@import "_global/mixins";

.component--share {
  position: absolute;
  bottom: -225px;
  left: -134px;
  margin: 0;
  padding: 0;
}

.share-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Set each item to constant 40x40px, including border */
.share-list__item {
  width: 40px;
  height: 40px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  /* Center image, set size to 20x20px, and don't repeat it */
  background: center/20px 20px no-repeat;
}

/* Move each item but first up 1px to create 1px border */
.share-list__item:not(:first-child) {
  margin-top: -1px;
}

/* Show the item's border on hover so it can be recolored properly */
.share-list__item:hover,
.share-list__item:active {
  z-index: 1;
}

/* Clear button styling and use pointer cursor */
.share-list button {
  padding: 0;
  cursor: pointer;
}

/* Background images for each button */
.share-list__item.facebook {
  background-image: url("/media/components/share/facebook.svg");
  background-size: auto 22px; /* Increase FB image height to 22px */
}

.share-list__item.twitter {
  background-image: url("/media/components/share/twitter.svg");
  background-size: auto 17px; /* Firefox scaling/bounding fix */
}

.share-list__item.email {
  background-image: url("/media/components/share/email.svg");
}

.share-list__item.copy-link {
  background-image: url("/media/components/share/copy-link.svg");
}

/* Background/border colors and images on hover */
.share-list__item.facebook:hover,
.share-list__item.facebook:active {
  background-color: #3B5998;
  border-color: #3B5998;
  background-image: url("/media/components/share/facebook--hover.svg");
}

.share-list__item.twitter:hover,
.share-list__item.twitter:active {
  background-color: #05AEEE;
  border-color: #05AEEE;
  background-image: url("/media/components/share/twitter--hover.svg");
}

.share-list__item.email:hover,
.share-list__item.email:active {
  background-color: #1F055E;
  border-color: #1F055E;
  background-image: url("/media/components/share/email--hover.svg");
}

/* Clear all styling to hide copy-link textarea */
.share__hidden-text-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

@mixin large-screen {
  .component--share {
    /* Clear vertical positioning */
    bottom: 0;
    left: 0;
    position: relative;
    margin-bottom: 30px;
    padding: 15px 0 0;
    float: right;
  }

  /* Horizontal list on smaller screens */
  .share-list {
    flex-direction: row;
  }

  /* Clear vertical margin-top */
  .share-list__item,
  .share-list__item:not(:first-child) {
    margin-top: 0;
  }

  /* Instead, move items to the left on horizontal layout */
  .share-list__item:not(:first-child) {
    margin-left: -1px;
  }

  .share:after,
  .share:before {
    content: '';
    display: table;
  }

  .share:after {
    clear: both;
  }
}