@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

$default-screen-nav-width: em(1100); /* 1280+ */
$large-screen-nav-width: em(940); /* 1280-1024 */
$medium-screen-nav-width: em(728); /* 1023-481 */
$medium-small-screen-nav-width: em(440); /* 480-361 */
$small-screen-nav-width: em(320); /* 360- */
$station-logo-width-height: em(100);
$station-logo-width-height-med-screen: em(80);
$logo-margin-right: em(40);
$caret-width: em(16);
$caret-margin-right: em(25);

@define-mixin button-reset {
  background: none;
  outline: none;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
}

@define-mixin anchor-reset {
  text-decoration: none
}

.component--station-nav {
  display: block;
  height: em(130);

  .station-nav__fixed-container {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 4;
    @mixin medium-screen {
      position: relative;
    }
    .station-nav__menu {
      background: $boulder;
      display: flex;
      align-items: flex-end;
      width: 100%;
      padding: 0 calc((100% - $default-screen-nav-width) / 2);
      @mixin large-screen {
        padding: 0 calc((100% - $large-screen-nav-width) / 2);
      }
      @mixin medium-screen {
        padding: 0 calc((100% - $medium-screen-nav-width) / 2);
      }
      @mixin nav-mobile-breakpoint {
        padding: 0 em(20);
      }

      .menu__mobile-toggle {
        display: none;
        align-self: center;
        margin-right: $caret-margin-right;
        @mixin medium-screen {
          display: flex;
        }
        button {
          @mixin button-reset;
          width: $caret-width;
          height: auto;
          &.mobile-toggle--open {
            display: none;
          }
          svg {
            width: 100%;
            height: auto;
          }
        }
        &.active {
          button.mobile-toggle--closed {
            display: none;
          }
          button.mobile-toggle--open {
            display: block;
          }
        }
      }

      .menu__image {
        width: $station-logo-width-height;
        height: $station-logo-width-height;
        margin-right: $logo-margin-right;
        margin-bottom: em(15);
        margin-top: em(15);
        @mixin medium-small-screen {
          width: $station-logo-width-height-med-screen;
          height: $station-logo-width-height-med-screen;
        }
      }

      .menu__navigation {
        display: flex;
        margin-left: em(-15);
        @mixin medium-screen {
          display: none;
        }

        li.navigation__primary {
          display: flex;
          flex-direction: column;
          align-items: center;
          a {
            @mixin anchor-reset;
          }
          button {
            @mixin button-reset;
            padding: em(12) em(15);
            span {
              @mixin station-nav-font1;
              text-transform: uppercase;
            }
          }
          &.active {
            .primary__triangle {
              display: block;
            }
          }
          .primary__triangle {
            display: none;
            width: 0;
            height: 0;
            border-bottom: em(12) solid $dustyGray;
            border-left: em(9) solid transparent;
            border-right: em(9) solid transparent;
            margin-top: em(-12);
          }
        }
      }

      .menu__listen {
        margin-left: auto;
        margin-right: em(5);

        .listen__button {
          @mixin button-reset;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $tundora;
          border: 0;
          height: em(50);
          width: em(110);

          .button__text {
            @mixin station-nav-font5;
            text-transform: uppercase;
          }

          .button__icon {
            display: inline;
            margin-right: em(10.3);
            width: 19.4px;
            height: 19.4px;
            svg {
              width: 100%;
              height: auto;
            }
          }
        }
      }

      .menu__listen-toggle {
        background-color: $tundora;
        width: em(30);
        height: em(50);
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
          button.listen-toggle--closed {
            display: none;
          }
          button.listen-toggle--open {
            display: inline-flex;
          }
        }
        button {
          @mixin button-reset;
          display: inline-flex;
          width: em(11);
          height: em(6);
          &.listen-toggle--open {
            display: none;
          }
          svg {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .station_nav__drawers {
      display: none;
      background-color: $dustyGray;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 0;
      z-index: -1;
      @mixin medium-screen {
        display: flex;
        transform: translateY(-100%);
        transition: all 100ms linear;
      }

      &.active,
      &.active-locked {
        display: flex;
        padding: em(30) calc((100% - $default-screen-nav-width) / 2);
        @mixin large-screen {
          padding: em(30) calc((100% - $large-screen-nav-width) / 2);
        }
        @mixin medium-screen {
          padding: em(30) 0;
          transform: translateY(0);
        }
      }
      .drawers__drawer {
        display: none;
        width: calc($default-screen-nav-width - $station-logo-width-height - $logo-margin-right + em(30));
        @mixin large-screen {
          width: calc($large-screen-nav-width - $station-logo-width-height - $logo-margin-right + em(30));
        }
        @mixin medium-screen {
          width: 100%;
          margin: 0;
          flex-direction: column;
        }
        height: auto;
        flex-wrap: wrap;
        align-self: flex-end;
        &.active {
          display: flex;
        }
        &.drawer--desktop {
          margin: em(-5) em(-15);
          .drawer__item {
            margin: em(5) em(15);
            white-space: nowrap;
            flex: 0 0 auto;
            a {
              @mixin anchor-reset;
              span {
                @mixin station-nav-font2;
              }
            }
          }
        }
        &.drawer--mobile {
          .drawer__item {
            &.active {
              .item__label {
                background: $parisM;
                .label__menu-toggle {
                  button.menu-toggle--closed {
                    display: none;
                  }
                  button.menu-toggle--open {
                    display: inline-flex;
                  }
                }
              }
              ul {
                display: flex;
              }
            }
            .item__label {
              display: flex;
              padding-left: calc((100% - $medium-screen-nav-width) / 2 + $caret-width + $caret-margin-right);
              @mixin nav-mobile-breakpoint {
                padding-left: calc(em(20) + $caret-width + $caret-margin-right);
              }
              height: em(30);
              align-items: center;
              &:hover {
                background: $parisM;
              }
              a {
                @mixin anchor-reset;
              }
              button {
                @mixin button-reset;
                span {
                  @mixin station-nav-font3;
                  text-transform: uppercase;
                }
              }
              .label__menu-toggle {
                display: flex;
                margin-left: em(8);
                button {
                  @mixin button-reset;
                  width: 12px;
                  height: auto;
                  display: inline-flex;
                  &.menu-toggle--open {
                    display: none;
                  }
                  svg {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
            ul {
              display: none;
              padding-left: calc((100% - $medium-screen-nav-width) / 2 + $caret-width + $caret-margin-right);
              @mixin nav-mobile-breakpoint {
                padding-left: calc(em(20) + $caret-width + $caret-margin-right);
              }
              flex-direction: column;
              li {
                a {
                  @mixin anchor-reset;
                  button {
                    @mixin button-reset;
                    span {
                      @mixin station-nav-font4;
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }
          }
        }
        &.drawer--listen {
          flex-direction: column;
          section {
            width: widthOnGrid(4,3);
            &:not(:last-of-type) {
              margin-right: widthOnGrid(1,2);
            }
            @mixin medium-screen {
              width: 100%;
              margin-right: 0;
            }
          }
          .drawer__playing {
          }
          .drawer__audio {
          }
          .drawer__featured {
          }
        }
      }
    }
  }
}
