/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--stations-list {
  .loader-container {
    display: none;
    &.active {
      display: block;
    }
    svg {
      width: em(40);
      margin: 0 auto em(30);
      display: block;
    }
  }
  .stations-list__header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2.header-row__title {
      @mixin stations-list-font1;
      text-transform: capitalize;
      margin-bottom: em(20, 18);
    }
    a.header-row__see-all-link {
      @mixin stations-list-font4;
      text-decoration: none;
      margin-bottom: em(20, 18);
      display: flex;
      align-items: center;
      @mixin medium-small-screen {
        display: none;
      }
      svg {
        height: em(10, 12);
        margin-left: em(5, 12);
      }
    }
  }
  .stations-list__data {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li.station {
      width: em(widthOnGrid(2,1));
      margin-bottom: em(50);
      @mixin medium-screen {
        width: calc((100% - 2 * em(20)) / 3);
        margin-bottom: em(30);
      }
      @media all and (max-width: 600px) {
        width: calc((100% - em(20)) / 2);
      }
      .component--stations-directory & {
        @mixin default-screen {
          &:not(:nth-of-type(7n)) {
            margin-right: em(20);
          }
          &:nth-of-type(7n) {
            margin-right: 0;
          }
        }
        @mixin large-screen {
          &:not(:nth-of-type(6n)) {
            margin-right: em(20);
          }
          &:nth-of-type(6n) {
            margin-right: 0;
          }
        }
        @mixin medium-screen {
          &:not(:nth-of-type(3n)) {
            margin-right: em(20);
          }
          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }
        @media all and (max-width: 600px) {
          &:not(:nth-of-type(2n)) {
            margin-right: em(20);
          }
          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }
      }
      .component--stations-directory .stations-list--truncated& {
        @mixin default-screen {
          &:nth-of-type(n+8) {
            display: none;
          }
          &:nth-of-type(-n+7) {
            display: block;
          }
        }
        @mixin large-screen {
          &:nth-of-type(n+7) {
            display: none;
          }
          &:nth-of-type(-n+6) {
            display: block;
          }
        }
        @mixin medium-screen {
          &:nth-of-type(n) {
            display: none;
          }
          &.active:nth-of-type(n) {
            display: block;
          }
        }
      }
      .component--stations-directory .stations-list--truncated[data-filter-stations-by-track='category']& {
        @mixin default-screen {
          &:nth-of-type(n+15) {
            display: none;
          }
          &:nth-of-type(-n+14) {
            display: block;
          }
        }
        @mixin large-screen {
          &:nth-of-type(n+13) {
            display: none;
          }
          &:nth-of-type(-n+12) {
            display: block;
          }
        }
        @mixin medium-screen {
          &:nth-of-type(n) {
            display: none;
          }
          &.active:nth-of-type(n) {
            display: block;
          }
        }
      }
      .component--station-detail & {
        @mixin default-screen {
          &:nth-of-type(n+11) {
            display: none;
          }
          &:nth-of-type(-n+10) {
            display: block;
          }
          &:not(:nth-of-type(5n)) {
            margin-right: em(20);
          }
          &:nth-of-type(5n) {
            margin-right: 0;
          }
        }
        @mixin large-screen {
          &:nth-of-type(n+9) {
            display: none;
          }
          &:nth-of-type(-n+8) {
            display: block;
          }
          &:not(:nth-of-type(4n)) {
            margin-right: em(20);
          }
          &:nth-of-type(4n) {
            margin-right: 0;
          }
        }
        @mixin medium-screen {
          &:nth-of-type(n) {
            display: none;
          }
          &.active:nth-of-type(n) {
            display: block;
          }
          &:not(:nth-of-type(3n)) {
            margin-right: em(20);
          }
          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }
        @media all and (max-width: 600px) {
          &:not(:nth-of-type(2n)) {
            margin-right: em(20);
          }
          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }
      }
      .component--station-detail .stations-list--truncated[data-filter-stations-by-track=recent]& {
        @mixin default-screen {
          &:nth-of-type(n+6) {
            display: none;
          }
          &:nth-of-type(-n+5) {
            display: block;
          }
        }
        @mixin large-screen {
          &:nth-of-type(n+5) {
            display: none;
          }
          &:nth-of-type(-n+4) {
            display: block;
          }
        }
        @mixin medium-screen {
          &:nth-of-type(n) {
            display: none;
          }
          &.active:nth-of-type(n) {
            display: block;
          }
        }
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        width: 100%;
        .station__lede {
          position: relative;
          margin-bottom: em(5);
          width: 100%;
          height: 100%;
          border: em(1) solid $mercury;
          @mixin medium-small-screen {
            margin-bottom: em(10);
          }
          button{
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            background: transparent;
            border: none;
            padding: 0;
            svg {
              width: 100%;
              height: 100%;
            }
            &.lede__favorite-btn {
              display: none; // hide until favoriting is available
              width: em(20);
              height: em(20);
              top: 0;
              left: 0;
              margin: em(5) 0 0 em(5);
              @mixin medium-screen {
                margin: em(10) 0 0 em(10);
                width: em(37);
                height: em(37);
              }
              @mixin medium-small-screen {
                width: em(30);
                height: em(30);
              }
              @mixin small-screen {
                width: em(21);
                height: em(21);
              }
            }
            &.lede__play-btn {
              width: em(23);
              height: em(23);
              bottom: em(.15);
              right: em(.1);
              margin: 0 em(5) em(5) 0;
              @mixin medium-screen {
                margin: 0 em(10) em(10) 0;
                width: em(32);
                height: em(32);
              }
              @mixin medium-small-screen {
                width: em(35);
                height: em(35);
              }
              @mixin small-screen {
                width: em(25);
                height: em(25);
              }
              &:hover {
                opacity: 0.7;
              }
            }
            &.show__play {
              box-sizing: border-box;
              width: .6875em;
              height: .6875em;
              border-style: solid;
              border-width: .375em 0em .375em .5em;
              border-color: transparent transparent transparent #202020;
              &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: -.65em;
                left: -.95em;
                height: 1.3em;
                width: 1.3em;
                border-radius: 1.3em;
                border: 1px solid lightgrey;
              }
            }
            &.show__pause {
              width: .775em;
              height: .7em;
              border-style: double;
              border-width: 0em 0em 0em .5em;
              border-color: #202020;
              &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: -.3em;
                left: -.9em;
                height: 1.25em;
                width: 1.25em;
                border-radius: 1.25em;
                border: 1px solid lightgrey;
              }
            }
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        span {
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          &.station__name {
            @mixin stations-list-font2;
            margin-bottom: em(3, 13);
            @mixin medium-small-screen {
              margin-bottom: em(8, 13);
            }
          }
          &.station__secondary-info {
            @mixin stations-list-font3;
          }
        }
      }
    }
    .google-ad-manager--billboard,
    .google-ad-manager--leaderboard,
    .google-ad-manager--mobile,
    .google-ad-manager--super-leaderboard {
      min-width: 100vw;
      left: calc((100vw - 100%) / -2);
      right: auto;
      margin-left: auto;
      margin-right: auto;
      align-self: center;
    }
  }
  .stations-list__load-more {
    display: none;
    @mixin medium-screen {
      display: flex;
    }
    @mixin small-screen {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
    cursor: pointer;
    font-size: 16px;
    height: em(43);
    background: $concrete;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: em(50);
    @mixin medium-screen {
      margin-bottom: em(30);
    }
    @mixin small-screen {
      margin-bottom: em(25);
    }
    svg {
      height: em(18);
      margin-right: em(10);
    }
    span {
      @mixin stations-list-font5;
    }
  }
}
