@import "_global/colors";
@import "_global/fonts";
@import "_global/mixins";

@define-mixin station-settings-title {
  @mixin font CircularStd-Black, 20px, inherit, -.23px, 20px;
}

@define-mixin station-settings-title-book {
  @mixin font CircularStd-Book, 20px, inherit, -.23px, 20px;
}

@define-mixin station-settings-form-group-title {
  @mixin font CircularStd-Bold, 16px, inherit, -.23px, 20px;
}

.station-settings-manager {
  &__content {
    width: 75vw;
  }
  &__tabs.ui-tabs {
    width: 75vw;
    .ui-tabs__body {
      height: calc(100vh - em(88));
      overflow-y: auto;
    }
  }
  &__main-title {
    @mixin station-settings-title;
    display: flex;
    align-items: center;
    background: theme(primaryColor, $black);
    color: theme(primaryFontColor, $white);
  }
  &__img-wrap {
    flex: 0 0 2em;
    height: 2em;
    margin-right: 0.5em;
    img {
      width: 100%;
    }
  }
  &__title-text {
    small  {
      @mixin station-settings-title-book;
    }
  }
}

.station-settings {
  &__main-title {
    @mixin station-settings-title-book;
    margin-bottom: em(30, 20);
  }
  &__form-group {
    display: flex;
    align-items: center;
    background: $concrete;
    padding: em(16);
    margin-bottom: em(2);
  }
  &__form-group-title {
    @mixin station-settings-form-group-title;
  }
  &__form-group--global-sponsorship {
    .ui-checkbox {
      margin-bottom: 0;
    }
  }
  &__form-group--favicon {
    .advanced-image-upload__attached-image, .kiln-placeholder {
      display: none;
    }
  }
  &__form-group-left{
    flex: 1 0 auto;
  }
  &__form-group-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 0 auto;
  }
  &__favicon-img-wrap{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: em(4);
    margin-right: em(16);
    border: 1px dashed $alto;
    &:before {
      content: attr(data-content);
      top: 50%;
      width: 100%;
      text-align: center;
      position: absolute;
      font-size: 1em;
      text-transform: uppercase;
      color: $doveGray;
      z-index: 1;
    }
  }
  &__favicon-img {
    width: 100%;
    height: auto;
    z-index: 2;
  }
}