@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

$default-screen-nav-width: em(1100); /* 1280+ */
$large-screen-nav-width: em(940); /* 1280-1024 */
$medium-screen-nav-width: em(728); /* 1023-481 */
$medium-small-screen-nav-width: em(440); /* 480-361 */
$small-screen-nav-width: em(320); /* 360- */
$station-logo-width-height: em(100);
$station-logo-width-height-med-screen: em(80);

.component--station-nav {
  background-color: $boulder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .station-nav__menu {
    display: flex;
    align-items: flex-end;
    width: $default-screen-nav-width;
    @mixin large-screen {
      width: $large-screen-nav-width;
    }
    @mixin medium-screen {
      width: $medium-screen-nav-width;
    }
    @mixin nav-mobile-breakpoint {
      width: 100%;
      padding: 0 em(20);
    }

    .menu__mobile-toggle {
      display: none;
      align-self: center;
      margin-right: em(25);
      @mixin medium-screen {
        display: flex;
      }
      button {
        background: none;
        outline: none;
        margin: 0;
        border: 0;
        padding: 0;
        font-family: inherit; 
        font-size: 100%;
        line-height: 1;
        width: em(16);
        height: auto;
        cursor: pointer;
        &.mobile-toggle--open {
          display: none;
        }
        svg {
          width: 100%;
          height: auto;
        }
      }
      &.active {
        button.mobile-toggle--closed {
          display: none;
        }
        button.mobile-toggle--open {
          display: block;
        }
      }
    }

    .menu__image {
      width: $station-logo-width-height;
      height: $station-logo-width-height;
      margin-right: em(40);
      margin-bottom: em(16);
      margin-top: em(16);
      @mixin medium-small-screen {
        width: $station-logo-width-height-med-screen;
        height: $station-logo-width-height-med-screen;
      }
    }

    .menu__navigation {
      display: flex;
      margin-left: em(-15);
      @mixin medium-screen {
        display: none;
      }

      li.navigation__primary {
        a {
          text-decoration: none;
        }
        button {
          border: 0;
          background: none;
          font-family: inherit;
          font-size: 100%;
          line-height: 1.15;
          margin: 0;
          text-transform: none;
          padding: em(16) em(15);
          cursor: pointer;
          span {
            @mixin station-nav-font1;
            text-transform: uppercase;
            vertical-align: bottom;
          }
        }
      }
    }

    .menu__listen {
      margin-left: auto;
      margin-right: em(5);

      .listen__button {
        display: flex;
        align-items: center;
        background-color: $tundora;
        border: 0;
        padding: em(14) em(14) em(14) em(12);

        .button__text {
          @mixin station-nav-font1;
          text-transform: uppercase;
        }

        .button__icon {
          display: inline;
          margin-right: em(8);

          &.show__play {
            @mixin show__play $tundora;
          }
          &.show__pause {
            @mixin show__pause $tundora;
          }
          &.show__stop {
            @mixin show__stop $tundora;
          }
        }
      }
    }

    .menu__carat {
      background-color: $tundora;
      padding-bottom: em(20);
      width: em(25);
      height: em(40);

      &:after {
        display: block;
        position: relative;
        top: em(11);
        right: em(-7);
        width: em(8, 12);
        height: em(8, 12);
        content: '';
        transform: rotate(45deg);
        border-width: 0 em(2, 12) em(2, 12) 0;
        border-style: solid;
        border-color: $white;
      }
    }
  }

  .station_nav__drawers {
    display: none;
    background-color: $dustyGray;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: em(30) calc((100% - $default-screen-nav-width) / 2);
    @mixin large-screen {
      padding: em(30) calc((100% - $large-screen-nav-width) / 2);
    }
    @mixin medium-screen {
      padding: em(30) calc((100% - $medium-screen-nav-width) / 2);
    }
    @mixin nav-mobile-breakpoint {
      padding: em(30) em(20);
    }

    &.active {
      display: flex;
    }
    .drawers__drawer {
      display: none;
      width: calc($default-screen-nav-width - $station-logo-width-height - em(40) + em(30));
      @mixin large-screen {
        width: calc($large-screen-nav-width - $station-logo-width-height - em(40) + em(30));
      }
      @mixin medium-screen {
        width: calc($medium-screen-nav-width - $station-logo-width-height-med-screen - em(40) + em(30));
      }
      @mixin nav-mobile-breakpoint {
        width: calc(100% - em(40));
      }
      height: auto;
      flex-wrap: wrap;
      align-self: flex-end;
      margin: em(-5) em(-15);
      &.active {
        display: flex;
      }
      .drawer__item {
        margin: em(5) em(15);
        white-space: nowrap;
        flex: 0 0 auto;
        a {
          text-decoration: none;
          span {
            @mixin station-nav-font2;
          }
        }
      }
    }
  }
}
