@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";
@import "_global/content-type";

.component--static-page {
  /* BEM exceptions - targeting tags that are added as a result of editing */
  .component__header {
    padding: em(20, 45) 0;
    @mixin static-page-font1;
    @mixin medium-small-screen {
      padding-top: em(50, 35);
      padding-bottom: em(20, 35);
      @mixin static-page-font2;
    }
  }

  a {
    @mixin anchor $purpleRGB;
  }

  .component--subheader {
    padding: em(15, 24) 0;
    @mixin static-page-font3;

    a {
      @mixin static-page-font3;
      text-decoration: inherit;
      background: inherit;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .paragraph {
    margin-bottom: em(20, 18);
    @mixin static-page-font5;
    > strong {
      @mixin static-page-font6;
    }
  }

  .iframe-container__padded-container {
    padding-top: 0;
    iframe {
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
