@import "_global/colors";

.component--stats-standings {
  .standings-container {
    border: em(1) solid #EDE5E5;
    padding: em(10);
    margin-bottom: em(20);
  }

  .stats__preview { 
    min-height: em(20);
    margin-bottom: em(20);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $hawkesBlue;
    padding: em(20);
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      span {
        color: $denim;
      }
    }
  }
}
