@import "_global/mixins";
@import "_global/colors";
@import "_global/fonts";

.component--station-listen-nav {
    .drawer__social {
        display: flex;
        > a {
            display: inline-block;
            text-decoration: none;
        }
        > a svg {
            @mixin inline-block;
            height: em(18);
            margin-right: em(10);
            pointer-events: none;
        }
    }
}