@import "_global/fonts";

.color-picker-dropdown {
  padding: em(30);
}
.station-theme-manager {
  .theme-color-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: em(30);
  }
  .ui-textbox {
    width: em(500);
    margin-right: em(10);
    input {
      color: inherit;
    }
  }
  .ui-icon-button--type-primary {
    border: em(1) solid $boulder;
  }
  .ui-alert {
    font-size: 16px;
    max-width: em(687);
  }
  .station-theme-manager__color-preview {
    display: flex;
    flex-direction: column;
    margin-left: em(30);
    padding: em(30);

    h3 {
      @mixin station-theme-font2;
      margin-bottom: em(30);
      max-width: em(400);
    }

    span {
      &:nth-of-type(1) {
        @mixin station-theme-font2;
      }
      &:nth-of-type(2) {
        @mixin station-theme-font3;
      }
      &:nth-of-type(3) {
        @mixin station-theme-font4;
      }
      &:nth-of-type(4) {
        @mixin station-theme-font5;
      }
      &:nth-of-type(5) {
        @mixin station-theme-font6;
      }
      &:nth-of-type(6) {
        @mixin station-theme-font7;
      }
      &:nth-of-type(7) {
        @mixin station-theme-font8;
      }
      &:nth-of-type(8) {
        @mixin station-theme-font9;
      }
      &:nth-of-type(9) {
        @mixin station-theme-font10;
      }
      &:nth-of-type(10) {
        @mixin station-theme-font11;
      }
      &:nth-of-type(11) {
        @mixin station-theme-font12;
      }
      &:nth-of-type(12) {
        @mixin station-theme-font13;
      }
    }
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: em(30);
  }
}
