/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

body {
  background: var(--station-listen-only-gradient-start);
  background: linear-gradient(180deg, var(--station-listen-only-gradient-start) 350px, var(--station-listen-only-gradient-end) 100%) no-repeat;
  @mixin medium-screen {
    background: $white;
  }
}

.station-detail-listen-only-banner {
  &__image-container {
    height: em(240);
    width: em(1160);
    margin: 0 auto;
    @mixin large-screen {
      width: em(1000);
    }
    @mixin medium-screen {
      width: 100%;
    }
    @mixin medium-small-screen {
      height: em(200);
    }
  }
}
