/* stylelint-disable */
@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--stations-directory {
  min-height: em(800);
  @mixin medium-small-screen {
    margin-top: em(20);
  }

  ul.stations-directory__tabs {
    margin-bottom: em(50);
    @mixin medium-small-screen {
      margin-bottom: em(25);
    }

    > li {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap;
      cursor: pointer;
      text-transform: capitalize;
      @mixin stations-directory-font1;

      a {
        text-decoration: none;
        color: inherit;
      }

      @mixin medium-small-screen {
        @mixin stations-directory-font3;
      }

      span {
        display: inline-flex;
        flex-direction: row;
        align-items: baseline;
      }

      &.tab--dropdown:hover {
        align-items: flex-start;

        ul {
          display: block;

          @mixin medium-small-screen {
            align-items: center;
            display: none;
          }
        }
      }

      ul {
        display: none;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        z-index: 1;
        position: absolute;
        top: em(56);
        border: em(1, 14) solid $mercury;
        background: $white;

        li {
          @mixin stations-directory-font2;
          @mixin medium-small-screen {
            @mixin stations-directory-font3;
          }
          display: block;
          background: $white;
          -webkit-column-break-inside: avoid;
          break-inside: avoid;
          min-width: em(128, 12);
          @mixin medium-small-screen {
            min-width: em(142, 12);
          }

          &:hover {
            background: $concrete;
          }

          a {
            width: 100%;
            height: 100%;
            display: block;
            padding: em(5, 12);
          }
        }
      }

      &:not(:last-of-type) {
        margin-right: em(40, 14);
        @mixin medium-small-screen {
          margin-right: em(25, 12);
        }
      }

      &::after {
        height: em(2, 14);
        max-width: em(42, 14);
        width: 100%;
        display: none;
        position: relative;
        content: '';
        margin-top: em(3, 14);
        background: $purple;

        @mixin medium-small-screen {
          width: em(32, 14);
        }
      }

      &.active::after {
        display: inline-block;
      }
    }

    > li.tab--location {
      ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
      }
    }
  }
}
@define-mixin underline-color $stationGenre, $color {
  .component--stations-directory ul.stations-directory__tabs > li.tab--$stationGenre::after {
    background: $color;
  }
}
@mixin underline-color music, $sunsetOrange;
@mixin underline-color newstalk, $lightningYellow;
@mixin underline-color sports, $azureRadience;
