@import "_global/mixins";
@import "_global/colors";
@import "_global/fonts";

@define-mixin station-footer-font1 {
  @mixin font CircularStd-Medium, 18px, $station-primaryFontColor, -.45px, 22px;
}
@define-mixin station-footer-font2 {
  @mixin font CircularStd-Black, 18px, $station-primaryFontColor, -.45px, 22px;
}
@define-mixin station-footer-font3 {
  @mixin font ProximaNova-Regular, 14px, $station-primaryFontColor, -.23px, 22px;
}

.component--station-footer {
  width: 100%;
  background: $station-primaryColor;
  position: relative;
  text-align: center;
  padding: em(40) em(20) 0 em(20);
  display: flex;
  justify-content: center;

  .station-footer {
    width: em(620);

    @media screen and (max-width: 660px) {
      width: 100%;
    }

    &__name {
      @mixin station-footer-font2;
    }

    &__slogan, &__divider {
      @mixin station-footer-font1;
    }

    &__social {
      margin: em(26) 0;
      display: flex;
      justify-content: center;
      align-items: center;
      > a {
        display: block;
        text-decoration: none;
        margin: 0 em(10);
        max-height: em(30);
      }
      > a svg {
        height: em(30);
        fill: $white;
        #you-tube-fill {
          fill: var(--theme-primaryColor, $parisM);
        }
      }
    }

    &__links {
      margin-bottom: em(40);
    }

    &__link {
      @mixin station-footer-font3;
      @mixin inline-block;
      margin: 0 em(15, 14);
      text-decoration: none;
      font-weight: 500;
    }

    &__copyright {
      @mixin station-footer-font3;
      @mixin inline-block;
      margin-bottom: em(40, 14);
      font-weight: 300;
    }
  }
}
