.tag-list {

  .tag-list-hd {
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;

    .tag-list-hd-title {
      font-size: 1.75em;
    }
  }

  .tag-list-link {
    color: #000;
    display: flex;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: #fcd400;
    }
  }

  .tag-list-list > * + * {
    border-top: 1px solid #000;
    margin-top: 25px;
    padding-top: 25px;
  }

  .tag-list-item-img {
    flex: 0 0 30%;

    img {
      max-width: 100%;
      max-height: 200px;
      display: block;
      margin: 0 auto;
    }
  }

  .tag-list-item-text {
    display: flex;
    flex-direction: column;
    padding-left: 3%;

    .tag-list-item-title {
      font-size: 1.5em;
      margin-bottom: 20px;
    }

    .tag-list-item-description {
      line-height: 1.4;
      padding-bottom: 30px;
    }

    .tag-list-item-read-more {
      color: #103cbc;
      font-size: 13px;
      font-weight: 800;
    }
  }
}

.tag-list.tag-list-small {

  .tag-list-hd {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;

    .tag-list-hd-title {
      font-size: 1.5em;
    }
  }

  .tag-list-list > * + * {
    border-top: 1px solid #000;
    margin-top: 10px;
    padding-top: 10px;
  }

  .tag-list-item-title {
    font-size: 1.25em;
    margin-bottom: 0;
  }
}
