@import "_global/mixins";
@import "_global/colors";

/* stylelint-disable */
.component--tags {
  clear: both;
  margin-bottom: em(15);
}

@media screen and (min-width:600px) {
  .component--tags {
    margin-bottom: em(10);
    margin-top: em(16);
  }
}

@media print {
  .component--tags {
    display: none;
  }
}

.component--tags .tags__link.hidden,
.component--tags .tags__link.invisible,
.tags.hidden {
  display: none;
}

.component--tags .tags,
.component--tags .tags-item {
  display: inline-block;
}

.component--tags .tags__link.invisible-in-edit-mode {
  color: #888;
}

.component--tags {
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Mixin to style tags based on theme colors */
@define-mixin themed-tag-list $class, $color: $purple {
  .tags$(class) {
    .tags__link {
      display: inline-block;
      margin: 0 em(10, 14) em(10, 14) 0;
      padding: 0px em(6, 14);
      border: 2px solid $color;
      font-family: CircularStd-Medium;
      font-size: em(14);
      text-decoration: none;
      letter-spacing: em(-0.23, 14);
      line-height: em(22, 14);
      color: $color;

      &:after {
        display: none;
      }

      &:hover {
        background: $color;
        color: $white;
      }
    }
  }
}

@mixin themed-tag-list;
@mixin themed-tag-list .tags--entertainment, $sunsetOrange;
@mixin themed-tag-list .tags--news, $lightningYellow;
@mixin themed-tag-list .tags--sports, $azureRadience;
@mixin themed-tag-list .tags--podcasts, $robinsEgg;