@import "_global/mixins";
@import "_global/colors";

/* stylelint-disable */
.component--tags {
  clear: both;
  margin-bottom: 15px;
}

@media screen and (min-width:600px) {
  .component--tags {
    margin-bottom: 10px;
    margin-top: 16px;
  }
}

@media print {
  .component--tags {
    display: none;
  }
}

.component--tags .tags__link.hidden,
.component--tags .tags__link.invisible,
.tags.hidden {
  display: none;
}

.component--tags .tags__link:after,
.component--tags .tags,
.component--tags .tags-item {
  display: inline-block;
}

.component--tags .tags__link {
  color: #111;
}

.component--tags .tags__link:after {
  color: #808080;
  content: '|';
  font-size: 8px;
  padding: 0 5px;
  position: relative;
  top: -1px;
}

.component--tags .tags__link.invisible-in-edit-mode {
  color: #888;
}

.component--tags .tags__link:focus,
.component--tags .tags__link:hover {
  color: #1782a9;
}

.component--tags .tags__link:last-of-type:after {
  content: '';
}

.component--tags .tags__link,
.component--tags .title {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
}

.component--tags .title {
  color: #888;
  margin-bottom: 0;
  padding: 0 7.5px 0 0;
}

.component--tags .tags {
  margin: 0;
  padding: 0;
}

.component--tags {
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Mixin to style tags based on theme colors */
@define-mixin themed-tag-list $class, $color: $purple {
  .tags {
    > .$(class) {
      a {
        margin: 0 10px 10px 0;
        padding: 0px 6px;
        border: 2px solid $color;
        font-family: CircularStd-Medium;
        font-size: 14px;
        letter-spacing: -0.23px;
        line-height: 24px;
        color: $color;

        &:after {
          display: none;
        }

        &:hover {
          background: $color;
          color: $white;
        }
      }
    }
  }
}

@mixin themed-tag-list tags__list-item;
@mixin themed-tag-list entertainment, $sunsetOrange;
@mixin themed-tag-list news, $lightningYellow;
@mixin themed-tag-list sports, $azureRadience;
@mixin themed-tag-list podcasts, $robinsEgg;