/* stylelint-disable */
@import "_global/mixins";
@import "_global/colors";

$default-screen-nav-width: em(1100);
$large-screen-nav-width: em(940);
$medium-screen-nav-width: em(728);
$medium-small-screen-nav-width: em(440);
$small-screen-nav-width: em(320);

$default-nav-height: em(60);
$mini-nav-height: em(46);

$navButton: radiocom-nav__category-button;
$drawerSelector: nav-drawer;

.radiocom-nav-placeholder {
  button {
    @mixin inline-block;
    padding: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 100%;
  }
  ul {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    float: left;
  }
  h1, h2, h3, li {
    padding: 0;
    margin: 0;
    font-weight: normal;
    @mixin inline-block;
  }
  a {
    @mixin inline-block;
    color: #000;
    text-transform: none;
    text-decoration: none;
  }
  height: $default-nav-height;
}
.radiocom-nav {
  background: $parisM;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
  height: $default-nav-height;
  .container {
    @mixin inline-block;
    text-align: left;
    height: 100%;
    width: $default-screen-nav-width;
  }
  .radiocom-nav__hamburger.wrapper {
    display: none;
    position: relative;
    vertical-align: top;
    margin-right: em(20);
    width: em(20);
    height: em(15);
    cursor: pointer;
    @mixin vertical-align;
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-size: 10px;
      padding: 0;
      -webkit-appearance: none;
      color: $white;
      width: 20px;
      height: 3px;
      border-radius: 7px;
      background-color: white;
      -webkit-transition: all 0.2s ease-in;
      -webkit-transform: rotate(0deg);
      &.bar-1.active {
        top: 6px;
        -webkit-transform: rotate(-135deg);
        -webkit-transition: all 0.2s ease-in;
      }
      &.bar-2 {
        top: 6px;
        &.active {
          right: 100px;
          background-color: transparent;
          -webkit-transition: all 0.2s ease-in;
        }
      }
      &.bar-3 {
        top: 12px;
        &.active {
          top: 6px;
          -webkit-transform: rotate(135deg);
          -webkit-transition: all 0.2s ease-in;
        }
      }
    }
  }
  .radiocom-nav__logo {
    @mixin inline-block;
    font-size: 16px;
    background: transparent;
    border: 0;
    height: 100%;
    width: em(260);
    padding: 0;
    margin: 0 em(42) 0 0;
    cursor: pointer;
    img, svg {
      width: 100%;
      height: auto;
      vertical-align: -webkit-baseline-middle;
    }
  }
  @define-mixin header-button-color $modifier, $color {
    &.$(navButton)--active.$(navButton)--$(modifier),
    &:hover.$(navButton)--$(modifier) {
      background: $color;
    }
  }
  @define-mixin header-heading-color $modifier, $color {
    &.$(navButton)--active.$(navButton)--$(modifier) h1,
    &:hover.$(navButton)--$(modifier) h1 {
      color: $color;
    }
  }
  .$(navButton) {
    @mixin inline-block;
    border: 0;
    height: 100%;
    background: transparent;
    padding: 0 em(20);
    cursor: pointer;
    @mixin header-button-color news, $lightningYellow;
    @mixin header-button-color sports, $azureRadience;
    @mixin header-button-color podcasts, $robinsEggBlue;
    @mixin header-button-color entertainment, $sunsetOrange;
    @mixin header-button-color listen, $white;
    @mixin header-button-color download, $white;
    @mixin header-button-color more, $white;
    @mixin header-heading-color listen, $parisM;
    @mixin header-heading-color download, $parisM;
    @mixin header-heading-color more, $parisM;
    button h1 {
      font-family: CircularStd-Black, sans-serif;
      font-size: 15px;
      color: $white;
      text-transform: uppercase;
      line-height: 60px;
      vertical-align: bottom;
    }
  }
  .radiocom-nav__container--right {
    @mixin inline-block;
    @mixin vertical-align;
    @mixin medium-screen {
      float: right;
    }
    .account-btn {
      font-size: 16px;
      vertical-align: middle;
      height: em(30);
      width: em(30);
      margin: 0 em(20) 0 em(42);
      div, img, svg {
        width: 100%;
        height: auto;
      }
      .inactive {
        display: none;
      }
      .active {
        display: block;
      }
      @mixin large-screen {
        margin: 0 em(20) 0 em(9);
      }
      @mixin medium-screen {
        height: em(24);
        width: em(24);
        margin: 0 em(20) 0 0;
      }
      @mixin medium-small-screen {
        display: none;
      }
    }
    .search-btn {
      font-size: 16px;
      vertical-align: middle;
      height: em(30);
      width: em(25);
      div, img, svg {
        width: 100%;
        height: auto;
      }
      .inactive {
        display: none;
      }
      .active {
        display: block;
      }
      @mixin medium-screen {
        height: em(20);
        width: em(20);
      }
    }
  }
  .$(drawerSelector) {
    background: $purple;
    position: fixed;
    display: none;
    top: $default-nav-height;
    width: 100%;
    left: 0;
    padding: em(50);
    color: $white;
    cursor: default;
    overflow: hidden;
    &:not(.$(drawerSelector)--mobile) {
      justify-content: center;
      .container {
        display: block;
        text-align: left;
        width: $default-screen-nav-width;
        .$(drawerSelector)__sub-nav {
          @mixin inline-block;
          &:first-of-type {
            margin-right: em(100);
            .$(drawerSelector)__sub-nav--columns {
              @mixin ul-columns 3, em(80);
            }
          }
          &:nth-of-type(2) {
            margin-right: em(100);
            .$(drawerSelector)__sub-nav--columns {
              @mixin ul-columns 2, em(80);
            }
          }
          &:nth-of-type(3) {
            .$(drawerSelector)__sub-nav--columns {
              @mixin ul-columns 1, em(80);
            }
          }
          ul {
            li {
              display: block;
              width: em(100);
              cursor: pointer;
              white-space: nowrap;
              h3 {
                font-family: ProximaNova-Regular, sans-serif;
                font-size: 14px;
                color: $white;
                letter-spacing: -0.23px;
                line-height: 28px;
                text-transform: capitalize;
              }
            }
          }
          h2.find-station-link {
            span {
              font: 500 em(30)/1em Arial, Helvetica, sans-serif;
              @mixin inline-block;
            }
          }
        }
      }
    }
    &.$(drawerSelector)--active:not(.$(drawerSelector)--mobile) {
      display: flex;
    }
    &.$(drawerSelector)--mobile:not(.$(drawerSelector)--active) {
      display: block;
    }
    &.$(drawerSelector)--active.$(drawerSelector)--mobile {
      transform: translateX(0);
    }
    h2 {
      font-family: CircularStd-Black, sans-serif;
      font-size: 14px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: -0.23px;
      line-height: 28px;
      display: block;
      text-align: left;
    }
    &.$(drawerSelector)--mobile {
      display: inline-block;
      padding: em(30) 0;
      transform: translateX(-100%);
      transition: all 100ms linear;
      .$(drawerSelector)__sub-nav {
        margin: 0;
        display: block;
        a {
          width: 100%;
        }
        &.$(drawerSelector)__listen h2:hover,
        &.$(drawerSelector)__download h2:hover,
        &.$(drawerSelector)__more h2:hover {
          background: $white;
          color: $parisM;
        }
        @define-mixin drawer-header-color $modifier, $color {
          &.$(drawerSelector)__sub-nav--active.$(drawerSelector)__$(modifier) h2,
          &.$(drawerSelector)__$(modifier) h2:hover {
            background: $color;
          }
        }
        @mixin drawer-header-color entertainment, $sunsetOrange;
        @mixin drawer-header-color news, $lightningYellow;
        @mixin drawer-header-color sports, $azureRadience;
        @mixin drawer-header-color podcasts, $robinsEggBlue;
        h2 {
          cursor: pointer;
          text-align: left;
          line-height: em(30);
          display: inline-block;
          width: 100%;
        }
        ul {
          cursor: pointer;
          text-align: left;
          line-height: em(30);
          display: inline-block;
          width: 100%;
          display: none;
        }
        &.$(drawerSelector)__sub-nav--active ul {
          display: block;
        }
        h3 {
          font-family: ProximaNova-Regular, sans-serif;
          font-size: 14px;
          color: $white;
          letter-spacing: -0.23px;
          line-height: 28px;
          text-transform: capitalize;
        }
        li {
          display: block;
        }
      }
      .find-station-link {
        cursor: pointer;
        line-height: em(30);
        display: block;
      }
    }
  }
}
.kiln-wrapper.view-mode {
    top: $default-nav-height !important;
  }
.kiln-edit-mode {
  .radiocom-nav {
    top: em(56);
  }
}
@mixin large-screen {
  .radiocom-nav .container {
    width: $large-screen-nav-width;
    .radiocom-nav__logo {
      width: em(220);
      margin: 0 em(15) 0 0;
    }
    .$(navButton) {
      padding: 0 em(15);
    }
    .$(drawerSelector):not(.$(drawerSelector)--mobile) .container {
      width: $large-screen-nav-width;
      .$(drawerSelector)__sub-nav {
        ul li {
          width: em(80);
        }
        &:first-of-type {
          margin-right: em(80);
          .$(drawerSelector)__sub-nav--columns {
            @mixin ul-columns 3, em(80);
          }
        }
        &:nth-of-type(2) {
          margin-right: em(80);
          .$(drawerSelector)__sub-nav--columns {
            @mixin ul-columns 2, em(80);
          }
        }
        &:nth-of-type(3) {
          .$(drawerSelector)__sub-nav--columns {
            @mixin ul-columns 1, em(80);
          }
        }
      }
    }
  }
}

@mixin medium-screen {
  .kiln-wrapper.view-mode {
    top: $mini-nav-height !important;
  }
  .radiocom-nav-placeholder {
    height: $mini-nav-height;
  }
  .radiocom-nav {
    height: $mini-nav-height;
    .container {
      width: $medium-screen-nav-width;
      text-align: left;
      .radiocom-nav__hamburger {
        display: inline-block;
      }
      .radiocom-nav__logo {
        width: em(180);
      }
      .$(navButton) {
        padding: 0;
        background: transparent;
        button {
          display: none;
        }
      }
      .$(drawerSelector) {
        height: calc(100vh - $(mini-nav-height));
        top: $mini-nav-height;
        /* (100% view width - header container width) / 2
        + hamburger width + hamburger margin + nav logo width */
        width: calc((100vw - $(medium-screen-nav-width)) / 2 + em(20) + em(20) + em(180));
        &:not(.$(drawerSelector)--mobile) .container {
          width: $medium-screen-nav-width;
        }
        &.$(drawerSelector)--mobile {
          .$(drawerSelector)__sub-nav {
            h2, ul {
              font-size: 16px;
              /* (100% view width - header container width) / 2 */
              padding-left: calc((100vw - $(medium-screen-nav-width)) / 2);
            }
          }
          .find-station-link {
            font-size: 16px;
            /* (100% view width - header container width) / 2 */
            padding-left: calc((100vw - $(medium-screen-nav-width)) / 2);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 788px) {
  .radiocom-nav .container {
    width: 100%;
    padding: 0 em(20);
    .$(drawerSelector) {
      &.$(drawerSelector)--mobile {
        /* header container padding-left + hamburger width
        + hamburger margin + nav logo width */
        width: calc(em(30) + em(20) + em(20) + em(180));
        .$(drawerSelector)__sub-nav {
          h2, ul {
            padding-left: em(30);
          }
        }
        .find-station-link {
          padding-left: em(30);
        }
      }
    }
  }
}

@mixin medium-small-screen {
  .radiocom-nav .container {
    width: 100%;
    padding: 0 em(widthOnGrid(0,1));
    text-align: center;
    .radiocom-nav__hamburger.wrapper {
      float: left;
    }
    .radiocom-nav__logo {
      margin-right: 0;
    }
    .$(drawerSelector) {
      &.$(drawerSelector)--mobile {
        width: 100%;
        .$(drawerSelector)__sub-nav {
          h2, ul {
            text-align: center;
            margin: 0;
            padding-left: 0;
          }
          h2 li, ul li {
            width: auto;
          }
        }
        .find-station-link {
          text-align: center;
          margin: 0;
          padding-left: 0;
          width: auto;
        }
      }
    }
  }
}
