/* stylelint-disable */
@import "_global/mixins";
@import "_global/colors";
@import "_global/fonts";

$default-radium-width: em(150);
$default-nav-height: em(60);
$mini-nav-height: em(46);
$navButton: radiocom-nav__category-button;
$drawerSelector: nav-drawer;

.radiocom-nav-placeholder {
  height: $default-nav-height;

  button {
    @mixin inline-block;
    padding: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    float: left;
  }

  .category-button__text,
  .sub-nav__text,
  .sub-nav-list-item__text,
  li {
    padding: 0;
    margin: 0;
    font-weight: normal;
    @mixin inline-block;
  }

  a {
    @mixin inline-block;
    color: #000;
    text-transform: none;
    text-decoration: none;
  }
}

.radiocom-nav {
  background: $parisM;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
  height: $default-nav-height;

  .container {
    @mixin inline-block;
    text-align: left;
    height: 100%;
    width: $default-screen-nav-width;
    position: relative;

    /* override bootstrap.min.css max-width for container */
    max-width: none;
  }

  &__hamburger.wrapper {
    display: none;
    position: relative;
    vertical-align: top;
    margin-right: em(20);
    width: em(20);
    height: em(15);
    cursor: pointer;
    @mixin vertical-align;

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-size: 10px;
      padding: 0;
      -webkit-appearance: none;
      color: $white;
      width: 20px;
      height: 3px;
      border-radius: 7px;
      background-color: white;
      -webkit-transition: all 0.2s ease-in;
      -webkit-transform: rotate(0deg);

      &.bar-1.active {
        top: 6px;
        -webkit-transform: rotate(-135deg);
        -webkit-transition: all 0.2s ease-in;
      }

      &.bar-2 {
        top: 6px;

        &.active {
          right: 100px;
          background-color: transparent;
          -webkit-transition: all 0.2s ease-in;
        }
      }

      &.bar-3 {
        top: 12px;

        &.active {
          top: 6px;
          -webkit-transform: rotate(135deg);
          -webkit-transition: all 0.2s ease-in;
        }
      }
    }
  }

  &__logo {
    @mixin inline-block;
    font-size: 16px;
    background: transparent;
    border: 0;
    height: 100%;
    width: em(260);
    padding: 0;
    margin: 0 em(42) 0 0;
    cursor: pointer;

    img,
    svg {
      width: 100%;
      height: auto;
      vertical-align: -webkit-baseline-middle;
    }
  }

  @define-mixin header-button-color $modifier, $color {
    &.$(navButton)--active.$(navButton)--$(modifier),
    &.$(navButton)--$(modifier).$(navButton)--current,
    &:hover.$(navButton)--$(modifier) {
      background: $color;
    }
  }

  @define-mixin header-heading-color $modifier, $color {
    &.$(navButton)--$(modifier).$(navButton)--current .category-button__text,
    &:hover.$(navButton)--$(modifier) .category-button__text {
      color: $color;
    }
  }

  .$(navButton) {
    @mixin inline-block;
    border: 0;
    height: 100%;
    background: transparent;
    padding: 0 em(20);
    cursor: pointer;
    @mixin header-button-color news, $lightningYellow;
    @mixin header-button-color sports, $azureRadience;
    @mixin header-button-color podcasts, $robinsEggBlue;
    @mixin header-button-color music, $sunsetOrange;
    @mixin header-button-color listen, $white;
    @mixin header-button-color download, $white;
    @mixin header-button-color more, $white;
    @mixin header-heading-color listen, $parisM;
    @mixin header-heading-color download, $parisM;
    @mixin header-heading-color more, $parisM;

    button .category-button__text {
      font-family: CircularStd-Black, sans-serif;
      font-size: 15px;
      color: $white;
      text-transform: uppercase;
      line-height: 60px;
      vertical-align: bottom;
    }
  }

  &__container--right {
    @mixin inline-block;
    @mixin vertical-align;
    @mixin medium-screen {
      float: right;
    }

    .account-btn {
      font-size: 16px;
      vertical-align: middle;
      height: em(30);
      width: em(30);
      margin: 0 em(20) 0 em(42);

      div,
      img,
      svg {
        width: 100%;
        height: auto;
      }

      .inactive {
        display: none;
      }

      .active {
        display: block;
      }

      @mixin large-screen {
        margin: 0 em(20) 0 em(9);
      }

      @mixin medium-screen {
        height: em(24);
        width: em(24);
        margin: 0 em(20) 0 0;
      }

      @mixin medium-small-screen {
        display: none;
      }
    }

    .search-btn {
      font-size: 16px;
      vertical-align: middle;
      height: em(30);
      width: em(25);

      div,
      img,
      svg {
        width: 100%;
        height: auto;
      }

      .inactive {
        display: none;
      }

      .active {
        display: block;
      }

      @mixin medium-screen {
        height: em(20);
        width: em(20);
      }
    }
  }

  .$(drawerSelector) {
    background: $purple;
    position: fixed;
    display: none;
    top: $default-nav-height;
    width: 100%;
    left: 0;
    padding: em(20);
    color: $white;
    cursor: default;
    overflow: hidden;

    &:not(.$(drawerSelector)--mobile) {
      justify-content: center;

      .container {
        display: block;
        text-align: left;
        width: $default-screen-nav-width;

        .$(drawerSelector)__sub-nav {
          @mixin inline-block;

          > a {
            display: block;
          }

          .$(drawerSelector)__sub-nav--columns {
            @mixin ul-columns 1, em(80);
          }

          &:not(:last-of-type) {
            margin-right: em(80);
          }

          ul {
            li {
              display: block;
              width: em(100);
              cursor: pointer;
              white-space: nowrap;

              .sub-nav-list-item__text {
                font-family: ProximaNova-Regular, sans-serif;
                font-size: 14px;
                color: $white;
                letter-spacing: -0.23px;
                line-height: 28px;
                text-transform: capitalize;
              }
            }
          }

          .sub-nav__text.find-station-link {
            span {
              font: 500 em(30)/1em Arial, Helvetica, sans-serif;
              @mixin inline-block;
            }
          }
        }
      }
    }

    &.$(drawerSelector)--active:not(.$(drawerSelector)--mobile) {
      display: flex;
    }

    &.$(drawerSelector)--mobile:not(.$(drawerSelector)--active) {
      display: block;
    }

    &.$(drawerSelector)--active.$(drawerSelector)--mobile {
      transform: translateX(0);
    }

    .sub-nav__text {
      font-family: CircularStd-Black, sans-serif;
      font-size: 14px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: -0.23px;
      line-height: 28px;
      display: block;
      text-align: left;
      min-height: em(28);
    }

    &.$(drawerSelector)--mobile {
      display: inline-block;
      padding: em(30) 0;
      transform: translateX(-100%);
      transition: all 100ms linear;

      .$(drawerSelector)__sub-nav {
        margin: 0;
        display: block;
        a {
          width: 100%;
        }

        &.$(drawerSelector)__listen .sub-nav__text:hover,
        &.$(drawerSelector)__download .sub-nav__text:hover,
        &.$(drawerSelector)__more .sub-nav__text:hover {
          background: $white;
          color: $parisM;
        }

        @define-mixin drawer-header-color $modifier, $color {
          &.$(drawerSelector)__sub-nav--active.$(drawerSelector)__$(modifier) .sub-nav__text,
          &.$(drawerSelector)__$(modifier) .sub-nav__text:hover {
            background: $color;
          }
        }

        @mixin drawer-header-color music, $sunsetOrange;
        @mixin drawer-header-color news, $lightningYellow;
        @mixin drawer-header-color sports, $azureRadience;
        @mixin drawer-header-color podcasts, $robinsEggBlue;

        .sub-nav__text {
          cursor: pointer;
          text-align: left;
          line-height: em(30);
          display: inline-block;
          width: 100%;
        }

        ul {
          cursor: pointer;
          text-align: left;
          line-height: em(30);
          display: inline-block;
          width: 100%;
          display: none;
        }

        &.$(drawerSelector)__sub-nav--active ul {
          display: block;
        }

        .sub-nav-list-item__text {
          font-family: ProximaNova-Regular, sans-serif;
          font-size: 14px;
          color: $white;
          letter-spacing: -0.23px;
          line-height: 28px;
          text-transform: capitalize;
        }

        li {
          display: block;
        }
      }

      .find-station-link {
        cursor: pointer;
        line-height: em(30);
        display: block;
      }
    }
  }
}

.radium {
  &__nav-header {
    @mixin vertical-align absolute;
  }

  &__twisty {
    cursor: default;
  }

  &__nav-drawer {
    background: $purple;
    position: fixed;
    top: $default-nav-height;
    left: 0;
    height: em(120);
    width: 100%;
    cursor: default;
    display: none;
  }

  &__container {
    @mixin inline-block;
    position:relative;
    text-align: left;
    height: 100%;
    width: $default-screen-nav-width;
    margin: 0 auto;
  }

  &__twisty-twister {
    transform: translate(0, -20%) scale(1.5, 1) rotate(0.5turn);
    margin-left: em(10);
    display: inline-block;

    &::after {
      content: '^';
      font-weight: 900;
    }
  }

  &:hover &__twisty-twister{
    transform: translate(0, 20%) scale(1.5, 1);
  }
}

.radium--top-nav {
  display: block;
  position: absolute;
  height:100%;
  top: 0;
  left: calc($default-screen-nav-width - $default-radium-width);
  width: $default-radium-width;

  &:hover .radium__nav-drawer {
    display: flex;
  }

  .radium {
    &__text {
     @mixin radium-font1;
    }

    &__link--signed-out {
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      padding: 0 em(20);

      &:hover::after {
        content: '';
        display: block;
        width: 40%;
        position: absolute;
        left: 30%;
        top: em(18);
        height: em(3);
        background-color: $white;
      }
    }

    &__list {
      width: $default-radium-width;
      display: block;
      position: absolute;
      top: em(20);
      right: 0;

      &-item {
        display: list-item;
        margin: em(7) 0;
      }
    }
  }
}

.radium--mobile {
  padding-left: calc((100vw - $(medium-screen-nav-width)) / 2);

  .radium {
    &__text {
      @mixin radium-font1;
    }

    &__link--signed-out {
      text-transform: uppercase;
    }

    &__list {
      padding-top: em(20);
      display: inline-block;

      &-item {
        display: list-item;
        padding: em(5) 0
      }
    }
  }
}

.kiln-wrapper.view-mode {
  top: $default-nav-height !important;
}

.kiln-edit-mode {
  .radiocom-nav {
    top: em(56);
  }
}

@mixin large-screen {
  .radiocom-nav .container {
     width: $large-screen-nav-width;

    .radiocom-nav__logo {
      width: em(220);
      margin: 0 em(15) 0 0;
    }

    .$(navButton) {
      padding: 0 em(15);
    }

    .$(drawerSelector):not(.$(drawerSelector)--mobile) .container {
      width: $large-screen-nav-width;

      .$(drawerSelector)__sub-nav {
        ul li {
          width: em(80);
        }

        .$(drawerSelector)__sub-nav--columns {
          @mixin ul-columns 1, em(80);
        }

        &:not(:last-of-type) {
          margin-right: em(80);
        }
      }
    }
  }

  .radium--top-nav {
    left: calc($large-screen-nav-width - $default-radium-width);

    .radium__container {
      width: $large-screen-nav-width;
    }
  }
}

@mixin medium-screen {
  .kiln-wrapper.view-mode {
    top: $mini-nav-height !important;
  }

  .radiocom-nav-placeholder {
    height: $mini-nav-height;
  }

  .radiocom-nav {
    height: $mini-nav-height;

    .container {
      width: $medium-screen-nav-width;
      text-align: left;

      .radiocom-nav__hamburger {
        display: inline-block;
      }

      .radiocom-nav__logo {
        width: em(180);
      }

      .$(navButton) {
        padding: 0;
        background: transparent;
        button {
          display: none;
        }
      }

      .$(drawerSelector) {
        height: calc(100vh - $(mini-nav-height));
        top: $mini-nav-height;
        /* (100% view width - header container width) / 2
        + hamburger width + hamburger margin + nav logo width */
        width: calc((100vw - $(medium-screen-nav-width)) / 2 + em(20) + em(20) + em(180));

        &:not(.$(drawerSelector)--mobile) .container {
          width: $medium-screen-nav-width;
        }

        &.$(drawerSelector)--mobile {
          .$(drawerSelector)__sub-nav {
            .sub-nav__text,
            ul {
              font-size: 16px;
              /* (100% view width - header container width) / 2 */
              padding-left: calc((100vw - $(medium-screen-nav-width)) / 2);
            }
          }

          .find-station-link {
            font-size: 16px;
            /* (100% view width - header container width) / 2 */
            padding-left: calc((100vw - $(medium-screen-nav-width)) / 2);
          }
        }
      }
    }
  }

  .radium--top-nav {
    display : none;
  }
}

@mixin nav-mobile-breakpoint {
  .radiocom-nav .container {
    width: 100%;
    padding: 0 em(20);

    .$(drawerSelector) {
      &.$(drawerSelector)--mobile {
        /* header container padding-left + hamburger width
        + hamburger margin + nav logo width */
        width: calc(em(30) + em(20) + em(20) + em(180));

        .$(drawerSelector)__sub-nav {
          .sub-nav__text,
          ul {
            padding-left: em(30);
          }
        }

        .find-station-link {
          padding-left: em(30);
        }
      }
    }
  }

  .radium--mobile {
    padding-left: em(30);
  }
}

@mixin medium-small-screen {
  .radiocom-nav .container {
    width: 100%;
    padding: 0 em(widthOnGrid(0,1));
    text-align: center;

    .radiocom-nav__hamburger.wrapper {
      float: left;
    }

    .radiocom-nav__logo {
      margin-right: 0;
    }

    .$(drawerSelector) {
      &.$(drawerSelector)--mobile {
        width: 100%;

        .$(drawerSelector)__sub-nav {
          .sub-nav__text,
          ul {
            text-align: center;
            margin: 0;
            padding-left: 0;
          }

          .sub-nav__text li,
          ul li {
            width: auto;
          }
        }

        .find-station-link {
          text-align: center;
          margin: 0;
          padding-left: 0;
          width: auto;
        }
      }
    }
  }

  .radium--mobile {
    padding-left: 0;

    .radium__list {
      width: 100%;
      text-align: center;

      &-item {
        width: auto;
      }
    }
  }
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||||||| Sports Style Guide ||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
.nav-drawer--sports {
  > .container {
    padding-left: widthOnGrid(3, 1);
    background-image: url('/media/components/top-nav/sports_dropdown_logo.png');
    background-size: em(140) em(40);
    background-repeat: no-repeat;
    background-position: 0 em(9);

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('/media/components/top-nav/sports_dropdown_logo_2x.png');
    }
  }
}

.branch-banner-is-active {
  .radiocom-nav {
    top: 76px;
  }
}
