@import "_global/mixins";
@import "_global/fonts";
@import "_global/colors";

.component--topic-page-header {
  h1 {
    @mixin topic-page-header-font2;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 auto em(30, 35) auto;
    text-transform: capitalize;
    display: table;
    white-space: nowrap;
    width: em(1100, 35);
    padding-right: em(15, 35);

  @mixin large-screen {
    width: em(940, 35);
  }

  @mixin medium-screen {
    width: calc(100% - em(60, 35));
    max-width: em(728, 35);
    padding-left: em(30, 35);
    padding-right: em(45, 35);
  }

  @mixin medium-small-screen {
    width: 100%;
    padding-left: em(20, 35);
    padding-right: em(36, 35);
  }

  &:after {
     border-top: em(1, 35) solid $parisM;
     content: '';
     display: table-cell;
     position: relative;
     top: em(22, 35);
     left: em(15, 35);
     width: 100%;
   }
  }

  .topic-page-header__banner {
    height: em(110);
  }

  .topic-page-header__banner--image {
    height: em(250);

    @mixin medium-small-screen {
      height: em(200);
    }

    .banner__gradient {
      position: absolute;
      width: 100%;
      height: em(250);
      background: linear-gradient(-180deg, rgba($whiteRGB,0.00) 0%, $black 100%);
      border: 0  solid  #979797;
      z-index: 1;
    }

    .banner__image {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: em(250);
      z-index: 0;

      @mixin medium-small-screen {
        height: em(200);
      }

      img{
        position: absolute;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
      }
    }

    h1 {
      @mixin topic-page-header-font1;

      &:after {
        border-top: em(1, 35) solid $white;
      }
    }
  }
}
