@import "_global/fonts";
@import "_global/colors";
@import "_global/mixins";

.component--trending-recirculation {
  width: 100%;
  max-width: em(940);
  margin: 0 auto;

  @mixin medium-small-screen {
    margin-bottom: em(30);
  }

  h2 {
    @mixin trending-recirculation-font1;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    &:before {
       border-top: em(1, 20) solid $parisPurple;
       content: "";
       margin: 0 auto;
       position: absolute;
       top: 50%;
       left: 0;
       right: 0;
       bottom: 0;
       width: 100%;
       z-index: -1;
     }
    span {
      background: $white;
      padding: 0 em(15, 20);
    }
  }

  .trending__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: em(30);

    @mixin medium-screen {
      margin-bottom: em(10);
    }
  }

  .trending__item {
    order: 2;
    margin-bottom: em(40);

    &:hover {
      .trending__item__image {
        opacity: 0.9;
      }
      .trending__item__label {
        text-decoration: underline;
        text-decoration-color: $black;
      }
    }

    @mixin medium-screen {
      margin-bottom: em(30);
      width: 100%;
    }

    .trending__item__tag {
      @mixin trending-recirculation-font2;
      height: em(26);
      position: absolute;
      background-color: $parisPurple;
      margin: 0 em(6);
      line-height: em(26);

      &:first-letter {
         text-transform: uppercase;
      }

      @mixin medium-small-screen {
        height: em(33);
        line-height: em(33);
      }
    }

    .trending__item__link {
      text-decoration: none;
      display: inline-block;
      width: em(widthOnGrid(4, 3));

      @mixin medium-screen {
        width: 100%;
        display: flex;
      }

      @mixin medium-small-screen {
        display: block;
      }
    }

    .trending__item__label {
      @mixin trending-recirculation-font3;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @mixin medium-screen {
        width: 50%;
      }

      @mixin medium-small-screen {
        width: 100%;
      }
    }

    .trending__item__image {
      width: em(widthOnGrid(4,3));
      height: em(168);
      margin-bottom: em(10);
      object-fit: cover;

      @mixin medium-screen {
        width: 50%;
        height: em(193);
        flex: none;
        margin-right: em(20);
      }

      @mixin medium-small-screen {
        width: 100%;
        max-width: em(widthOnGrid(4,3,medium-small-screen));
        height: 100%;
        margin-right: 0;
        margin-bottom: em(10);
      }
      @mixin small-screen {
        max-width: em(widthOnGrid(4,3,small-screen));
      }
    }
  }
}
