@import '_global/reset';
@import '_global/fonts';
@import '_global/mixins';
@import '_global/grid';
@import "_global/colors";

.layout--two-column {
  margin: 0;
  padding: 0;
  width: 100%;
}

.layout--two-column a:focus,
.layout--two-column button:focus,
.layout--two-column input:focus,
.layout--two-column select:focus,
.layout--two-column textarea:focus {
  outline: dotted 1px;
}

.layout--two-column .kiln-field button:focus,
.layout--two-column .kiln-field input:focus,
.layout--two-column .kiln-field select:focus,
.layout--two-column .kiln-field textarea:focus,
.layout--two-column .kiln-wrapper button:focus,
.layout--two-column .kiln-wrapper input:focus,
.layout--two-column .kiln-wrapper select:focus,
.layout--two-column .kiln-wrapper textarea:focus {
  outline: 0;
}

.layout--two-column .layout__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: $white;
}

.layout--two-column .layout__content .content__main {
  order: 1;
}

.layout--two-column .layout__content .content__sidebar {
  order: 2;
}

.layout--two-column .layout__content .content__secondary {
  order: 3;
}

.layout--two-column {
  .layout__page-header,
  .layout__bottom,
  .layout__content {
    z-index: 2;
    position: relative
  }

  .layout__page-header,
  .layout__section-header,
  .layout__content {
    margin: 0 auto;
  }

  .layout__content {
    .content__main,
    .content__secondary {
      width: 100%;
    }

    .content__sidebar {
      width: em(300);
      visibility: hidden;
      @mixin medium-screen {
        display: none;
      }
    }
  }
}

.kiln-edit-mode .layout--two-column {
  .content__sidebar {
    visibility: visible;
    margin-top: em(183);
  }
}

@mixin default-screen {
  .layout--two-column {
    .layout__content {
      .content__main {
        width: em(780);
        margin-right: em(20);
        .article__header {
          width: em(1100);
        }
      }
    }
  }
}

@mixin large-screen {
  .layout--two-column {
    .layout__content {
      .content__main,
      .content__secondary {
        width: em(620);
        margin-right: em(20);
        .article__header {
          width: em(940);
        }
      }
    }
  }
}

@mixin medium-screen {
  .layout--two-column {
    .layout__content {
      .content__main,
      .content__secondary {
        width: 100%;
        margin: 0 auto;
        .article__header {
          width: 100%;
        }
      }
    }
  }
}
