<div
	data-uri="{{ default _ref _self }}"
	class="component component--google-ad-manager-slot component--google-ad-manager-slot-{{adSize.value}}"
	data-editable="adSize"
></div>
{{!-- 728x90, 970x250, 970x90, 300x250, 300x600, 100x35 --}}
