{{!-- rdc-placeholder --}}
<div
  class="
    kiln-placeholder
    {{#if error}}kiln-error-placeholder{{/if}}
  "
  data-editable="{{dataEditable}}"
>
  <div class="placeholder-label">
    <span class="ui-icon placeholder-icon material-icons add">add</span>
    <span class="placeholder-text">{{placeholderText}}</span>
    <div class="ui-ripple-ink"></div>
  </div>
</div>
