<section role="main" data-track-type="homepage" data-uri="{{ default _ref _self }}" class="component component--homepage{{ if @root.locals.edit ' editing' }}">
	{{> section-lead sectionLead }}
  <div class="stations-carousel-container" data-editable="stationsCarousel">
    {{> component-list stationsCarousel }}
  </div>
	{{> google-ad-manager googleAdUnderStationsModule}}
  {{> latest-content latestContent }}
	{{> podcast-list podcastList }}
	{{> google-ad-manager googleAdUnderLatestModule}}
	{{> more-content-feed moreContentFeed }}
</section>
