<section role="main" data-track-type="homepage" data-uri="{{ default _ref _self }}" class="component component--homepage{{ if @root.locals.edit ' editing' }}">
	{{> section-lead sectionLead }}
	{{> google-ad-manager googleAdUnderStationsModule}}
	{{> podcast-list podcastList }}
	{{> google-ad-manager googleAdUnderLatestModule}}
	{{> more-content-feed moreContentFeed }}
</section>
