<div class="component component--podcast-episode-page podcast-episode-page {{_computed.componentClass}}" data-uri="{{ default _ref _self }}">
  {{>breadcrumbs this}}

  <section>
    {{> podcast-lead podcastEpisodeLead }}
  </section>

  {{!-- @TODO: ON-1378 Trending Podcast --}}
<!--  Trending Podcast - https://entercomdigitalservices.atlassian.net/browse/ON-1378-->

</div>
