<div class="component component--podcast-episode-page podcast-episode-page {{_computed.componentClass}}" data-uri="{{ default _ref _self }}">
  {{>breadcrumbs this}}
  
  <p>Podcast show data:</p>
    <!-- remove this stuff when completing the frontend ticket for podcast episode page -->
  <pre>
    {{_computed.podcastDisplayData}}
  </pre>
  <p>Podcast episode data:</p>
  <pre>
    {{_computed.episodeDisplayData}}
  </pre>

  <!-- end display data -->


  {{!-- @TODO: ON-1373 Section Lead --}}
<!--  Section Lead - https://entercomdigitalservices.atlassian.net/browse/ON-1373-->

  {{!-- @TODO: ON-1378 Trending Podcast --}}
<!--  Trending Podcast - https://entercomdigitalservices.atlassian.net/browse/ON-1378-->


</div>
