<div class="component component--more-content-feed-right-rail more-content-feed__right-ad--desktop" data-uri="{{ default _ref _self }}">
  {{#ifAny (compare locationOfRightRail 'topic-page') (compare locationOfRightRail 'author-page')}}
    {{> google-ad-manager contentCollectionLogoSponsorship}}
  {{/ifAny}}
  {{> google-ad-manager googleAdRightRail}}
</div>