/* Color Naming - http://chir.ag/projects/name-that-color/ */
$azureRadience: #0099ff;
$blackRussian: #000001;
$lightningYellow: #fec517;
$parisPurple: #1f055e;
$purple: #3c00b7;
$robinsEgg: #00ccb7;
$sunsetOrange: #ff4940;
$white: #ffffff;
