/* Color Naming - http://chir.ag/projects/name-that-color/ */

/* Neutrals */
$black: #000;
$blackRussian: #000001;
$white: #FFF;
$whiteRGB: 255, 255, 255;

/* Greys */
$alabaster: #F7F7F7; /* Ad Slot Container */
$alto: #d8d8d8;
$boulder: #777;
$boulderRGB: 119, 119, 119;
$concrete: #F3F3F3;
$doveGray: #666;
$dustyGray: #9B9B9B;
$mineShaft: #222;
$mercury: #E1E1E1;
$mineShaftLight: #393939;
$silver: #CCC;
$silverChalice: #A6A6A6;
$tundora: #444;
$wildSand: #F5F5F5;
$60gray: #999999;
$91gray: #E8E8E8;
$mineShaftLight: #393939;
$lynch: #607D8B;
$ebb: #EDE5E5;

/* Reds */
$red: #F00; /* Errors */
$crimson: #DB1111; /* Breaking Alert */
$crimsonRGB: 219, 17, 17;
$crimsonRGBA-20: rgba(235, 38, 42, 0.2);

/* Oranges */
$blazeOrange: #FF6E00; /* Ads Label */
$pizazz: #FF9000;
$sunsetOrange: #FF4940; /* Music */
$sunsetOrangeRGB: 255, 73, 64;

/* Yellows */
$lightningYellow: #FEC517; /* News */
$lightningYellowRGB: 254, 197, 23;
$keenUiYellow: rgba(255,152,0,.12);
$keenUiAlertIconYellow: #ff9800;

/* Greens */
$fruitSalad: #50ae54;

/* Blues */
$azureRadience: #0099FF; /* Sports */
$azureRadienceRGB: 0, 153, 255;
$blue: #2A00FF;
$cerulean: #05aeee; /* Twitter Blue */
$chambray: #3b5998; /* Facebook Blue */
$easternBlue: #1782a9;
$endeavor: #0056b3;
$denim: #1976d2;
$halfBaked: #8bc0d4;
$hawkesBlue: #e3f2fd; /* Kiln Edit Mode Components */
$robinsEggBlue: #00CCB7; /* Podcasts */
$robinsEggBlueRGB: 0, 204, 183;

/* Purples */
$parisM: #1F055E; /* Primary Dark */
$parisMRGB: 31, 5, 94;
$purple: #3C00B7; /* Primary Bright */
$purpleRGB: 60, 0, 183;

/* Pinks */
$redViolet: #E60F8B;

/* ---------------------------------------------------------- */
/* ------           Station Front Colors               ------ */
/* ---------------------------------------------------------- */
$station-primaryColor: theme(primaryColor, $parisM);
$station-secondaryColor: theme(secondaryColor, $purple);
$station-tertiaryColor: theme(tertiaryColor, $mineShaftLight);
$station-primaryFontColor: theme(primaryFontColor, $white);
$station-secondaryFontColor: theme(secondaryFontColor, $black);


/* ---------------------------------------------------------- */
/* ------ OLD NAMING SYSTEM --- Remove once in staging ------ */
/* ---------------------------------------------------------- */

$boulderGrey: #777;
$alabasterGrey: #F7F7F7; /* Ad Slot Container */

$ceruleanBlue: #05aeee; /* Twitter Blue */
$chambrayBlue: #3b5998; /* Facebook Blue */

$parisPurple: #1F055E; /*primary dark*/
$parisPurpleRGB: 31, 5, 94;

$robinsEgg: #00CCB7; /*podcasts*/
$robinsEggRGB: 0, 204, 183;
