/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Licensed Fonts |||||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@font-face {
  font-family: CircularStd-Black;
  src: url('/fonts/sites/demo/circularstd-black.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BlackItalic;
  src: url('/fonts/sites/demo/circularstd-blackitalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Bold;
  src: url('/fonts/sites/demo/circularstd-bold.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BoldItalic;
  src: url('/fonts/sites/demo/circularstd-bolditalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Book;
  src: url('/fonts/sites/demo/circularstd-book.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BookItalic;
  src: url('/fonts/sites/demo/circularstd-bookitalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Medium;
  src: url('/fonts/sites/demo/circularstd-medium.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-MediumItalic;
  src: url('/fonts/sites/demo/circularstd-mediumitalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url('/fonts/sites/demo/proximanova-bold-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-BoldIt;
  src: url('/fonts/sites/demo/proximanova-boldit-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Light;
  src: url('/fonts/sites/demo/proximanova-light-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-LightIt;
  src: url('/fonts/sites/demo/proximanova-lightit-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url('/fonts/sites/demo/proximanova-regular-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-RegularIt;
  src: url('/fonts/sites/demo/proximanova-regularit-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Fonts Styleguide |||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'CircularStd-Black', sans-serif;
}

body {
  font-family: 'ProximaNova-Regular', sans-serif;
}

em, i {
  font-style: italic;
}
