/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Licensed Fonts |||||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@font-face {
  font-family: CircularStd-Black;
  src: url('/fonts/sites/demo/circularstd-black.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BlackItalic;
  src: url('/fonts/sites/demo/circularstd-blackitalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Bold;
  src: url('/fonts/sites/demo/circularstd-bold.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BoldItalic;
  src: url('/fonts/sites/demo/circularstd-bolditalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Book;
  src: url('/fonts/sites/demo/circularstd-book.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BookItalic;
  src: url('/fonts/sites/demo/circularstd-bookitalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Medium;
  src: url('/fonts/sites/demo/circularstd-medium.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-MediumItalic;
  src: url('/fonts/sites/demo/circularstd-mediumitalic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url('/fonts/sites/demo/proximanova-bold-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-BoldIt;
  src: url('/fonts/sites/demo/proximanova-boldit-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Light;
  src: url('/fonts/sites/demo/proximanova-light-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-LightIt;
  src: url('/fonts/sites/demo/proximanova-lightit-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url('/fonts/sites/demo/proximanova-regular-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-RegularIt;
  src: url('/fonts/sites/demo/proximanova-regularit-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Fonts Styleguide |||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'CircularStd-Black', sans-serif;
}

body {
  font-family: 'ProximaNova-Regular', sans-serif;
}

em, i {
  font-style: italic;
}

@define-mixin font $family, $size, $color, $letter-spacing, $line-height {
  font-family: $family, sans-serif;
  font-size: $size;
  color: $color;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||| Article Fonts Styleguide ||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/

@define-mixin article-font1 {
  @mixin font CircularStd-Black, 45px, $black, -0.74px, 52px;
}
@define-mixin article-font2 {
  @mixin font CircularStd-Black, 35px, $black, -0.58px, 42px;
}
@define-mixin article-font3 {
  @mixin font ProximaNova-Light, 22px, $black, -0.36px, 30px;
}
@define-mixin article-font4 {
  @mixin font ProximaNova-Light, 18px, $black, -0.29px, 24px;
}
@define-mixin article-font5 {
  @mixin font CircularStd-Book, 14px, $black, -0.35px, 18px;
}
@define-mixin article-font6 {
  @mixin font CircularStd-BookItalic, 14px, $black, -0.35px, 18px;
}
@define-mixin article-font7 {
  @mixin font ProximaNova-Regular, 18px, $black, -0.36px, 30px;
}
@define-mixin article-font8 {
  @mixin font ProximaNova-Bold, 18px, $black, -0.36px, 30px;
}
@define-mixin article-font9 {
  @mixin font CircularStd-Medium, 12px, $boulder, -0.3px, 15px;
}
@define-mixin article-font10 {
  @mixin font ProximaNova-Regular, 12px, $black, -0.3px, 16px;
}
@define-mixin article-font11 {
  @mixin font ProximaNova-Regular, 12px, $boulder, -0.3px, 16px;
}
@define-mixin article-font12 {
  @mixin font CircularStd-Medium, 14px, $black, -.23, 14px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||||| Tags Fonts Styleguide |||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin tags-font1 {
  @mixin font CircularStd-Medium, 14px, $purple, -.23px, 22px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Latest Recirculation Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin latest-recirc-font1 $color: $purple {
  @mixin font CircularStd-Medium, 16px, $color, -.26px, 18px;
}
@define-mixin latest-recirc-font2 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Latest Content Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin latest-content-font1 $color: $purple {
  @mixin font CircularStd-Black, 20px, $color, -.32px, 25px;
}
@define-mixin latest-content-font2 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin latest-content-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 18px;
}
@define-mixin latest-content-font4 {
  @mixin font CircularStd-Medium, 14px, $white, -.23px, 18px;
}
@define-mixin latest-content-font5 {
  @mixin font CircularStd-Medium, 12px, $robinsEgg, -.2px, 28px;
}
@define-mixin latest-content-font6 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin latest-content-font7 {
  @mixin font CircularStd-Medium, 18px, $white, -.3px, 23px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Inline-related Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin inline-related-font1 {
  @mixin font CircularStd-Medium, 16px, $black, -.26px, 20px;
}
@define-mixin inline-related-font2 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin inline-related-font3 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin inline-related-font4 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Trending-recirculation Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin trending-recirculation-font1 {
  @mixin font CircularStd-Black, 20px, $parisPurple, -.32px, 25px;
}
@define-mixin trending-recirculation-font2 {
  @mixin font CircularStd-Medium, 14px, $white, -.23px, 18px;
}
@define-mixin trending-recirculation-font3 {
  @mixin font CircularStd-Black, 20px, $parisPurple, -.32px, 25px;
}
@define-mixin trending-recirculation-font4 {
  @mixin font CircularStd-Medium, 18px, $white, -.3px, 25px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Podcast-List Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin podcast-list-font1 {
  @mixin font CircularStd-Medium, 16px, $black, -.26px, 20px;
}
@define-mixin podcast-list-font2 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin podcast-list-font3 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin podcast-list-font4 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 18px;
}
@define-mixin podcast-list-font5 {
  @mixin font CircularStd-Medium, 12px, $robinsEgg, -.2px, 28px;
}
@define-mixin podcast-list-font6 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin podcast-list-font7 {
  @mixin font CircularStd-Medium, 18px, $white, -.3px, 23px;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| More Content Feed Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin more-content-feed-font1 {
  @mixin font CircularStd-Black, 20px, $parisM, -.32px, 25px;
}
@define-mixin more-content-feed-font2 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin more-content-feed-font3 {
  @mixin font ProximaNova-Light, 18px, $black, -.29px, 22px;
}
@define-mixin more-content-feed-font4 {
  @mixin font CircularStd-Medium, 12px, $boulder, -.3px, 15px;
}
@define-mixin more-content-feed-font5 {
  @mixin font CircularStd-Medium, 14px, $white, -.23px, 18px;
}
@define-mixin more-content-feed-font6 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin more-content-feed-font7 {
  @mixin font ProximaNova-Light, 16px, $black, -.26px, 20px;
}
@define-mixin more-content-feed-font8 {
  @mixin font CircularStd-Medium, 18px, $white, -.3px, 23px;
}
@define-mixin more-content-feed-font9 {
  @mixin font CircularStd-Black, 18px, $white, -.55px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Section-Lead Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin section-lead-font1 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin section-lead-font2 {
  @mixin font CircularStd-Medium, 12px, $parisM, -.2px, 15px;
}
@define-mixin section-lead-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 18px;
}
@define-mixin section-lead-font4 {
  @mixin font CircularStd-Medium, 14px, $parisM, -.2px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Section-Videos Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin section-videos-font1 {
  @mixin font CircularStd-Black, 20px, $parisM, -.23px, 25px;
}
@define-mixin section-videos-font2 {
  @mixin font CircularStd-Medium, 12px, $parisM, -.2px, 15px;
}
@define-mixin section-videos-font3 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin section-videos-font4 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 18px;
}
@define-mixin section-videos-font5 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||| Tag Page Fonts Styleguide ||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin tag-page-font1 {
@mixin font CircularStd-Black, 20px, $parisM, -.32px, 25px;
}
@define-mixin tag-page-font2 {
@mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin tag-page-font3 {
@mixin font ProximaNova-Light, 18px, $black, -.29px, 22px;
}
@define-mixin tag-page-font4 {
@mixin font CircularStd-Medium, 12px, $boulder, -.3px, 15px;
}
@define-mixin tag-page-font5 {
@mixin font CircularStd-Medium, 14px, $white, -.23px, 18px;
}
@define-mixin tag-page-font6 {
@mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin tag-page-font7 {
@mixin font ProximaNova-Light, 16px, $black, -.26px, 20px;
}
@define-mixin tag-page-font8 {
@mixin font CircularStd-Medium, 18px, $white, -.3px, 23px;
}
@define-mixin tag-page-font9 {
@mixin font CircularStd-Black, 18px, $white, -.55px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||| Stations Carousel Fonts Styleguide |||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin stations-carousel-font1 {
  @mixin font CircularStd-Black, 20px, $white, -.32px, 25px;
}
@define-mixin stations-carousel-font1-news {
  @mixin font CircularStd-Black, 20px, $tundora, -.32px, 25px;
}
@define-mixin stations-carousel-font2 {
  @mixin font CircularStd-Black, 14px, $white, -.23px, 18px;
}
@define-mixin stations-carousel-font2-news {
  @mixin font CircularStd-Black, 14px, $tundora, -.23px, 18px;
}
@define-mixin stations-carousel-font3 {
  @mixin font CircularStd-Black, 18px, $white, -.32px, 25px;
}
@define-mixin stations-carousel-font3-news {
  @mixin font CircularStd-Black, 18px, $tundora, -.32px, 25px;
}
