@import "_global/colors";

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Licensed Fonts |||||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@font-face {
  font-family: CircularStd-Black;
  src: url('/fonts/demo/circularstd-black.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BlackItalic;
  src: url('/fonts/demo/circularstd-blackitalic.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Book;
  src: url('/fonts/demo/circularstd-book.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-BookItalic;
  src: url('/fonts/demo/circularstd-bookitalic.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-Medium;
  src: url('/fonts/demo/circularstd-medium.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CircularStd-MediumItalic;
  src: url('/fonts/demo/circularstd-mediumitalic.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url('/fonts/demo/proximanova-bold-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-BoldIt;
  src: url('/fonts/demo/proximanova-boldit-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Light;
  src: url('/fonts/demo/proximanova-light-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-LightIt;
  src: url('/fonts/demo/proximanova-lightit-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url('/fonts/demo/proximanova-regular-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-RegularIt;
  src: url('/fonts/demo/proximanova-regularit-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Fonts Styleguide |||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'CircularStd-Black', sans-serif;
}

body {
  font-family: 'ProximaNova-Regular', sans-serif;
}

em, i {
  font-style: italic;
}

@define-mixin font $family, $size, $color, $letter-spacing, $line-height {
  font-family: $family, sans-serif;
  font-size: $size;
  color: $color;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||| Article Fonts Styleguide ||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/

@define-mixin article-font1 {
  @mixin font CircularStd-Black, 45px, $black, -0.74px, 52px;
}
@define-mixin article-font2 {
  @mixin font CircularStd-Black, 35px, $black, -0.58px, 42px;
}
@define-mixin article-font3 {
  @mixin font ProximaNova-Light, 22px, $black, -0.36px, 30px;
}
@define-mixin article-font4 {
  @mixin font ProximaNova-Light, 18px, $black, -0.29px, 24px;
}
@define-mixin article-font5 {
  @mixin font CircularStd-Book, 14px, $black, -0.35px, 18px;
}
@define-mixin article-font6 {
  @mixin font CircularStd-BookItalic, 14px, $black, -0.35px, 18px;
}
@define-mixin article-font7 {
  @mixin font ProximaNova-Regular, 18px, $black, -0.36px, 30px;
}
@define-mixin article-font8 {
  @mixin font ProximaNova-Bold, 18px, $black, -0.36px, 30px;
}
@define-mixin article-font9 {
  @mixin font CircularStd-Medium, 12px, $boulder, -0.3px, 15px;
}
@define-mixin article-font10 {
  @mixin font ProximaNova-Regular, 12px, $black, -0.3px, 16px;
}
@define-mixin article-font11 {
  @mixin font ProximaNova-Regular, 12px, $boulder, -0.3px, 16px;
}
@define-mixin article-font12 {
  @mixin font CircularStd-Medium, 14px, $black, -.23, 14px;
}
@define-mixin article-font13 {
  @mixin font CircularStd-Black, 18px, $white, -.55px, 18px;
}


/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||||| Tags Fonts Styleguide |||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin tags-font1 {
  @mixin font CircularStd-Medium, 14px, $purple, -.23px, 22px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Latest Recirculation Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin latest-recirc-font1 $color: $purple {
  @mixin font CircularStd-Medium, 16px, theme(secondaryColor, $color), -.26px, 18px;
}
@define-mixin latest-recirc-font2 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 18px;
}
@define-mixin latest-recirc-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 17px;
}
@define-mixin latest-recirc-font4 {
  @mixin font CircularStd-Medium, 12px, $parisM, -.2px, 14px;
}
@define-mixin latest-recirc-font5 {
  @mixin font CircularStd-Black, 16px, $black, -.4px, 19px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Redirects Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin redirects-font1 {
  @mixin font CircularStd-Medium, 35px, $parisM, -.55px, 44px;
}
@define-mixin redirects-font2 {
  @mixin font CircularStd-Medium, 20px, $black, -.32px, 25px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||| Latest Content Fonts Styleguide ||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin latest-content-font1 $color: $purple {
  @mixin font CircularStd-Black, 20px, $color, -.32px, 25px;
}
@define-mixin latest-content-font2 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin latest-content-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 18px;
}
@define-mixin latest-content-font4 {
  @mixin font CircularStd-Medium, 14px, $white, -.23px, 18px;
}
@define-mixin latest-content-font5 {
  @mixin font CircularStd-Medium, 12px, $robinsEgg, -.2px, 28px;
}
@define-mixin latest-content-font6 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin latest-content-font7 {
  @mixin font CircularStd-Medium, 18px, $white, -.3px, 23px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Inline-related Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin inline-related-font1 {
  @mixin font CircularStd-Medium, 16px, $black, -.26px, 20px;
}
@define-mixin inline-related-font2 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin inline-related-font3 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin inline-related-font4 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Trending-recirculation Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin trending-recirculation-font1 {
  @mixin font CircularStd-Black, 20px, $parisPurple, -.32px, 25px;
}
@define-mixin trending-recirculation-font2 {
  @mixin font CircularStd-Medium, 14px, $white, -.23px, 18px;
}
@define-mixin trending-recirculation-font3 {
  @mixin font CircularStd-Black, 20px, $black, -.32px, 25px;
}
@define-mixin trending-recirculation-font4 {
  @mixin font CircularStd-Medium, 18px, $white, -.3px, 25px;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| More Content Feed Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin more-content-feed-font1 {
  @mixin font CircularStd-Black, 20px, $parisM, -.32px, 25px;
}
@define-mixin more-content-feed-font2 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin more-content-feed-font3 {
  @mixin font ProximaNova-Light, 18px, $black, -.29px, 22px;
}
@define-mixin more-content-feed-font4 {
  @mixin font CircularStd-Medium, 12px, $boulder, -.3px, 15px;
}
@define-mixin more-content-feed-font5 {
  @mixin font CircularStd-Medium, 14px, $white, -.23px, 18px;
}
@define-mixin more-content-feed-font6 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}
@define-mixin more-content-feed-font7 {
  @mixin font ProximaNova-Light, 16px, $black, -.26px, 20px;
}
@define-mixin more-content-feed-font8 {
  @mixin font CircularStd-Medium, 18px, $white, -.3px, 23px;
}
@define-mixin more-content-feed-font9 {
  @mixin font CircularStd-Black, 18px, $white, -.55px, 18px;
}
@define-mixin more-content-feed-font10 {
  @mixin font ProximaNova-Light, 16px, $blazeOrange, -.26px, 22px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Section-Lead Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin section-lead-font1 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin section-lead-font2 {
  @mixin font CircularStd-Medium, 12px, $parisM, -.2px, 15px;
}
@define-mixin section-lead-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 18px;
}
@define-mixin section-lead-font4 {
  @mixin font CircularStd-Medium, 14px, $parisM, -.2px, 18px;
}
@define-mixin section-lead-font5 {
  @mixin font CircularStd-Medium, 16px, $black, -.4px, 19px;
}
/* --  multi-column variations --*/
@define-mixin section-lead-mc-font1 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 26px;
}
@define-mixin section-lead-mc-font2 {
  @mixin font CircularStd-Medium, 12px, $parisM, -.2px, 14px;
}
@define-mixin section-lead-mc-font3 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 17px;
}
@define-mixin section-lead-mc-font4 {
  @mixin font CircularStd-Black, 16px, $black, -.43px, 19px;
}
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Latest Videos Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin latest-videos-font1 {
  @mixin font CircularStd-Black, 20px, $parisM, -.23px, 25px;
}
@define-mixin latest-videos-font2 {
  @mixin font CircularStd-Medium, 12px, $parisM, -.2px, 15px;
}
@define-mixin latest-videos-font3 {
  @mixin font CircularStd-Black, 22px, $black, -.55px, 28px;
}
@define-mixin latest-videos-font4 {
  @mixin font CircularStd-Black, 14px, $black, -.23px, 18px;
}
@define-mixin latest-videos-font5 {
  @mixin font CircularStd-Black, 18px, $black, -.45px, 24px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||| Topic Page Fonts Styleguide ||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin topic-page-header-font1 {
  @mixin font CircularStd-Black, 35px, theme(primaryFontColor, $white), -.55px, 44px;
}
@define-mixin topic-page-header-font2 {
  @mixin font CircularStd-Black, 35px, theme(primaryColor, $parisM), -.55px, 44px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||| Stations Carousel Fonts Styleguide |||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin stations-carousel-font1 {
  @mixin font CircularStd-Black, 20px, $white, -.32px, 25px;
}
@define-mixin stations-carousel-font1-news {
  @mixin font CircularStd-Black, 20px, $tundora, -.32px, 25px;
}
@define-mixin stations-carousel-font2 {
  @mixin font CircularStd-Black, 14px, $white, -.23px, 18px;
}
@define-mixin stations-carousel-font2-news {
  @mixin font CircularStd-Black, 14px, $tundora, -.23px, 18px;
}
@define-mixin stations-carousel-font3 {
  @mixin font CircularStd-Black, 18px, $white, -.32px, 25px;
}
@define-mixin stations-carousel-font3-news {
  @mixin font CircularStd-Black, 18px, $tundora, -.32px, 25px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||| Gallery Fonts Styleguide ||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin gallery-font1 {
  @mixin font CircularStd-Black, 20px, $black, -.25px, 25px;
}
@define-mixin gallery-font2 {
  @mixin font ProximaNova-Regular, 15px, $black, -.3px, 20px;
}
@define-mixin gallery-font3 {
  @mixin font ProximaNova-Regular, 12px, $boulder, -.3px, 30px;
}
@define-mixin gallery-font4 {
  @mixin font CircularStd-Black, 14px, $white, -.55px, 18px;
}
@define-mixin gallery-font5 {
  @mixin font CircularStd-Black, 18px, $black, -.22px, 25px;
}
@define-mixin gallery-font6 {
  @mixin font CircularStd-Black, 18px, $tundora, -.22px, 25px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Station Detail Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin station-detail-font1 {
  @mixin font CircularStd-Black, 35px, $black, -.58px, 42px;
}
@define-mixin station-detail-font2 {
  @mixin font CircularStd-Black, 24px, $black, -.58px, 30px;
}
@define-mixin station-detail-font3 {
  @mixin font ProximaNova-Light, 18px, $black, -.58px, 25px;
}
@define-mixin station-detail-font4 {
  @mixin font CircularStd-Black, 16px, $black, -.58px, 16px;
}
@define-mixin station-detail-font5 {
  @mixin font CircularStd-Medium, 14px, $black, -.58px, 20px;
}
@define-mixin station-detail-font6 {
  @mixin font CircularStd-Black, 13px, $black, -.58px, 15px;
}
@define-mixin station-detail-font7 {
  @mixin font CircularStd-Medium, 12px, $black, -.58px, 14px;
}
@define-mixin station-detail-font8 {
  @mixin font CircularStd-Medium, 12px, #767676, -.58px, 14px;
}
@define-mixin station-detail-font9 {
  @mixin font CircularStd-Book, 12px, $boulder, -.58px, 18px;
}
@define-mixin station-detail-font10 {
  @mixin font CircularStd-Medium, 11px, $boulder, -.58px, 13px;
}
@define-mixin station-detail-font11 {
  @mixin font CircularStd-Black, 18px, $black, -.43px, 20px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||| Stations List Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin stations-list-font1 {
  @mixin font CircularStd-Black, 18px, $black, -.43px, 20px;
}
@define-mixin stations-list-font2 {
  @mixin font CircularStd-Black, 13px, $black, -.43px, 15px;
}
@define-mixin stations-list-font3 {
  @mixin font CircularStd-Medium, 12px, $boulder, -.43px, 18px;
}
@define-mixin stations-list-font4 {
  @mixin font CircularStd-Medium, 12px, $black, -.43px, 15px;
}
@define-mixin stations-list-font5 {
  @mixin font CircularStd-Black, 14px, $silverChalice, -.43px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||       Selectr select box        ||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin selectr-select-box-font1 {
  @mixin font CircularStd-Medium, 12px, $black, -.58px, 14px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* |||| Station Directory Fonts Styleguide |||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin stations-directory-font1 {
  @mixin font CircularStd-Medium, 14px, $black, -.58px, 20px;
}
@define-mixin stations-directory-font2 {
  @mixin font CircularStd-Book, 12px, $black, -.58px, 18px;
}
@define-mixin stations-directory-font3 {
  @mixin font CircularStd-Medium, 12px, $black, -.58px, 15px;
}
@define-mixin directory-featured-font1 {
  @mixin font CircularStd-Black, 24px, $white, -.58px, 140px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Global Sponsor Logos Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin global-sponsor-logos-font1 {
  @mixin font ProximaNova-Regular, 14px, $black, -.22px, 17px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||| Static Page Fonts Styleguide ||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin static-page-font1 {
  @mixin font CircularStd-Black, 45px, $black, -.32px, 52px;
}
@define-mixin static-page-font2 {
  @mixin font CircularStd-Black, 35px, $black, -.23px, 40px;
}
@define-mixin static-page-font3 {
  @mixin font CircularStd-Black, 24px, $black, -.23px, 35px;
}
@define-mixin static-page-font4 {
  @mixin font ProximaNova-Light, 18px, $black, -.36px, 30px;
}
@define-mixin static-page-font5 {
  @mixin font ProximaNova-Regular, 18px, $black, -.36px, 30px;
}
@define-mixin static-page-font6 {
  @mixin font ProximaNova-Bold, 18px, $black, -.36px, 30px;
}


/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||| Radium Fonts Styleguide |||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin radium-font1 {
  @mixin font ProximaNova-Regular, 12px, $white, normal, 12px;
}

@define-mixin radium-form-font1 {
  @mixin font CircularStd-Black, 35px, $parisM, -.55px, 44px;
}

@define-mixin radium-form-font2 {
  @mixin font CircularStd-Black, 22px, $parisM, -.55px, 28px;
}

@define-mixin radium-form-font3 {
  @mixin font CircularStd-Medium, 18px, $white, -.3, 23px;
}

@define-mixin radium-form-font4 {
  @mixin font CircularStd-Medium, 16px, $black, -.26, 20px;
}

@define-mixin radium-form-font5 {
  @mixin font CircularStd-Medium, 14px, $black, -.23, 18px;
}

@define-mixin radium-form-font6 {
  @mixin font CircularStd-Black, 14px, $parisM, -.23, 18px;
}

@define-mixin radium-form-font7 {
  @mixin font CircularStd-Medium, 14px, $tundora, -.23, 18px;
}

@define-mixin radium-form-font8 {
  @mixin font CircularStd-Medium, 14px, $black, -.23, 18px;
}

@define-mixin radium-form-font9 {
  @mixin font CircularStd-Medium, 14px, $red, -.23, 18px;
}

@define-mixin radium-form-font10 {
  @mixin font CircularStd-Medium, 14px, $fruitSalad, -.23, 18px;
}

@define-mixin radium-form-font-11 {
  @mixin font CircularStd-Black, 12px, $parisM, -.3, 15px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* |||||||||   Station Footer Styleguide     |||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin station-footer-font1 {
  @mixin font CircularStd-Medium, 18px, $station-primaryFontColor, -.45px, 22px;
}
@define-mixin station-footer-font2 {
  @mixin font CircularStd-Black, 18px, $station-primaryFontColor, -.45px, 22px;
}
@define-mixin station-footer-font3 {
  @mixin font ProximaNova-Regular, 14px, $station-primaryFontColor, -.23px, 22px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||| Gallery Editing  |||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin gallery-condensed-after {
  color: white;
  font-size: 10.4px;
}
@define-mixin gallery-condensed-slide-title {
  font-size: 16px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||| Gallery/Article Editing  |||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin component-settings-font-1 {
  color: $60gray;
  font-style: italic;
}
@define-mixin component-settings-font-2 {
  font-weight: 400;
  @mixin font Helvetica, Arial, em(24, 16), inherit, -.3, em(28, 24);
}
@define-mixin component-settings-font-3 {
  font-weight: 700;
  @mixin font Helvetica, Arial, em(16, 16), inherit, -.3, em(28, 16);
}
@define-mixin component-settings-font-4 {
  font-weight: 400;
  @mixin font Helvetica, Arial, em(16, 16), $easternBlue, -.3, em(18, 16);
}
@define-mixin component-settings-font-5 {
  font-weight: 400;
  @mixin font Helvetica, Arial, em(12, 16), $tundora, -.3, em(14, 12);
}
@define-mixin component-settings-font-6 {
  font-weight: 400;
  @mixin font Helvetica, Arial, em(12, 16), $halfBaked, -.3, em(14, 12);
}
@define-mixin component-settings-font-7 {
  font-weight: 400;
  @mixin font Helvetica, Arial, em(14, 16), inherit, -.3, em(16, 14);
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||| Alert Banner Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin alert-banner-font1 {
  @mixin font CircularStd-Medium, 18px, $black, -.3px, 22px;
}
@define-mixin alert-banner-font2 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 17px;
}

/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||| Brightcove Overlay Styleguide ||||||| */
/*>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin overlay-font1 {
  @mixin font CircularStd-Black, 16px, $white, inherit, 19px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||| Presented By Fonts Styleguide |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin presented-by-font1 {
  @mixin font ProximaNova-Regular, 14px, $black, -0.23px, 22px;
}
@define-mixin presented-by-font2 {
  @mixin font ProximaNova-Bold, 14px, $black, 0, 16px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||   Station Theme Manager Styleguide     |||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin station-theme-font1 {
  @mixin font CircularStd-Black, 20px, inherit, -.23px, 25px;
}
@define-mixin station-theme-font2 {
  @mixin font CircularStd-Black, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font3 {
  @mixin font CircularStd-BlackItalic, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font4 {
  @mixin font CircularStd-Book, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font5 {
  @mixin font CircularStd-BookItalic, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font6 {
  @mixin font CircularStd-Medium, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font7 {
  @mixin font CircularStd-MediumItalic, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font8 {
  @mixin font ProximaNova-Bold, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font9 {
  @mixin font ProximaNova-BoldIt, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font10 {
  @mixin font ProximaNova-Light, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font11 {
  @mixin font ProximaNova-LightIt, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font12 {
  @mixin font ProximaNova-Regular, 12px, inherit, 0px, 15px;
}
@define-mixin station-theme-font13 {
  @mixin font ProximaNova-RegularIt, 12px, inherit, 0px, 15px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||| Author Page Header Fonts Styleguide  ||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin author-page-header-font1 {
  @mixin font CircularStd-Black, 35px, $mineShaft, -.58px, 42px;
}
@define-mixin author-page-header-font2 {
  @mixin font CircularStd-Black, 20px, $redViolet, -.33px, 22px;
}
@define-mixin author-page-header-font3 {
  @mixin font ProximaNova-Regular, 18px, $black, inherit, 28px;
}
@define-mixin author-page-header-font4 {
  @mixin font CircularStd-Book, 14px, $black, -.27px, 17px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||| Latest Top Recirculation Slider Fonts Styleguide ||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin latest-top-recirc-slider-font1 {
  @mixin font CircularStd-Black, 12px, $black, -.2px, 14px;
}
@define-mixin latest-top-recirc-slider-font2 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||||||| Podcast Lead Fonts Styleguide |||||||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin podcast-lead-font1 {
  @mixin font CircularStd-Black, 35px, $black, -.58px, 42px;
}
@define-mixin podcast-lead-font2 {
  @mixin font ProximaNova-Light, 18px, $black, inherit, 25px;
}
@define-mixin podcast-lead-font3 {
  @mixin font CircularStd-Medium, 11px, $boulder, inherit, 14px;
}
@define-mixin podcast-lead-font4 {
  @mixin font CircularStd-Medium, 11px, $boulder, inherit, 13px;
}
@define-mixin podcast-lead-font5 {
  @mixin font CircularStd-Black, 24px, $black, -.58px, 29px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||| Podcasts Trending Podcasts Fonts Styleguide |||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin trending-podcasts-font1 {
  @mixin font CircularStd-Book, 12px, $boulder, inherit, 18px;
}
@define-mixin trending-podcasts-font2 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 17px;
}
@define-mixin trending-podcasts-font3 {
  @mixin font CircularStd-Medium, 16px, theme(primaryColor, $robinsEggBlue), -.26px, 19px;
}

/*>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<*/
/* ||||| Warning Fonts Styleguide ||||| */
/*>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<*/
@define-mixin warning-font1 {
  @mixin font ProximaNova-Regular, 20px, $black, inherit, 24px;
}
@define-mixin warning-font2 {
  @mixin font ProximaNova-Regular, 18px, $black, inherit, 22px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Mnified Content Feed Fonts Styleguide |||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin minified-content-feed-font1 {
  @mixin font CircularStd-Black, 16px, theme(primaryColor, $parisM), -.26px, 19px;
}
@define-mixin minified-content-feed-font2 {
  @mixin font CircularStd-Black, 20px, theme(primaryColor, $parisM), -.32px, 24px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||| Card Fonts Styleguide |||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin card-font1 {
  @mixin font CircularStd-Medium, 14px, $black, -.23px, 17px;
}
@define-mixin card-font2 {
  @mixin font CircularStd-Medium, 20px, $black, -.33px, 24px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||||||||||||| Podcast Lead Fonts Styleguide |||||||||||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin podcast-lead-font1 {
  @mixin font CircularStd-Black, 35px, $black, -.58px, 42px;
}
@define-mixin podcast-lead-font2 {
  @mixin font ProximaNova-Light, 18px, $black, inherit, 25px;
}
@define-mixin podcast-lead-font3 {
  @mixin font CircularStd-Medium, 11px, $boulder, inherit, 14px;
}
@define-mixin podcast-lead-font4 {
  @mixin font CircularStd-Medium, 11px, $boulder, inherit, 13px;
}
@define-mixin podcast-lead-font5 {
  @mixin font CircularStd-Black, 24px, $black, -.58px, 29px;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
/* ||||||| Permissions Fonts Styleguide ||||||| */
/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
@define-mixin permissions-font1 {
  @mixin font CircularStd-Black, 35px, $crimson, -.55px, 44px;
}
