@import "colors";

.layout {
  .layout__top,
  .layout__bottom,
  .layout__page-header {
    width: 100%;
  }
  .layout__bottom {
    display: flex;
    flex-direction: column;
  }
}

.layout__content {
  padding: em(30);
  margin: 0 auto;
  $contentPadding: em(60);
  .content__main,
  .content__secondary {
    width: 100%;
  }
}

@mixin default-screen {
  .layout {
    .layout__section-header,
    .layout__content {
      width: calc(em(1100) + $contentPadding);
    }
  }
}

@mixin large-screen {
  .layout {
    .layout__section-header,
    .layout__content {
      width: calc(em(940) + $contentPadding);
    }
  }
}

@mixin medium-screen {
  .layout {
    background-color: transparent;

    .layout__section-header,
    .layout__content {
      width: calc(100% - $contentPadding);
      max-width: em(728);
    }
  }
}

@mixin medium-small-screen {
  .layout {
    background-color: $white;

    .layout__section-header,
    .layout__content {
      padding: 0;
      width: calc(100% - em(40));
      max-width: em(440);
    }
  }
}

@mixin small-screen {
  .layout {
    .layout__section-header,
    .layout__content {
      padding: 0;
      width: calc(100% - em(40));
      max-width: em(320);
    }
  }
}
