@import "_global/fonts";
@import "_global/colors";

.layout--no-permissions:before {
  content: ' ';
  position: fixed;
  top: em(50);
  z-index: 100;
  background: rgba($boulderRGB, .75);
  height: 100vh;
  width: 100vw;
}

.layout--no-permissions .layout__no-permissions-message {
  @mixin permissions-font1;
  text-align: center;
  outline: $crimson thin solid;
  z-index: 110;
  background: $white;
  position: fixed;
  top: em(200, 35);
  width: 90vw;
  left: calc(5vw - em(10, 35));
  padding: em(10, 35);
}

/* editing template */
.kiln-edit-mode--template:not(.kiln-edit-mode--layout) {
  .kiln-placeholder,
  .body__circulation {
    background-color: $blue;
  }
}
/* editing layout */
.kiln-edit-mode--layout [data-uri*="/instances/default"] .kiln-placeholder {
  background-color: $pizazz;
}
