@define-mixin hidden-content {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Default (largest) Screen */
@define-mixin default-screen {
  @media only screen and (min-width: 1280px) {
    @mixin-content;
  }
}

/* Large Screen */
@define-mixin large-screen {
  @media only screen and (max-width: 1279px) {
    @mixin-content;
  }
}
@define-mixin only-large-screen {
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    @mixin-content;
  }
}

/* Medium Screen */
@define-mixin medium-screen {
  @media only screen and (max-width: 1023px) {
    @mixin-content;
  }
}
@define-mixin only-medium-screen {
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    @mixin-content;
  }
}

/* Medium-Small Screen */
@define-mixin medium-small-screen {
  @media only screen and (max-width: 480px) {
    @mixin-content;
  }
}

/* Small Screen */
@define-mixin small-screen {
  @media only screen and (max-width: 360px) {
    @mixin-content;
  }
}
@define-mixin vertical-align $position: relative {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@define-mixin inline-block {
  display: inline-block;
  vertical-align: top;
}
@define-mixin ul-columns $columns: 3, $gap: 100px {
  -webkit-column-count: $columns;
  -moz-column-count: $columns;
  column-count: $columns;
  -webkit-column-gap: $gap;
  column-gap: $gap;
  -moz-column-gap: $gap;
  width: 100%;
}

@define-mixin show__button {
  width: em(32);
  height: em(32);
  border-radius: 50%;
  margin-left: auto;
  box-shadow: 0 0 em(1) em(1) rgba(0,0,0,0.18), inset 0 0 em(4) em(1) $wildSand;
  background-color: $white;
  outline:0;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

@define-mixin show__play {
  @mixin show__button;

  &:after {
     border-top: em(8) solid transparent;
     border-bottom: em(8) solid transparent;
     border-left: em(12) solid $purple;
     margin-left: em(12);
     margin-top: em(8);
   }
}

@define-mixin show__pause {
  @mixin show__button;

  &:after {
    margin-top: em(9);
    margin-left: em(10);
    height: em(14);
    width: em(12);
    border: em(5) solid $purple;
    border-top: 0;
    border-bottom: 0;
    border-radius: em(1);
  }
}

@define-mixin show__stop {
  @mixin show__button;

  &:after {
     margin-top: em(10);
     margin-left: em(10);
     height: em(12);
     width: em(12);
     background-color: $purple;
   }
}

@define-mixin favorite-btn {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: em(16);
  height: em(28);
  width: em(28);
}

@define-mixin favorite-not-active {
  background: transparent url("/media/components/station-detail/favorite.svg");
  @mixin favorite-btn;
}
@define-mixin favorite-active {
  background: transparent url("/media/components/station-detail/favorite--active.svg");
  @mixin favorite-btn;
}

@define-mixin x-btn-background $size: em(20), $color: $purpleRGB {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='isolation:isolate' viewBox='0 0 100 100' width='100pt' height='100pt'%3E%3Cdefs%3E%3CclipPath id='_x-btn'%3E%3Crect width='100' height='100'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23_x-btn)'%3E%3Cpath d=' M 50 37.807 L 12.193 0 L 0 12.193 L 37.807 50 L 0 87.807 L 12.193 100 L 50 62.193 L 87.807 100 L 100 87.807 L 62.193 50 L 100 12.193 L 87.807 0 L 50 37.807 Z ' fill='rgb($color)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: $size;
}

