@define-mixin hidden-content {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

$browser-context: 16;
@define-mixin em $pixels, $context: $browser-context {
  font-size: calc(calc($pixels/$context) * 1em);
}