{{#*inline "event-lead" }}
  <h1 style="margin-bottom:1em; padding:2em; border-bottom: 1px dashed #ccc; color: #bbb">replace with lead component</h1>
{{/inline}}


<div class="component-events-list events-list"  data-uri="{{ default _ref _self }}">
  {{#each _computed.events as |event|}}
    {{#if (compare @index 0) }}
      {{> event-lead event }}
    {{else}}
      {{> content-card event }}
    {{/if}}
  {{/each}}
</div>