<div class="component-events-list events-list"  data-uri="{{ default _ref _self }}">
  {{#each _computed.events as |event|}}
    {{> content-card event _self=true }}
  {{/each}}
  {{#if moreContent}}
    {{!-- add load more button here, example: --}}
    {{!-- <li class="links__link--loadmore"
      <button class="more-content-feed__loadmore">
        <div class="loadmore__text">Load More</div>
      </button>
    </li> --}}
  {{/if}}
</div>
