<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--tag-page tag-page--{{tag}}{{ if @root.locals.edit ' editing' }}">
	{{> tag-page-header tagPageHeader }}
	{{> more-content-feed moreContentFeed }}
</section>
