<section class="component component--multi-column" data-uri="{{ default _ref _self }}">
  <div class="multi-column">
    <div class="multi-column__column multi-column__column--left" data-editable="leftCol">
      {{> component-list leftCol }}
    </div>
    <div class="multi-column__column multi-column__column--middle" data-editable="middleCol">
      {{> component-list middleCol }}
    </div>
    <div class="multi-column__column multi-column__column--right">
      <div class="multi-column__editable" data-editable="rightCol">
        {{> component-list rightCol }}
      </div>
      <div class="multi-column__ad multi-column__ad--half-page">
        {{> google-ad-manager googleAdHalfPage }}
      </div>
    </div>
  </div>
  <div class="multi-column__ad multi-column__ad--billboard">
    {{> google-ad-manager googleAdBillboard }}
  </div>
</section>
