<section class="component component--multi-column multi-column" data-uri="{{ default _ref _self }}">
  <div class="multi-column">
    <div class="multi-column__column multi-column__column--1" data-editable="col1">
      {{> component-list col1 }}
    </div>
    <div class="multi-column__column multi-column__column--2" data-editable="col2">
      {{> component-list col2 }}
    </div>
    <div class="multi-column__column multi-column__column--3">
      <div class="multi-column__editable" data-editable="col3">
        {{> component-list col3 }}
      </div>
      {{#if mediumRectangleTop }}
        <div class="multi-column__ad multi-column__ad--col3">
          {{> google-ad-manager mediumRectangleTop }}
        </div>
      {{/if}}
    </div>
  </div>
</section>
