<section role="main"
  data-track-type="section"
  data-uri="{{ default _ref _self }}"
  data-station-slug="{{ stationSlug }}"
  class="component component--host-page host-page--{{host}}{{ if @root.locals.edit ' editing' }}">
  {{> two-column-component twoColumnComponent}}
</section>
