<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--station-discover{{ if @root.locals.edit ' editing' }}">

  <select class="station-discover__dropdown--mobile">
    <option value="">Filter:</option>
    <option value="recent-stations">Recent</option>
    <option value="market-stations">{{station.city}} Stations</option>
    <option value="genre-stations">All {{station.genre_name}}</option>
  </select>

  <div id="discover__recent-stations" class="station-discover__stations-list stations-list--recent-stations">
    {{> stations-list recentStations }}
  </div>
  <div id="discover__market-stations" class="station-discover__stations-list stations-list--market-stations">
    {{> stations-list marketStations }}
  </div>
  <div id="discover__genre-stations" class="station-discover__stations-list stations-list--genre-stations">
    {{> stations-list genreStations }}
  </div>

</section>
