<div
	data-uri="{{ default _ref _self }}"
	class="component component--google-ad-manager google-ad-manager--{{adSize}}"
	data-editable="adSize"
>
	<div
		class="google-ad-manager__slot google-ad-manager__slot--{{adSize}}"
		data-adSize="{{adSize}}"
	></div>
</div>
{{!-- 970x250, 970x90, 728x90, 300x600, 300x250, 320x50, 100x35 --}}
