<section data-uri="{{ default _ref _self }}" class="component component--section-videos{{ if @root.locals.edit ' editing' }}" data-section="{{ sectionTitle }}" data-editable="sectionVideos">
  <h2><span>Radio.com Video</span></h2>
  <div class="section-lead__videos">
    <div class="section-lead__video section-lead__video--main section-lead__video--entertainment">
      <a href="" class="section-lead__link">
        <span class="section-lead__play-icon"></span>
        <img
          src="https://via.placeholder.com/780x439/666666/ffffff?text=Video%20Image%20Placeholder"
          srcset="https://via.placeholder.com/706x397/666666/ffffff?text=Video%20Image%20Placeholder 706w,
            https://via.placeholder.com/480x270/666666/ffffff?text=Video%20Image%20Placeholder 480w"
          sizes="(max-width: 480px) 100vw, (max-width: 1023px) 80vw, 780px"
          class="section-lead__image" />
      </a>
      <div class="section-lead__details">
        <span class="details__exclusive">Exclusive Video</span>
        <h3 class="details__title"><a href="" class="section-lead__link">Third Eye Blind's Stephan Jenkins Answers Rapid-Fire Questions</a></h3>
      </div>
    </div>
    <div class="section-lead__rail">
      <div class="section-lead__video section-lead__video--news">
        <a href="" class="section-lead__link">
          <span class="section-lead__play-icon"></span>
          <img
            src="https://via.placeholder.com/220x124/666666/ffffff?text=Video%20Image%20Placeholder"
            srcset="https://via.placeholder.com/480x270/666666/ffffff?text=Video%20Image%20Placeholder 480w"
            sizes="(max-width: 480px) 91.5vw,  220px"
            class="section-lead__image" />
        </a>
        <div class="section-lead__details">
          <h3 class="details__title"><a href="" class="section-lead__link">Mike Shinoda Details Story behind 'Post Traumatic' Solo Album</a></h3>
        </div>
      </div>
      <div class="section-lead__video section-lead__video--sports">
        <a href="" class="section-lead__link">
          <span class="section-lead__play-icon"></span>
          <img
            src="https://via.placeholder.com/220x124/666666/ffffff?text=Video%20Image%20Placeholder"
            srcset="https://via.placeholder.com/480x270/666666/ffffff?text=Video%20Image%20Placeholder 480w"
            sizes="(max-width: 480px) 91.5vw,  220px"
            class="section-lead__image" />
        </a>
        <div class="section-lead__details">
          <h3 class="details__title"><a href="" class="section-lead__link">5 Things That Make Alice Merton "Lash Out"</a></h3>
        </div>
      </div>
      <div class="section-lead__video section-lead__video--podcasts">
        <a href="" class="section-lead__link">
          <span class="section-lead__play-icon"></span>
          <img
            src="https://via.placeholder.com/220x124/666666/ffffff?text=Video%20Image%20Placeholder"
            srcset="https://via.placeholder.com/480x270/666666/ffffff?text=Video%20Image%20Placeholder 480w"
            sizes="(max-width: 480px) 91.5vw,  220px"
            class="section-lead__image" />
        </a>
        <div class="section-lead__details">
          <h3 class="details__title"><a href="" class="section-lead__link">Mike Shinoda Details Story behind 'Post Traumatic' Solo Album</a></h3>
        </div>
      </div>
      <div class="section-lead__video">
        <a href="" class="section-lead__link">
          <span class="section-lead__play-icon"></span>
          <img
            src="https://via.placeholder.com/220x124/666666/ffffff?text=Video%20Image%20Placeholder"
            srcset="https://via.placeholder.com/480x270/666666/ffffff?text=Video%20Image%20Placeholder 480w"
            sizes="(max-width: 480px) 91.5vw,  220px"
            class="section-lead__image" />
        </a>
        <div class="section-lead__details">
          <h3 class="details__title"><a href="" class="section-lead__link">5 Things That Make Alice Merton "Lash Out"</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
