<div class="component component--ad-tags" data-uri="{{ default _ref _self }}" data-editable="items" data-ad-tags="{{_computed.adTags}}">
  {{~#ifAll @root.locals.edit items.length ~}}
    <h4 class="editor-description">Ad Tags</h4>
    <ul class="ad-tags">
      {{~#each items as |adTag| ~}}
        <li class="ad-tags__item">
          {{adTag.text}}
        </li>
      {{~/each~}}
    </ul>
  {{~/ifAll~}}
</div>
