<section data-uri="{{ default _ref _self }}" class="component component--events-listing{{ if @root.locals.edit ' editing' }}">
  <div data-editable="content">
    {{> component-list content }}
  </div>
</section>
