{{#if video}}
  <div style="position: relative; display: block; max-width: 960px;">
    <div style="padding-top: 56.25%;">
      <iframe src="//players.brightcove.net/{{ locals.site.brightcoveAccountId }}/{{ locals.site.brightcovePlayerId }}_default/index.html"
        allow="encrypted-media"
         allowfullscreen=""
         webkitallowfullscreen=""
         mozallowfullscreen=""
         style="width: 640px; height: 360px;">
      </iframe>
    </div>
  </div>
{{/if}}
