<div data-uri="{{ default _ref _self }}" class="brightcove" data-editable="videoId">
  <div class="player-wrapper">
    {{#if videoId}}
      <div class="player">
        <video data-video-id="{{ videoId }}"
               data-account="1418490336"
               data-player="default"
               data-embed="default"
               data-application-id
               class="video-js"
               controls></video>
        <script src="//players.brightcove.net/1418490336/default_default/index.min.js"></script>
      </div>
    {{/if}}
  </div>
</div>
