<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--section section--{{sectionFront}}{{ if @root.locals.edit ' editing' }}">
	{{> google-ad-manager googleAdUnderStationsModule}}
	<div class="section__content-feed-container">
		{{> more-content-feed moreContentFeed }}
		{{> google-ad-manager googleAdRightRail}}
	</div>
</section>
