<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--section-front{{ if @root.locals.edit ' editing' }}">
  {{> section-lead sectionLead }}
  {{> section-videos sectionVideos }}
  {{> google-ad-manager googleAdUnderStationsModule}}
  {{> google-ad-manager googleAdRightRail}}
</section>
