<div id="{{ hashLink }}" class="component component--gallery-slide">
  <div class="slideEmbed">
    {{#each slideEmbed~}}
      {{~> (getComponentName _ref) this.data ~}}
    {{~/each}}
  </div>
  <div class="slideText gallery-slide__text">
    {{#if title}}
      <h2 class="gallery-slide__titlewrapper">
        {{!-- removed because @index isn't available here --}}
        {{!-- {{#if slidesNumbered}}<span class="gallery-slide__number">{{ reversibleOneBasedIndex @index reverseOrder totalSlides }}</span>{{/if}} --}}
        <span class="gallery-slide__title">{{ title }}</span>
      </h2>
    {{/if}}
    {{#if description}}<p class="gallery-slide__description">{{striptags description}}</p>{{/if}}
  </div>
</div>
