<div id="{{ hashLink }}" class="component component--gallery-slide">
  <div class="slideEmbed" data-editable="slideEmbed">
    {{> component-list slideEmbed }}
  </div>
  <div class="slideText gallery-slide__text">
    {{#if title}}
      <h2 data-editable="title" class="gallery-slide__titlewrapper">
        {{#if slidesNumbered}}<span class="gallery-slide__number">{{ reversibleOneBasedIndex @index reverseOrder totalSlides }}</span>{{/if}}
        <span class="gallery-slide__title">{{ title }}</span>
      </h2>
    {{/if}}
    {{#if description}}<p data-editable="description" class="gallery-slide__description">{{striptags description}}</p>{{/if}}
  </div>
</div>
