<section class="component component--yieldmo" data-uri="{{ default _ref _self }}" data-track-type="yieldmo">
  {{#if (compare placement '1') }}
    <div id='ym_2071731061939406471' class='ym' data-p-id='1876791844915545262'></div>
  {{else}}
    <div id='ym_2071731315686409865' class='ym' data-p-id='1876791844915545262'></div>
  {{/if}}
</section>
