<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--author-page author-page--{{author}}{{ if @root.locals.edit ' editing' }}">
  <div class="author-page__author">
    <div class="author__line"></div>
    <h1>{{author}}</h1>
  </div>

  {{> more-content-feed moreContentFeed}}
</section>
