{{#if videoId}}
<div class="component--verizon-media">
  <div class="player">
    <div class="player__video {{#unless showTitle}}player__video--hidden-title{{/unless}}">
      {{! TODO: Get VMG iframe code }}
    </div>
  </div>
</div>
{{/if}}
