{{#*inline "contestRulesList"}}
  {{#each _computed.contestRules as |ruleData| }}
    {{> contest-rules ruleData }}
  {{/each}}
{{/inline}}

<article role="main"
  data-uri="{{ default _ref _self }}"
  class="contest-rules-page component--static-page"
  itemscope
  itemtype="http://schema.org/Article">

  <section class="contest-rules-page__body">
    {{> contestRulesList }}
  </section>

</article>
