<section role="main">
  <div class="contest-rules-page">
    {{#each contestRules}}
      <div class="contest-rules-page__rule">
        <div>{{title}}</div>
        <div>{{date}}</div>
      </div>
    {{/each}}
  </div>
</section>