{{#*inline "rulesList"}}
  This is a placeholder component for contestRules component
{{/inline}}

<article
  role="main"
  data-uri="{{ default _ref _self }}"
  class="component component--contest-rules-page"
  itemscope
  itemtype="http://schema.org/Article"
>
  <div class="content__body">
    <h1>Contest Rules</h1>
    {{> rulesList}}
  </div>
</article>