<div class="component-content-card-thumb content-card-thumb content-card-thumb--event">
    <picture>
      <source media="(max-width: 360px)" srcset="{{ feedImgUrl }}?width=360&crop=16:9,offset-y0" />
      <img
        src="{{ feedImgUrl }}?width=480&crop=16:9,offset-y0"
        class="content-card-thumb__img"
        alt="{{ headline }}"
      />
    </picture>
</div>