<div data-uri="{{ default _ref _self }}" class="component component--section-lead{{ if @root.locals.edit ' editing' }}" data-section="{{ sectionTitle }}" data-editable="sectionLead">
  <div class="section-lead__article">
    <a href="" class="section-lead__link">
      <img
        src="https://via.placeholder.com/780x439/666666/ffffff?text=Article%20Image%20Placeholder"
        srcset="https://via.placeholder.com/620x349/666666/ffffff?text=Article%20Image%20Placeholder 620w,
          https://via.placeholder.com/706x397/666666/ffffff?text=Article%20Image%20Placeholder 706w,
          https://via.placeholder.com/480x270/666666/ffffff?text=Article%20Image%20Placeholder 480w"
        sizes="(max-width: 480px) 100vw, (max-width: 1023px) 80vw, (max-width: 1279px) 620px, 780px"
        class="section-lead__image" /><!--
      --><div class="section-lead__details">
          {{! @TODO - ON-63 Lead type variations need to be completed }}
        <span class="details__exclusive">Exclusive</span>
        <h2 class="details__title">Third Eye Blind's Stephan Jenkins Answers Rapid-Fire Questions</h2>
      </div>
    </a>
  </div>
  <div class="section-lead__article">
    <a href="" class="section-lead__link">
      <img
        src="https://via.placeholder.com/220x124/666666/ffffff?text=Article%20Image%20Placeholder"
        srcset="https://via.placeholder.com/140x79/666666/ffffff?text=Article%20Image%20Placeholder 140w,
          https://via.placeholder.com/343x193/666666/ffffff?text=Article%20Image%20Placeholder 343w,
          https://via.placeholder.com/440x248/666666/ffffff?text=Article%20Image%20Placeholder 440w"
        sizes="(max-width: 480px) 100vw, (max-width: 1023px) 343px, (max-width: 1279px) 140px, 220px"
        class="section-lead__image" /><!--
      {{! @TODO - ON-63 Lead type variations need to be completed }}
      --><div class="section-lead__details">
        <h2 class="details__title">Mike Shinoda Details Story behind 'Post Traumatic' Solo Album</h2>
      </div>
    </a>
  </div>
  <div class="section-lead__article">
    <a href="" class="section-lead__link">
      <img
        src="https://via.placeholder.com/220x124/666666/ffffff?text=Article%20Image%20Placeholder"
        srcset="https://via.placeholder.com/140x79/666666/ffffff?text=Article%20Image%20Placeholder 140w,
          https://via.placeholder.com/343x193/666666/ffffff?text=Article%20Image%20Placeholder 343w,
          https://via.placeholder.com/440x248/666666/ffffff?text=Article%20Image%20Placeholder 440w"
        sizes="(max-width: 480px) 100vw, (max-width: 1023px) 343px, (max-width: 1279px) 140px, 220px"
        class="section-lead__image" /><!--
      {{! @TODO - ON-63 Lead type variations need to be completed }}
     --><div class="section-lead__details">
        <h2 class="details__title">5 Things That Make Alice Merton "Lash Out"</h2>
      </div>
    </a>
  </div>
</div>
