<!DOCTYPE html>
<html lang="en" data-uri="{{ default _ref _self }}" data-layout-uri="{{ default _ref _layoutRef }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{#unless (includes (default _ref _self) "@published") }}
      <meta name="robots" content="noindex">
    {{/unless}}

    {{! head components }}
    <!-- data-editable="head" -->
      {{> component-list head }}
    <!-- data-editable-end -->

    {{! headLayout components }}
    <!-- data-editable="headLayout" -->
      {{> component-list headLayout }}
    <!-- data-editable-end -->
  </head>
  <body>
    <div id="app">
      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">App Loading...</span>
    </div>
    <script type="text/javascript" src="../scripts/bundle.45d0bf3bcd13e650c7c7.js"></script>
    <div class="top" data-editable="top">{{> component-list top }}</div>
    <div class="wrapper">
      <div class="main" data-editable="main">{{> component-list main }}</div>
      <div class="secondary" data-editable="secondary">{{> component-list secondary }}</div>
    </div>
    <footer class="bottom" data-editable="bottom">{{> component-list bottom }}</footer>
    <div class="kiln-internals" data-editable="kilnInternals">{{> component-list kilnInternals }}</div>
  </body>
</html>
