<div data-uri="{{ default _ref _self }}" class="stats-widget-list">
    <div class="stats-widget-list__container">
        <div class="stats-widget-list__title">
            <span>LATEST SCORES</span>
        </div>
        <div class="stats-widget-list__items">
            {{#each items}}
            <div class="stats-widget-list__item">
            </div>
            {{/each}}
        </div>
    </div>
</div>