<section class="component component--two-column-component" data-uri="{{ default _ref _self }}">
    <div class="two-column-component__left-column" data-editable="col1">
        {{> component-list col1}}
    </div>
    <div class="two-column-component__right-column" data-editable="col2">
        {{> component-list col2}}
    </div>
</section>