<section class="component component--two-column-component" data-uri="{{ default _ref _self }}">
    <div class="two-column-component__left-column" data-editable="column1">
        {{> component-list column1}}
    </div>
    <div class="two-column-component__right-column" data-editable="column2">
        {{> component-list column2}}
    </div>
</section>