<section class="component component--two-column-component" data-uri="{{ default _ref _self }}">
    <div class="two-column-component__column--1" data-editable="col1">
        {{> component-list col1}}
    </div>
    <div class="two-column-component__column--2" data-editable="col2">
        {{> component-list col2}}
    </div>
</section>