<div class="component--divider divider {{_computed.dividerClass}}" data-uri="{{ default _ref self }}">
  <h2 class="divider_title">
    {{#ifAny title @root.locals.edit}}
      <span data-editable="title">
        {{ title }}
      </span>
    {{/ifAny}}
  </h2>
</div>
