<div class="divider {{if @root.locals.edit ' editing'}} {{#if @root.locals.sectionFront}}divider--{{@root.locals.sectionFront}}{{/if}} {{#if @root.locals.station.id}}divider--station-front{{/if}}" data-uri="{{ default _ref self }}">
  <h2 class="divider_title">
    {{#ifAny title @root.locals.edit}}
      <span data-editable="title">
        {{ title }}
      </span>
    {{/ifAny}}
  </h2>
</div>
