<div class="component component--podcast-category-strip podcast-category-strip" data-uri="{{ default _ref _self }}">

{{!-- @TODO ON-1577 frontend ticket: 'see all' link --}}
<a href="{{ _computed.seeAllLink }}">See All</a>

{{!-- @TODO ON-1577 frontend ticket: podcast strip --}}
{{#if _computed.podcasts}}
{{#each _computed.podcasts as |podcast| }}
  <div>
    <img style="height:20px; width:20px;" src="{{podcast.imageUrl}}" alt="">
    <h3>{{podcast.title}}</h3>
  </div>
{{/each}}
{{/if}}

</div>
