<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}"
  class="component component--podcast-show-page podcast-show-page
  {{ if @root.locals.edit ' editing' }}"
>
  {{> breadcrumbs this }}
  
  {{#each metaTags}}
    <meta
      {{~#each this}} {{@key}}="{{this}}"{{/each~}}
    >
  {{/each}}

  <div class="podcast-show-page-lede">
    {{!-- @TODO: ON-1376 ON-1383 Podcast Show Lede --}}
    {{!-- lede goes here --}}
  </div>
  <div class="podcast-show-page-body">
    <ul class="tabs">
      {{!-- @TODO: ON-1398 Tabbing --}}
      <!-- add tab for each component here -->
    </ul>
    <div class="tabbed-content">
      {{!-- @TODO: ON-1398 Tabbing --}}

      <div class="tabbed-content-episodes">
        {{> podcast-episode-list episodeList }}
      </div>
      <div class="tabbed-content-discover">
        {{!-- @TODO: ON-1359 ON-1382 Podcast Discover --}}
        {{!-- add component partial here --}}
      </div>
    </div>
  </div>
</section>
