<div class="component component--podcast-front-page podcast-front-page" data-uri="{{ default _ref _self }}">

  {{#if enableHero}}
  {{#ifAny hero.length @root.locals.edit }}
  <div class="full-width" data-editable="hero">
    {{> component-list hero }}
  </div>
  {{/ifAny}}
  {{else}}
  <div class="podcast-front-page__header-banner">
    <h1>{{#if title }}{{ title }}{{else}}Podcasts{{/if}}</h1>
  </div>
  {{/if}}

  <div data-editable="content">
    {{> component-list content }}
  </div>
</div>