<div class="component component--events-listing-page{{ if @root.locals.edit ' editing' }} events-listing-page"  data-uri="{{ default _ref _self }}" data-editable="settings" data-lazy-loads="{{ lazyLoads }}">
  {{> events-lede eventsLede }}
  {{> events-list eventsList }}
</div>
