{{#if initialLoad }}
<section
  data-editable="settings"
  data-uri="{{ default _ref _self }}"
  class="component component--events-listing-page{{ if @root.locals.edit ' editing' }}"
  data-lazy-loads="{{ lazyLoads }}"
>
  {{> events-lede lede _self=true }}
  {{> events-list _computed.events _self=true }}
  {{#if @root.locals.edit }}
    <div data-editable="curatedEvents"></div>
  {{/if}}
</section>
{{else}}
  {{> events-list _computed.events _self=true }}
{{/if}}
