<div class="component-events-listing-page events-listing-page"  data-uri="{{ default _ref _self }}" data-editable="settings">
  {{!-- <div>LEDE</div> --}}
  {{!-- {{> events-lede _self=true }} --}}
  <div>EVENTS-LIST</div>
  {{> events-list eventsList }}
</div>