<div class="component component--events-listing-page{{ if @root.locals.edit ' editing' }} events-listing-page"  data-uri="{{ default _ref _self }}" data-editable="settings" data-lazy-loads="{{ lazyLoads }}">
  {{!-- <div>LEDE</div> --}}
  {{!-- {{> events-lede _self=true }} --}}
  {{> events-list eventsList }}
</div>
